3GRKnyP6aDe0usWH.json
{"createdAt":"2025-08-20T12:40:10.709Z","updatedAt":"2025-08-20T13:07:09.000Z","id":"3GRKnyP6aDe0usWH","name":"Módulo IA - VX - Oficial","active":false,"isArchived":true,"nodes":[{"parameters":{"contextWindowLength":10},"id":"31839e21-4be0-4963-9dec-08628c490202","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-2064,832],"typeVersion":1.2},{"parameters":{},"id":"0aef989f-4aa5-4ac6-86ce-557f82886d33","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[-1328,864],"typeVersion":1},{"parameters":{"operation":"fromJson","binaryPropertyName":"json","destinationKey":"json","options":{"encoding":"utf8"}},"id":"67d671b4-0d6c-463c-bd55-be21d4903f60","name":"Extract data from file","type":"n8n-nodes-base.extractFromFile","position":[-2640,576],"typeVersion":1},{"parameters":{"public":true,"initialMessages":"Olá ! 👋\nEm que posso lhe ajudar ?","options":{"subtitle":"Transformando negócio em resultados","title":"Olá ! 👋"}},"id":"c06dc034-cea2-4d46-a8dc-c516cb1a4b54","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-3056,576],"webhookId":"fb2f1abf-18d1-4741-9b22-aa379417dc69","typeVersion":1.1},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Here is the database schema: {{ $json.schema }}\nHere is the user request: {{ $('Chat Trigger').item.json.chatInput }}","options":{"humanMessage":"TOOLS\n------\nAssistant can ask the user to use tools to look up information that may be helpful in answering the users original question. The tools the human can use are:\n\n{tools}\n\n{format_instructions}\n\nUSER'S INPUT\n--------------------\nHere is the user's input (remember to respond with a markdown code snippet of a json blob with a single action, and NOTHING else):\n\n{{input}}","systemMessage":"Assistant is a large language model trained by OpenAI.\n\nAssistant is designed to be able to assist with a wide range of tasks, from answering simple questions to providing in-depth explanations and discussions on a wide range of topics. As a language model, Assistant is able to generate human-like text based on the input it receives, allowing it to engage in natural-sounding conversations and provide responses that are coherent and relevant to the topic at hand.\n\nAssistant is constantly learning and improving, and its capabilities are constantly evolving. It is able to process and understand large amounts of text, and can use this knowledge to provide accurate and informative responses to a wide range of questions. Additionally, Assistant is able to generate its own text based on the input it receives, allowing it to engage in discussions and provide explanations and descriptions on a wide range of topics.\n\nOverall, Assistant is a powerful system that can help with a wide range of tasks and provide valuable insights and information on a wide range of topics. Whether you need help with a specific question or just want to have a conversation about a particular topic, Assistant is here to assist.\n\nHelp user to work with the postgres database.\n\nPlease wrap any sql commands into triple quotes. You don't have a tool to run SQL, so the user will do that instead of you.\n\nYou must only generate SQL compatible with postgres\n\nApply the filter in the outer query.\nResponse format:\n\nShort description (1–2 lines).\n\nSQL inside triple backticks with sql language.\n\n(Optional) 1–3 optimization tips.\nProhibited: SQL outside of a code block; window functions in restricted contexts.\n"}},"id":"468babfc-1f97-45bd-929e-765008e5c860","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[-2160,576],"typeVersion":1.6},{"parameters":{"assignments":{"assignments":[{"id":"42abd24e-419a-47d6-bc8b-7146dd0b8314","name":"sessionId","type":"string","value":"={{ $('Chat Trigger').first().json.sessionId }}"},{"id":"39244192-a1a6-42fe-bc75-a6fba1f264df","name":"action","type":"string","value":"={{ $('Chat Trigger').first().json.action }}"},{"id":"f78c57d9-df13-43c7-89a7-5387e528107e","name":"chatinput","type":"string","value":"={{ $('Chat Trigger').first().json.chatInput }}"},{"id":"e42b39eb-dfbd-48d9-94ed-d658bdd41454","name":"schema","type":"string","value":"={{ $json.json }}"}]},"options":{}},"id":"e95d8f10-2254-41ca-9910-81c69dcca57f","name":"Combine schema data and chat input","type":"n8n-nodes-base.set","position":[-2400,576],"executeOnce":true,"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"ebbe194a-4b8b-44c9-ac19-03cf69d353bf","name":"query","type":"string","value":"={{ ($json.output.match(/SELECT[\\s\\S]*?;/i) || [])[0] || \"\" }}"}]},"includeOtherFields":true,"options":{}},"id":"a8e3331c-376c-4ecf-a964-50d3fdd5d351","name":"Extract SQL query","type":"n8n-nodes-base.set","position":[-1792,576],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"2963d04d-9d79-49f9-b52a-dc8732aca781","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.query }}","rightValue":""},{"id":"5f3b3c30-78e9-4ed0-b520-9153664540ec","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"78253cd9-6a3d-4bff-b7d8-503becea1bef","name":"Check if query exists","type":"n8n-nodes-base.if","position":[-1584,576],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"f944d21f-6aac-4842-8926-4108d6cad4bf","name":"sqloutput","type":"string","value":"={{ Object.keys($jmespath($input.all(),'[].json')[0]).join(' | ') }} \n{{ ($jmespath($input.all(),'[].json')).map(obj => Object.values(obj).join(' | ')).join('\\n') }}"}]},"options":{}},"id":"8c361f29-f70f-467a-9481-f996e03dc45b","name":"Format query results","type":"n8n-nodes-base.set","position":[-1072,384],"executeOnce":true,"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"aa55e186-1535-4923-aee4-e088ca69575b","name":"output","type":"string","value":"={{ $json.output }}\n\nSQL result:\n```markdown\n{{ $json.sqloutput }}\n```"}]},"options":{}},"id":"09b87162-c687-4aef-8598-469da2c84cc9","name":"Prepare final output","type":"n8n-nodes-base.set","position":[-640,672],"typeVersion":3.4},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"94d5479b-e666-4b34-ab74-8ca0c3b7e293","name":"Combine query result and chat answer","type":"n8n-nodes-base.merge","position":[-848,672],"typeVersion":3},{"parameters":{"model":"gpt-4.1-mini","options":{"maxTokens":1024,"temperature":0.2}},"id":"840ee075-7b8e-4b08-a9fc-15b14f12e5fd","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-2160,832],"typeVersion":1,"credentials":{"openAiApi":{"id":"H4HnbIJCN7JE8cR5","name":"OpenAi account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1OunYftUWLxbFf-i441IuadUO6eJ7ya7A","mode":"list","cachedResultName":"SFC_WEB.json","cachedResultUrl":"https://drive.google.com/file/d/1OunYftUWLxbFf-i441IuadUO6eJ7ya7A/view?usp=drivesdk"},"options":{"binaryPropertyName":"json"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2848,576],"id":"8b48c26e-0801-4d0d-ac28-f9c5f5e1e32e","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"A7dItjE7OWcTVPSQ","name":"Google Drive account"}}},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1328,384],"id":"79364d81-6cab-4dfb-942b-5cb16a2e0d4a","name":"Execute a SQL query","credentials":{"postgres":{"id":"6iqsLXZTqf2rK4YA","name":"Postgres account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Extract SQL query","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Extract SQL query":{"main":[[{"node":"Check if query exists","type":"main","index":0}]]},"Format query results":{"main":[[{"node":"Combine query result and chat answer","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Check if query exists":{"main":[[{"node":"Combine query result and chat answer","type":"main","index":1},{"node":"Execute a SQL query","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Extract data from file":{"main":[[{"node":"Combine schema data and chat input","type":"main","index":0}]]},"Combine schema data and chat input":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Combine query result and chat answer":{"main":[[{"node":"Prepare final output","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Download file":{"main":[[{"node":"Extract data from file","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Format query results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0cac9f65-f076-4891-b41b-d811cf5c682c","triggerCount":1,"shared":[{"createdAt":"2025-08-20T12:40:10.728Z","updatedAt":"2025-08-20T12:40:10.728Z","role":"workflow:owner","workflowId":"3GRKnyP6aDe0usWH","projectId":"bDUBly1zU3yziLIn"}],"tags":[]}