48s0HC916sOlb6kW.json
{"createdAt":"2025-09-01T14:36:59.509Z","updatedAt":"2025-11-07T18:56:06.000Z","id":"48s0HC916sOlb6kW","name":"Datamobil - Reader Web + Análise - Produção","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1QQSmwbXjo0-jTDq2a0_TrhvPruhROeON","mode":"list","cachedResultName":"ReaderWeb.json","cachedResultUrl":"https://drive.google.com/file/d/1QQSmwbXjo0-jTDq2a0_TrhvPruhROeON/view?usp=drivesdk"},"options":{"binaryPropertyName":"json"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2672,-16],"id":"449329df-841f-449f-8de6-ce12b73772ca","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"A7dItjE7OWcTVPSQ","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"5f3b3c30-78e9-4ed0-b520-9153664540ec","leftValue":"={{ $json.query }}","rightValue":"SELECT","operator":{"type":"string","operation":"contains"}},{"id":"46b1dd62-2b29-409b-81ed-590c3703721f","leftValue":"={{ $json.query }}","rightValue":"Olá","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"id":"a27d39c6-21ae-4112-98bf-2b69f3999375","name":"Check if query exists","type":"n8n-nodes-base.if","position":[-1424,-16],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"ebbe194a-4b8b-44c9-ac19-03cf69d353bf","name":"query","type":"string","value":"={{ ($json.output) }}"}]},"includeOtherFields":true,"options":{}},"id":"eb657184-2698-4e45-a7ef-17ca53f8c8f2","name":"Extract SQL query","type":"n8n-nodes-base.set","position":[-1648,-16],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"f78c57d9-df13-43c7-89a7-5387e528107e","name":"chatinput","type":"string","value":"={{ $('When chat message received').item.json.chatInput }}"},{"id":"e42b39eb-dfbd-48d9-94ed-d658bdd41454","name":"schema","type":"string","value":"={{ $json.json }}"}]},"options":{}},"id":"a2d68852-2113-4cdf-8378-a4355b49ab4d","name":"Combine schema data and chat input","type":"n8n-nodes-base.set","position":[-2224,-16],"executeOnce":true,"typeVersion":3.4},{"parameters":{"operation":"fromJson","binaryPropertyName":"json","destinationKey":"json","options":{"encoding":"utf8"}},"id":"04fb0465-3b26-4929-87d5-9982f4ed7688","name":"Extract data from file","type":"n8n-nodes-base.extractFromFile","position":[-2448,-16],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"b86f4807-aff3-42fb-a110-f43653368396","name":"Solicitacao","value":"={{ $json.query.Solicitacao }}","type":"string"},{"id":"66447438-499c-4ab3-88ee-e20835aa7618","name":"CodigoIManager","value":"={{ $json.query.CodigoIManager }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3120,-16],"id":"9a44d9cb-1220-44ed-867e-4afaeb629023","name":"Setar informações de Parâmetros"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8f105fa-8e7c-4309-9cd9-9a5c987ed77f","leftValue":"={{ $json.allowed }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-976,-112],"id":"03e17d6e-a6e4-448b-83b5-f8316cedad3c","name":"If1"},{"parameters":{"jsCode":"// Run Once for All Items\n\nconst items = $input.all();\n\n// --- Utils ------------------------------------------------------------------\n\nfunction hasMeaningfulContent(o, depth = 0) {\n  if (o == null) return false;\n  if (typeof o !== 'object') return String(o).trim() !== '';\n  if (depth > 6) return true;\n  if (Array.isArray(o)) return o.some(v => hasMeaningfulContent(v, depth + 1));\n  const keys = Object.keys(o);\n  if (keys.length === 0) return false;\n  return keys.some(k => hasMeaningfulContent(o[k], depth + 1));\n}\n\nfunction collectErrorsDeep(obj, found = []) {\n  if (obj == null) return found;\n\n  const pushErr = (val) => {\n    if (val == null) return;\n    const msg = typeof val === 'object' ? JSON.stringify(val) : String(val);\n    if (msg.trim()) found.push(msg.trim());\n  };\n\n  if (Array.isArray(obj)) {\n    for (const v of obj) collectErrorsDeep(v, found);\n    return found;\n  }\n\n  if (typeof obj === 'object') {\n    for (const [k, v] of Object.entries(obj)) {\n      const lower = k.toLowerCase();\n      if (lower === 'erro' || lower === 'error') pushErr(v);\n      else if (lower === 'message' && typeof v === 'string') pushErr(v);\n      collectErrorsDeep(v, found);\n    }\n    return found;\n  }\n\n  return found;\n}\n\nfunction dedupStrings(arr) {\n  const seen = new Set();\n  const out = [];\n  for (const s of arr) if (!seen.has(s)) { seen.add(s); out.push(s); }\n  return out;\n}\n\n// Preferência do Luis: $json.message.content.data\nfunction extractUsefulPayload(j) {\n  if (Array.isArray(j?.message?.content?.data)) return j.message.content.data.slice();\n  if (Array.isArray(j?.data)) return j.data.slice();\n  if (hasMeaningfulContent(j)) return [j];\n  return [];\n}\n\nfunction normalizeList(list) {\n  return list\n    .map(x => (x?.json ?? x))\n    .filter(o => hasMeaningfulContent(o))\n    .map(o => (typeof o === 'object' ? o : { value: o }));\n}\n\n// Captura a query de forma resiliente (suporta Set, Function e mesmo payload)\nfunction safeGetQuery() {\n  // 1) Se a query veio nos itens de entrada\n  for (const it of items) {\n    const j = it?.json ?? {};\n    const q = j.query ?? j.sql ?? j.consulta;\n    if (typeof q === 'string' && q.trim()) return q.trim();\n  }\n\n  // 2) Caso a query esteja em outro nó do fluxo\n  try {\n    // Altere o nome abaixo para o nó onde a SQL é montada (ex: \"Extract SQL query\" ou \"Montar Query\")\n    const fromNode = $items('Extract SQL query', 0, 0);\n    for (const it of fromNode ?? []) {\n      const j = it?.json ?? {};\n      const q = j.query ?? j.sql ?? j.consulta;\n      if (typeof q === 'string' && q.trim()) return q.trim();\n    }\n  } catch (_) { /* ignora erros */ }\n\n  return null; // não encontrada\n}\n\nfunction safeGetPedidoCliente() {\n  // 1) Se a query veio nos itens de entrada\n  for (const it of items) {\n    const j = it?.json ?? {};\n    const q = j.query ?? j.sql ?? j.consulta;\n    if (typeof q === 'string' && q.trim()) return q.trim();\n  }\n\n  // 2) Caso a query esteja em outro nó do fluxo\n  try {\n    const fromNode = $('Combine schema data and chat input').first().json.chatinput\n    for (const it of fromNode ?? []) {\n      const j = it?.json ?? {};\n      const q = j.query ?? j.sql ?? j.consulta;\n      if (typeof q === 'string' && q.trim()) return q.trim();\n    }\n  } catch (_) { /* ignora erros */ }\n\n  return null; // não encontrada\n}\n\n\n// --- Fluxo ------------------------------------------------------------------\n\n// 1) Sem entradas\nif (!items || items.length === 0) {\n  return [{ json: { Erro: 'Não foram encontrados dados para esta solicitação' } }];\n}\n\n// 2) Procure erros em todo o payload bruto\nlet erros = [];\nfor (const it of items) {\n  const j = it?.json ?? {};\n  collectErrorsDeep(j, erros);\n}\nerros = dedupStrings(erros);\n\n// 3) Se achou erro, retorna somente { Erro }\nif (erros.length > 0) {\n  return [{ json: { Erro: erros[0] } }];\n}\n\n// 4) Extrair dados dos formatos suportados\nlet all = [];\nfor (const it of items) {\n  const j = it?.json ?? {};\n  all.push(...extractUsefulPayload(j));\n}\n\n// 5) Fallback: cada item.json\nif (all.length === 0) {\n  all = items.map(i => i?.json ?? {});\n}\n\n// 6) Checar erros dentro da lista\nlet innerErrors = [];\ncollectErrorsDeep(all, innerErrors);\ninnerErrors = dedupStrings(innerErrors);\nif (innerErrors.length > 0) {\n  return [{ json: { Erro: innerErrors[0] } }];\n}\n\n// 7) Limpeza de dados\nconst rows = normalizeList(all);\n\n// 8) Captura a query (sem quebrar se não existir)\nconst query = safeGetQuery();\n\n// 9) Sem dados → erro padrão\nif (rows.length === 0) {\n  return [{ json: { Erro: 'Não foram encontrados dados para esta solicitação' } }];\n}\n\n// 10) OK: retorna SEMPRE { data, query }\nreturn [{ json: { data: rows, query } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,-16],"id":"039ca5bd-ff1f-4a03-9f02-ff98030a859e","name":"Repassar dados"},{"parameters":{"jsCode":"// Entrada: { sql: \"SELECT ...\", userPrompt: \"...\" }  (ajuste nomes se preciso)\nlet sql = ($('Extract SQL query').first().json.query || \"\").trim();\n\n// 1) Remove comentários (-- e /* */) e normaliza espaços\nconst stripComments = s => {\n  // remove /* ... */ (multilinha)\n  s = s.replace(/\\/\\*[\\s\\S]*?\\*\\//g, ' ');\n  // remove -- até o fim da linha\n  s = s.replace(/--.*$/gm, ' ');\n  return s;\n};\nconst cleaned = stripComments(sql).replace(/\\s+/g, ' ').trim();\n\nconst forbidden = /\\b(SOMENTE|INSERT|UPDATE|DELETE|MERGE|CREATE|ALTER|DROP|TRUNCATE|GRANT|REVOKE|COMMENT|VACUUM|COPY|REFRESH|CALL|DO|BEGIN|COMMIT|ROLLBACK|SET|LOCK|CLUSTER|REINDEX|DISCARD)\\b/i;\nif (forbidden.test(cleaned)) {\n  return [{ \n    allowed: false, \n    reason: \"Contém comando proibido.\", \n    erro: `Somente SELECT é permitido. Não posso executar DDL/DML.\n    Detalhes: ` + $input.first().json.output\n  }];\n}\n\nreturn [{ allowed: true, sql }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1200,-112],"id":"95d09280-0d68-40be-8e77-9c398291de2b","name":"Extrair query"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Run Once for Each Item\n// devolve UM item por entrada (sem colchetes)\nconst msg = $json.output; \nreturn {\n  json: {\n      erro:msg ?? \"Por favor, forneça a consulta ou pergunta específica que deseja realizar com base no esquema fornecido.\"\n  }\n};\n\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,176],"id":"e929fa12-fa86-4046-96af-562840faefc2","name":"Mensagem de query inválida"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Run Once for Each Item\n/**\n const msg = \"Solicitação contém comando proibido, somente SELECT é permitido. Não posso executar DDL/DML.\";\n */\nconst msg = $json.erro;\nreturn {\n  json: { erro: msg }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,-16],"id":"e8bb5448-b868-4c8e-a4f5-3f84b32340a5","name":"Mensagem de query Proibida"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const item = $input.item;\nconst j = item.json;\n\nconst configuracaoPorCliente = {\n  \"0001\": {\n    host: \"readerweb.crn36nipjstz.us-east-1.rds.amazonaws.com\",\n    database: \"readerweb_0926_teste\",\n    user: \"root\",\n    senha: \"iF9Z!BE4gy\",\n    porta: 3306,\n  },\n  \"3738\": {\n    host: \"readerweb.crn36nipjstz.us-east-1.rds.amazonaws.com\",\n    database: \"readerweb_0926_teste\",\n    user: \"root\",\n    senha: \"iF9Z!BE4gy\",\n    porta: 3306,\n  },\n  \"0962\": {\n    host: \"teste1.imanager.inovamobil.com.br\",\n    database: \"readerweb_0962\",\n    user: \"teste\",\n    senha: \"teste.1234@\",\n    porta: 3306,\n  },\n};\n\n// ==== OBRIGATÓRIO TER código do IManager ====\nconst codigoIManager = (j.CodigoIManager ?? \"0962\");\nconst selected = configuracaoPorCliente[codigoIManager];\nif (!selected) {\n  throw new Error(\n    `Cliente ` + codigoIManager + ` não informado, favor validar para utilização do módulo.`\n  );\n}\n\nj.configuracao = {\n    host: selected.host,\n    database: selected.database,\n    user: selected.user,\n    password: selected.senha,\n    port: selected.porta,\n  };\n\nreturn item;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2896,-16],"id":"10dff0e9-6967-41bf-b519-57e707e508c0","name":"Constantes"},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"bccd3e43-0669-4800-91b0-5035034b73d9","name":"Executar query","type":"n8n-nodes-base.mySql","position":[-752,-208],"typeVersion":2.4,"alwaysOutputData":true,"credentials":{"mySql":{"id":"w2ul7xQhpE4d1ssF","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Captura o node \"Combine schema data and chat input\"\nconst combineNode = $('Combine schema data and chat input').first();\nconst pedido = combineNode?.json?.chatinput || '';\n\n// Captura o dataset atual\nconst src = $json.envelope ?? $json;\nconst dataIn = Array.isArray(src?.resultado?.data)\n  ? src.resultado.data\n  : Array.isArray(src?.data)\n  ? src.data\n  : [];\n\n// Normaliza chaves e converte valores numéricos\nconst normalizeKey = (k) =>\n  k\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/\\s+/g, '_')\n    .replace(/[^\\w]/g, '_')\n    .replace(/_+/g, '_')\n    .replace(/^_|_$/g, '')\n    .toLowerCase();\n\nconst toNumber = (v) =>\n  typeof v === 'string' && /^\\s*\\d+(?:[.,]\\d+)?\\s*$/.test(v)\n    ? Number(v.replace(',', '.'))\n    : v;\n\nconst dataNorm = (dataIn || []).map((row) => {\n  const out = {};\n  for (const [k, v] of Object.entries(row)) {\n    const nk = normalizeKey(k);\n    const nv = toNumber(v);\n    out[nk] = nv;\n    if (!(k in out)) out[k] = nv; // mantém original também\n  }\n  return out;\n});\n\n// Monta o envelope final para o BILL\nreturn [\n  {\n    json: {\n      envelope: {\n        pedido_cliente: pedido || src.pedido_cliente || '—',\n        resultado: {\n          data: dataNorm,\n          query: src?.resultado?.query || src?.query || '',\n        },\n        metadados: src.metadados || {\n          origem: 'n8n',\n          unidade: 'clientes',\n          moeda: 'BRL',\n        },\n      },\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,176],"id":"35456242-c5a4-4444-bfb7-641b7fe148df","name":"Gerar envelope de dados e solicitação"},{"parameters":{"jsCode":"// Agora o Merge já trouxe os dois lados num único item (json único)\nconst M = $json || {};\n\nconst pedido_cliente =$('Combine schema data and chat input').first().json.chatinput;\n  \nconst data =\n  M.data ??\n  M.envelope?.resultado?.data ??\n  null;\n\nconst query =\n  M.query ??\n  M.envelope?.resultado?.query ??\n  null;\n\n// Erros podem ter vindo de Repassar dados\nconst erro  = M.erro ?? M.error ?? null;\nconst erros = Array.isArray(M.Erros) ? M.Erros\n           : Array.isArray(M.erros) ? M.erros\n           : Array.isArray(M.errors) ? M.errors\n           : [];\n\n// A análise pode ter vindo do Analista em várias chaves\nconst diagnostico =$input.first().json[\"Diagnóstico\"];\n\nconst hasError = !!erro || (Array.isArray(erros) && erros.length > 0);\n\nreturn [{\n  json: {\n    pedido_cliente,\n    data,\n    query,\n    erro,\n    erros,\n    diagnostico: hasError ? null : diagnostico,\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,48],"id":"f9e5bb69-6886-4c20-b64a-2ad21ebd17ad","name":"Unificar Resultado"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5787e004-2bc5-4530-8e20-cea5b52f05ef","leftValue":"={{ !!(\n  $json.Erro\n    ? (Array.isArray($json.Erro)\n        ? $json.Erro.length > 0\n        : String($json.Erro).trim() !== '')\n    : false\n) }}","rightValue":0,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,112],"id":"4f401b86-a15d-4404-a6c7-a18d1b8b4803","name":"Gerou algum erro ?"},{"parameters":{"promptType":"define","text":"=Here is the database schema: {{ $json.schema }}\nHere is the user request: {{ $json.chatinput }}","options":{"systemMessage":"Você é um gerador de SQL para MySQL 8.0+, guiado por um JSON chamado SCHEMA.\nSeu objetivo é gerar apenas consultas SELECT 100% válidas e coerentes com o SCHEMA.\nNunca produza instruções que criem, alterem, excluam ou modifiquem dados.\n\n⚙️ CONFIGURAÇÕES DE DIALETO E FORMATAÇÃO\n\nDialeto: MySQL 8.0+\n\nIdentificadores (tabelas e colunas): sempre entre crases → `...`\n\nStrings: entre aspas simples → 'texto'\n\nProibido:\n\nAspas duplas (\"...\")\n\nPrefixos de schema (ex.: public.)\n\nPonto e vírgula (;) ao final da query\n\nCase: respeitar exatamente o case do SCHEMA\n\nSeparador decimal: ponto .\n\nPalavras reservadas só podem ser usadas se estiverem entre crases.\n\n\n🔒 POLÍTICA DE SEGURANÇA\nSomente SELECT é permitido.\nNão posso criar, alterar, inserir ou deletar.\nReescreva seu pedido como um SELECT.\n\nComandos proibidos:\nINSERT, UPDATE, DELETE, MERGE, CREATE, ALTER, DROP, TRUNCATE,\nGRANT, REVOKE, COMMENT, VACUUM, COPY, REFRESH, CALL, DO, BEGIN,\nCOMMIT, ROLLBACK, SET, LOCK, CLUSTER, REINDEX, DISCARD.\n\n\nSe o usuário pedir algo que envolva qualquer comando acima, responda somente com:\n\n❌ Somente SELECT é permitido. Não posso criar, alterar, inserir ou deletar. Reescreva seu pedido como um SELECT.\n\n\n\n🧩 REGRAS DE USO DO SCHEMA\n\nSó use colunas e tabelas que existem no SCHEMA JSON.\n\nRespeite os tipos, nomes e cases definidos.\n\nSe o campo solicitado não existir, responda:\n\n❌ Não é possível gerar a consulta porque o campo não existe no SCHEMA.\n\n\n🔁 USO DE METADADOS DO SCHEMA\n\nO SCHEMA JSON contém informações adicionais sobre cada tabela e coluna, incluindo:\n\nPolíticas de deduplicação (meta.deduplication)\n\nReferências mensais (meta.month_reference)\n\nEstrutura de pivot (meta.pivot)\n\nFunções de coluna (meta.role)\n\nSempre que esses metadados estiverem presentes:\n\nAplique automaticamente as regras de deduplicação:\nselecione apenas a linha mais recente por combinação de campos definidos em partition_by (geralmente CodigoMatriculaCliente + MesAnoReferência),\nusando ROW_NUMBER() e Sequencia DESC, sem usar agregações numéricas.\n\nQuando o pedido envolver duas ou mais referências de mês/ano,\nuse as definições de meta.pivot para gerar um PIVOT:\n\níndice: pivot.index\n\ncolunas: pivot.columns\n\nvalores: os campos solicitados que existam em pivot.value_fields\n\nformato: long_format se nenhum campo solicitado estiver na lista.\n\nNunca use SUM, AVG ou COUNT para eliminar duplicatas; respeite allow_numeric_aggregation=false.\n\nUse as expressões de data definidas em month_reference.to_date_expr para comparar ou ordenar períodos.\n\nSe o SCHEMA informar \"meta_class\": \"analytical_view\",\ninterprete essa tabela como visão de análise temporal, aplicando as regras acima automaticamente.\n\nMySQL 8 NÃO possui PIVOT: nunca use a palavra-chave PIVOT/UNPIVOT. Emule o pivot criando uma CTE por referência com ROW_NUMBER() (rn=1) e faça JOIN entre as CTEs por CodigoMatriculaCliente (ou LEFT+RIGHT+UNION quando precisar).”\n\n“Quando 2+ referências forem detectadas: proíbe SUM/AVG/COUNT/MAX/MIN e GROUP BY para deduplicar; use apenas janela + JOIN.”\n\n\n🧭 SAÍDA EM PIVOT (obrigatória para 2+ referências)\n- Se o pedido envolver `vhistóricodeleitura` e forem detectadas 2+ referências mensais:\n  • Gere PIVOT com índice `CodigoMatriculaCliente`, colunas `MesAnoReferência`\n  • Use como valores APENAS os campos solicitados que existam em `meta.pivot.value_fields`\n  • Sem agregação numérica; deduplique com ROW_NUMBER() por cliente/mês (Sequencia DESC)\n- Nome das colunas do PIVOT: <Campo>_<MM>_<YYYY> (ex.: ConsumoFaturado_06_2022).\n- ✅ CHECK DE CONFORMIDADE (obrigatório — não imprimir):\n  1) Existem pelo menos duas colunas cujo nome termina em _MM_YYYY?\n  2) Cada coluna de valor solicitada está replicada por mês? (ex.: ConsumoFaturado_06_2022 e ConsumoFaturado_07_2022)\n  3) A consulta contém a deduplicação por Sequencia (janela ou subconsulta)?\n  4) Não há SUM/AVG/COUNT para remover duplicidade.\nSe qualquer item falhar, regenere a consulta até atender aos quatro itens.\n\n\n\n\n🧮 COMPORTAMENTO GERAL\n\nGere apenas SELECTs legíveis e válidos.\n\nO foco é montar a query-base corretamente (sem regras de referência ou coorte).\n\nNão precisa aplicar as travas avançadas do modo anterior.\n\nPode usar agregações (SUM, AVG, COUNT, etc.) e WHERE, GROUP BY, ORDER BY, LIMIT.\n\n🔁 REGRAS ESPECÍFICAS PARA vhistóricodeleitura\n\nQuando a consulta mencionar “análise”, “comparar”, “referência”, “mês” ou “período”, e envolver a tabela vhistóricodeleitura,\nnão retorne linhas duplicadas por cliente e mês.\n\nNesse caso, retorne apenas uma linha por (CodigoMatriculaCliente, MesAnoReferência).\n\nNunca utilize funções de soma (SUM, COUNT, AVG, etc.) para eliminar duplicidades.\n\nUse o campo Sequencia como critério: selecione a linha de maior Sequencia (ou a última disponível) para cada combinação de cliente e referência.\n\nA query deve conter:\n\ncláusula PARTITION BY CodigoMatriculaCliente, MesAnoReferência\n\ne ROW_NUMBER() OVER (...) ou subconsulta equivalente,\n\nsem agregações matemáticas.\n\nExemplo de comportamento esperado:\n\nPedido: “Analise os consumos de 06 e 07/2022.”\nGeração correta: uma linha por cliente/mês, usando WHERE MesAnoReferência IN ('06/2022','07/2022') e lógica de deduplicação via Sequencia.\n\n\n📤 SAÍDA\n\nRetorne apenas o SQL final, sem explicações, sem comentários, e sem ponto e vírgula no fim.","maxIterations":10,"returnIntermediateSteps":true}},"id":"8036a9bf-017d-45bc-8c5e-0618c8b99b35","name":"Gerador de Query","type":"@n8n/n8n-nodes-langchain.agent","position":[-2000,-16],"typeVersion":1.6},{"parameters":{"promptType":"define","text":"={\n  \"pedido_cliente\": \"{{$json.envelope.pedido_cliente}}\",\n  \"resultado\": {\n    \"data\": {{ JSON.stringify($json.envelope.resultado.data) }},\n    \"query\": \"{{$json.envelope.resultado.query}}\"\n  },\n  \"metadados\": {{ JSON.stringify($json.envelope.metadados) }}\n}","options":{"systemMessage":"⦃\nVocê é BILL, consultor técnico e estratégico especializado em saneamento básico.\nSua missão é analisar o pedido_cliente e o resultado.data, produzindo um diagnóstico consultivo em JSON válido, com rigor técnico, sem texto fora do JSON.\nUse somente os dados de resultado.data para cálculos e análise.\nNão presuma variáveis ausentes no dataset.\n\n⦃\n\"🎯 cenário\": \"Contextualize o motivo do pedido, descrevendo a origem da demanda (operacional, comercial, ambiental ou institucional). Mostre o problema real a ser enfrentado e sua importância estratégica para a concessionária ou município. Explique o que está em jogo — impacto na receita, qualidade do serviço, regulação ou imagem pública\",\n\n\"🧭 contexto_setorial\": \"Compare o desempenho local com benchmarks nacionais, metas regulatórias e boas práticas do setor. Utilize referências de dados do SNIS 2023 (divulgados em 2025), ANA, Instituto Trata Brasil, ONDAS, ABCON/SINDCON, Instituto Água e Saneamento e demais fontes oficiais. Mostre onde o cenário analisado se destaca ou se distancia das médias nacionais e de casos de sucesso.\",\n\n\"📈 indicadores\": ⦃\n\"📝 descrição\": \"📝 descrição\": \"Analise o dataset e reconheça automaticamente se ele está no formato de linha única com colunas agregadas (ex.: TotalClientes_09_2025, ConsumoMedio_09_2025) ou no formato de múltiplos registros. Quando houver colunas com valores numéricos mesmo em uma única linha, trate esses campos como indicadores quantitativos e utilize-os diretamente nos cálculos. Sempre que possível, identifique e nomeie os campos com base em seus sufixos (ex.: '_MM_AAAA' indicando referência temporal). Nunca conclua ausência de dados quantitativos se houver valores numéricos explícitos, mesmo que o dataset tenha apenas uma linha. Quando houver linha única com colunas agregadas, trate essas colunas como indicadores numéricos principais (use o valor da coluna; não conte linhas). Use também as chaves normalizadas se presentes.\",\n\n\"🔢 valores\": ⦃\n\"principais_métricas\": \"Liste as métricas calculadas ou identificadas automaticamente a partir dos nomes e valores das colunas. Por exemplo: total de registros, número de ocorrências, consumo médio, percentual de cobertura, variação entre períodos etc.\",\n\"resumo_quantitativo\": \"Apresente os principais valores consolidados (somas, contagens, médias, percentuais), com duas casas decimais. Se houver colunas com nomes de referência temporal (ex.: _07_2025, _09_2025), identifique tendências e diferenças entre períodos.\",\n\"análise_interpretativa\": \"Descreva de forma técnica o que os valores significam — se indicam melhora, piora, estabilidade, perda, ganho ou comportamento atípico. Sempre que possível, relacione com parâmetros de desempenho setorial.\" ⦄\n⦄,\n\n\"🧾 descrição\": \"Apresente um diagnóstico técnico claro e objetivo, interpretando as possíveis causas e efeitos dos resultados encontrados. Relacione os dados a práticas reais de campo, comportamento de consumo, operação de rede, controle de perdas ou atendimento. Destaque hipóteses plausíveis, pontos de atenção e oportunidades de validação.\",\n\n\"🧠 estratégias\": [\"Indique diretrizes de médio prazo (3–12 meses) que ataquem a causa do problema identificado, priorizando eficiência operacional, sustentabilidade financeira e conformidade regulatória. Inclua recomendações de integração tecnológica, revisão de processos ou ampliação de programas.\"],\n\n\"⚙️ ações\": [\"Descreva medidas curtas e específicas (≤30 dias), apontando responsáveis, prioridade e resultado esperado. Inclua auditorias, ajustes sistêmicos, revisões de cadastro, inspeções em campo ou comunicação direta com usuários.\"],\n\n\"⚠️ riscos_e_oportunidades\": ⦃\n\"⛔ riscos\": [\"Liste ameaças reais observadas a partir dos dados, como perdas comerciais, riscos de autuação regulatória, insatisfação do usuário, falhas de medição, erros de leitura ou inconsistências operacionais.\"],\n\"✅ oportunidades\": [\"Evidencie ganhos concretos possíveis — como aumento de receita, melhoria da confiabilidade dos dados, redução de reclamações, fortalecimento institucional e aprimoramento da imagem junto à sociedade e ao regulador.\"]\n⦄,\n\n\"🧩 decisões_futuras\": [\"Formule questões estratégicas que orientarão a próxima etapa de análise ou decisão, como: 'Qual o impacto financeiro da correção?', 'Quais investimentos são prioritários?', 'Há sinergia com outros programas ou metas da agência reguladora?'.\"],\n\n\"🧷 resumo_consultivo\": \"Elabore uma conclusão executiva e assertiva (máx. 10 linhas) integrando o cenário, as evidências encontradas e as recomendações prioritárias. Destaque o valor estratégico do achado e o benefício direto de agir sobre ele — para o equilíbrio econômico, a eficiência operacional e a sustentabilidade do saneamento.\"\n⦄\n\nFontes oficiais de apoio:\n\nANA – Agência Nacional de Águas e Saneamento Básico\n\nSNIS – Sistema Nacional de Informações sobre Saneamento (ano-base 2023, divulgado em 2025)\n\nInstituto Trata Brasil\n\nONDAS – Observatório Nacional dos Direitos à Água e ao Saneamento\n\nABCON/SINDCON, CBIC Infraestrutura\n\nSabesp, Copasa, Aegea, Rio+Saneamento\n\nAgências reguladoras: ARSESP, ADASA, AGEMS, ARISB, AGEREG etc.\n\nPlataforma “Municípios e Saneamento” – Instituto Água e Saneamento (dados para os 5.570 municípios brasileiros) \nIAS - Instituto Água e Saneamento\n+1\n\nExplore & Compare – Plataforma “Municípios e Saneamento” (módulo comparativo) \nIAS - Instituto Água e Saneamento\n+1\n\nRegras adicionais:\n\nDetecte o tema do pedido (ex: leitura, consumo, perdas, qualidade, regulação) e adapte.\n\nUtilize apenas colunas presentes no dataset para calcular indicadores, percentuais e correlações.\n\nNão adicione campos ou suposições não suportadas pelos dados.\n\nSempre cite ano-base ao referenciar dados de benchmark ou relatório.\n\nFale com autoridade técnica e institucional.\n\nNão produza texto fora do JSON.\n⦄","maxIterations":10,"returnIntermediateSteps":true}},"id":"dc67cd37-dfbb-47e6-80da-75b55d363cf3","name":"Analista de Dados","type":"@n8n/n8n-nodes-langchain.agent","position":[144,112],"typeVersion":1.6,"onError":"continueRegularOutput"},{"parameters":{"model":"gpt-4.1-mini","options":{"maxTokens":1024,"temperature":0.2}},"id":"f7a5864e-770b-4346-a3b5-89585601e6eb","name":"OpenAI Chat Model gerador de Query","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-2000,208],"typeVersion":1,"credentials":{"openAiApi":{"id":"H4HnbIJCN7JE8cR5","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"04225153"},"id":"6d2a647a-9f8b-4351-86fc-a8ecbcbbc1bd","name":"Window Buffer Memory Analista de dados","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[288,336],"typeVersion":1.2},{"parameters":{"model":"gpt-4.1-mini","options":{"maxTokens":1024,"temperature":0.2,"maxRetries":1}},"id":"ad1bed0e-0359-4a50-b5ae-e74d4ba2795e","name":"OpenAI Chat Model Analista de dados","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[144,304],"typeVersion":1,"credentials":{"openAiApi":{"id":"H4HnbIJCN7JE8cR5","name":"OpenAi account"}}},{"parameters":{"contextWindowLength":10},"id":"92509306-8e2c-4b9b-85de-daeaffe92145","name":"Memória gerador de query","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-1856,208],"typeVersion":1.2},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[672,-64],"id":"cfd2c79a-f8a0-4c57-81ac-f967f386de88","name":"Unificar saidas"},{"parameters":{"assignments":{"assignments":[{"id":"c3123cce-0fd1-4e46-9107-a78437776d9c","name":"Saida","value":"={{ \"📊 Resultado da análise:\\n\\n\" + JSON.stringify($json, null, 2) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,256],"id":"fb3ac015-b5f7-48d2-9a27-1ea5248ed031","name":"Apresentar Dados"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5787e004-2bc5-4530-8e20-cea5b52f05ef","leftValue":"={{ $json.Erro.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[864,-64],"id":"de07ec64-29f3-43a1-989e-9e6fa8f3c3e0","name":"Gerou algum erro ?1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1104,-240],"id":"61889611-6081-4d92-af92-3b1bfcb583f5","name":"Respond to Webhook1"},{"parameters":{"jsCode":"// === captação do bruto (igual antes) ===\nconst steps = $json.intermediateSteps ?? [];\nlet raw =\n  (steps.length ? (steps[steps.length - 1].output ?? steps[steps.length - 1].toolOutput ?? steps[steps.length - 1].result) : null)\n  ?? $json.output ?? $json.text ?? $json.response ?? \"\";\n\nif (raw && typeof raw === \"object\") {\n  var obj = raw;\n} else {\n  raw = String(raw).trim()\n    .replace(/^```(?:json)?\\s*/i, \"\").replace(/\\s*```$/i, \"\");\n  if ((raw.startsWith('\"') && raw.endsWith('\"')) || (raw.startsWith(\"'\") && raw.endsWith(\"'\"))) {\n    try { raw = JSON.parse(raw); } catch {}\n  }\n  if (typeof raw === \"string\") {\n    const m = raw.match(/\\{[\\s\\S]*\\}/m);\n    if (m) raw = m[0];\n  }\n  try { var obj = (typeof raw === \"string\") ? JSON.parse(raw) : raw; }\n  catch (e) {\n    return [{ json: { Diagnóstico: { erro: \"Falha ao parsear JSON do Agent\", detalhe: String(e), amostra: String(raw).slice(0, 500) } } }];\n  }\n}\n\n// === renomeação para chaves com emoji ===\nconst map = {\n  \"cenário\": \"🎯 cenário\",\n  \"contexto_setorial\": \"🧭 contexto_setorial\",\n  \"indicadores\": \"📈 indicadores\",\n  \"descricao\": \"📝 descrição\",\n  \"valores\": \"🔢 valores\",\n  \"estrategias\": \"🧠 estratégias\",\n  \"acoes\": \"⚙️ ações\",\n  \"riscos_e_oportunidades\": \"⚠️ riscos_e_oportunidades\",\n  \"riscos\": \"⛔ riscos\",\n  \"oportunidades\": \"✅ oportunidades\",\n  \"decisos_futuras\": \"🧩 decisões_futuras\", // proteção caso venha com typo\n  \"decisoes_futuras\": \"🧩 decisões_futuras\",\n  \"resumo_consultivo\": \"🧷 resumo_consultivo\"\n};\n\n// função que renomeia chaves no nível 1 e nos blocos internos conhecidos\nfunction renameKeys(o) {\n  if (o == null || typeof o !== \"object\") return o;\n  const out = {};\n  for (const [k, v] of Object.entries(o)) {\n    const nk = map[k] ?? k;\n    out[nk] = v;\n  }\n  // tratar blocos internos\n  if (out[\"📈 indicadores\"] && typeof out[\"📈 indicadores\"] === \"object\") {\n    const ind = out[\"📈 indicadores\"];\n    const indOut = {};\n    for (const [k, v] of Object.entries(ind)) {\n      const nk = map[k] ?? k;\n      indOut[nk] = v;\n    }\n    out[\"📈 indicadores\"] = indOut;\n  }\n  if (out[\"⚠️ riscos_e_oportunidades\"] && typeof out[\"⚠️ riscos_e_oportunidades\"] === \"object\") {\n    const ro = out[\"⚠️ riscos_e_oportunidades\"];\n    const roOut = {};\n    for (const [k, v] of Object.entries(ro)) {\n      const nk = map[k] ?? k;\n      roOut[nk] = v;\n    }\n    out[\"⚠️ riscos_e_oportunidades\"] = roOut;\n  }\n  return out;\n}\n\nconst withEmoji = renameKeys(obj);\n\n// === encapsula em Diagnóstico ===\nreturn [{ json: { Diagnóstico: withEmoji } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,128],"id":"5224de56-763e-4279-b199-9e5945ea5a58","name":"Formatar retorno GPT"},{"parameters":{"public":true,"initialMessages":"Em que posso lhe ajudar hoje ???","options":{"subtitle":"Transformando linguagem de negócio em dados ✅","title":"Boa tarde !!! Sou o Datamobil 📈"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-3456,0],"id":"d6ca1c79-329f-491e-816f-e9a2e30b9979","name":"When chat message received","webhookId":"d90fd405-b2e9-487b-b316-61bce6f6b61f"}],"connections":{"Download file":{"main":[[{"node":"Extract data from file","type":"main","index":0}]]},"Check if query exists":{"main":[[{"node":"Extrair query","type":"main","index":0}],[{"node":"Mensagem de query inválida","type":"main","index":0}]]},"Extract SQL query":{"main":[[{"node":"Check if query exists","type":"main","index":0}]]},"Combine schema data and chat input":{"main":[[{"node":"Gerador de Query","type":"main","index":0}]]},"Extract data from file":{"main":[[{"node":"Combine schema data and chat input","type":"main","index":0}]]},"Setar informações de Parâmetros":{"main":[[{"node":"Constantes","type":"main","index":0}]]},"If1":{"main":[[{"node":"Executar query","type":"main","index":0}],[{"node":"Mensagem de query Proibida","type":"main","index":0}]]},"Repassar dados":{"main":[[{"node":"Gerou algum erro ?","type":"main","index":0},{"node":"Unificar saidas","type":"main","index":0}]]},"Extrair query":{"main":[[{"node":"If1","type":"main","index":0}]]},"Mensagem de query inválida":{"main":[[{"node":"Repassar dados","type":"main","index":0}]]},"Mensagem de query Proibida":{"main":[[{"node":"Repassar dados","type":"main","index":0}]]},"Constantes":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Executar query":{"main":[[{"node":"Repassar dados","type":"main","index":0}]]},"Gerar envelope de dados e solicitação":{"main":[[{"node":"Analista de Dados","type":"main","index":0}]]},"Unificar Resultado":{"main":[[]]},"Gerou algum erro ?":{"main":[[{"node":"Unificar saidas","type":"main","index":1}],[{"node":"Gerar envelope de dados e solicitação","type":"main","index":0}]]},"Gerador de Query":{"main":[[{"node":"Extract SQL query","type":"main","index":0}]]},"Analista de Dados":{"main":[[{"node":"Formatar retorno GPT","type":"main","index":0}]]},"OpenAI Chat Model gerador de Query":{"ai_languageModel":[[{"node":"Gerador de Query","type":"ai_languageModel","index":0}]]},"Window Buffer Memory Analista de dados":{"ai_memory":[[{"node":"Analista de Dados","type":"ai_memory","index":0}]]},"OpenAI Chat Model Analista de dados":{"ai_languageModel":[[{"node":"Analista de Dados","type":"ai_languageModel","index":0}]]},"Memória gerador de query":{"ai_memory":[[{"node":"Gerador de Query","type":"ai_memory","index":0}]]},"Unificar saidas":{"main":[[{"node":"Gerou algum erro ?1","type":"main","index":0}]]},"Gerou algum erro ?1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}],[{"node":"Unificar Resultado","type":"main","index":0}]]},"Formatar retorno GPT":{"main":[[{"node":"Unificar saidas","type":"main","index":1}]]},"When chat message received":{"main":[[{"node":"Setar informações de Parâmetros","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c10f9300-6b4e-4b79-847c-1f0a694a2fb9","triggerCount":1,"shared":[{"createdAt":"2025-09-01T14:36:59.523Z","updatedAt":"2025-09-01T14:36:59.523Z","role":"workflow:owner","workflowId":"48s0HC916sOlb6kW","projectId":"bDUBly1zU3yziLIn"}],"tags":[]}