4Cbp8nuWCXZ41h1Y.json
{
  "id": "4Cbp8nuWCXZ41h1Y",
  "name": "Gestão Sessão BILL",
  "createdAt": "2025-10-06T12:33:57.175Z",
  "updatedAt": "2025-11-18T19:32:44.000Z",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -624,
        -112
      ],
      "id": "d080e962-bbaa-46a7-a472-2aa4434afff2",
      "name": "Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT phone, flow, step, expected_ref, data_json, expires_at,phoneconectado\nFROM sessions\nWHERE expires_at <= NOW();",
        "options": {}
      },
      "id": "1b96904b-f393-43bd-b2a7-15dcb0dd66a3",
      "name": "Selecionar Sessões expiradas",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        -464,
        -112
      ],
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "DjogxsxdXYGa9DzE",
          "name": "InovaBot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92210bfc-b8e3-4c90-bbf6-e4bd35fe14a0",
              "leftValue": "={{ $items().some(i => i.json && !('success' in i.json)) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        32
      ],
      "id": "d21c6ae9-7471-4b53-b180-98e49de8bd22",
      "name": "If",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -32,
        96
      ],
      "id": "322f8239-21cb-4238-95cb-4ce54ca5efd3",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const phonesConfig = {\n  553798334700: {\n    idInstanceZapi: \"3EA6B3979B12E1B6EDC772620DC9C8F4\",\n    tokenInstanceZapi: \"86D7C5F85892C2570C026339\",\n    clientTokenHeaderZapi: \"Fdc4b6b51b6d942db941b9e00a4991740S\",\n  },\n  553798603941: {\n    idInstanceZapi: \"3E8020BFCB6F329C7878B2948C7C07B3\",\n    tokenInstanceZapi: \"7FAEC497FAA217714D1F22C7\",\n    clientTokenHeaderZapi: \"Fdc4b6b51b6d942db941b9e00a4991740S\",\n  },\n};\n\nconst j = $json;\n\nconst phoneConnected = (j.phoneconectado ?? \"\").replace(/\\D+/g, \"\");\nconst selected = phonesConfig[phoneConnected];\n\nif (!selected) {\n  throw new Error(`PhoneConnected (${phoneConnected || \"vazio\"}) não mapeado em phonesConfig`);\n}\n\nconst baseUrl = \"https://api.z-api.io\";\nconst extensionDocument = \"pdf\";\nconst endpointZapi = `${baseUrl}/instances/${selected.idInstanceZapi}/token/${selected.tokenInstanceZapi}`;\n\nj.env = {\n  baseUrl,\n  idInstanceZapi: selected.idInstanceZapi,\n  tokenInstanceZapi: selected.tokenInstanceZapi,\n  clientTokenHeaderZapi: selected.clientTokenHeaderZapi,\n  endpoints: {\n    sendOptionList: `${endpointZapi}/send-option-list`,\n    sendButtonList: `${endpointZapi}/send-button-list`,\n    sendCarousel: `${endpointZapi}/send-carousel`,\n    sendText: `${endpointZapi}/send-text`,\n    sendLink: `${endpointZapi}/send-link`,\n    sendAudio: `${endpointZapi}/send-audio`,\n    sendVideo: `${endpointZapi}/send-video`,\n    sendImage: `${endpointZapi}/send-image`,\n    sendDocument: `${endpointZapi}/send-document/${extensionDocument}`,\n    sendLocation: `${endpointZapi}/send-location`,\n  },\n  phoneConnected,\n};\n\nreturn { json: j };\n"
      },
      "id": "fd033b7c-d1c7-4e97-abc9-15a23ef54e82",
      "name": "Constantes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -96
      ],
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendText }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "=message",
              "value": "={{\n\"Como não recebemos nenhuma mensagem nos últimos 15 minutos, encerrei o atendimento automaticamente.\\n\\nSe desejar, é só iniciar um novo atendimento.\\n\\n*Estamos sempre à sua disposição* 👋🏻\"\n}}\n"
            },
            {
              "name": "delayTyping",
              "value": "2"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            }
          ]
        }
      },
      "name": "Mensagem Inatividade",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        272,
        -96
      ],
      "id": "82439636-362a-4dec-a13b-8b7678c4d0f3",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -80,
        -96
      ],
      "id": "5762e5f1-d50a-4e03-8c7a-b0f51ae4331f",
      "name": "Merge Dados"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "sessions",
          "mode": "list",
          "cachedResultName": "sessions"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "phone",
              "value": "={{ $('Constantes').item.json.phone }}"
            },
            {
              "column": "=phoneconectado",
              "value": "={{ $('Constantes').item.json.phoneconectado }}"
            }
          ]
        },
        "options": {}
      },
      "id": "de2a5bf4-d229-4d09-bb30-f02567a80b79",
      "name": "Deletar Sessão expirada",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        480,
        -96
      ],
      "credentials": {
        "mySql": {
          "id": "DjogxsxdXYGa9DzE",
          "name": "InovaBot"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Selecionar Sessões expiradas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selecionar Sessões expiradas": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge Dados",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Constantes": {
      "main": [
        [
          {
            "node": "Mensagem Inatividade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Dados": {
      "main": [
        [
          {
            "node": "Constantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Inatividade": {
      "main": [
        [
          {
            "node": "Deletar Sessão expirada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8fd9c850-8a07-4d17-81fd-f5f195ab5f67",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-06T12:33:57.179Z",
      "updatedAt": "2025-10-06T12:33:57.179Z",
      "role": "workflow:owner",
      "workflowId": "4Cbp8nuWCXZ41h1Y",
      "projectId": "bDUBly1zU3yziLIn"
    }
  ],
  "tags": []
}