9K0EnPePhhaOIknC.json
{"createdAt":"2025-09-29T19:18:44.753Z","updatedAt":"2025-10-29T18:34:26.000Z","id":"9K0EnPePhhaOIknC","name":"Teste execução","active":false,"isArchived":true,"nodes":[{"parameters":{"url":"={{ $json.url }}","allowUnauthorizedCerts":true,"responseFormat":"string","options":{"fullResponse":true,"ignoreResponseCode":false}},"name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[-912,-16],"typeVersion":1,"id":"4b21e056-e298-45bf-aac7-5bf98061e417","retryOnFail":false,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.error.status }}","operation":"notEqual","value2":"200"}]}},"name":"IF","type":"n8n-nodes-base.if","position":[-640,16],"typeVersion":1,"id":"b8509072-3593-4e41-a530-d2c8322034b1"},{"parameters":{"triggerTimes":{"item":[{"mode":"everyX","value":1,"unit":"minutes"}]}},"name":"Cron","type":"n8n-nodes-base.cron","position":[-1440,-112],"typeVersion":1,"id":"12ae1e48-511a-441d-bf75-b6879c39760e"},{"parameters":{"jsCode":"const data = `https://www.google.com/`;\nconst lines = data.split(/\\r?\\n/).filter(line => line.trim() !== '');\nreturn lines.map(url => ({ json: { url } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,-16],"id":"23d2735f-75a9-4e41-b7d9-0e27ce097bf9","name":"Code"}],"connections":{"HTTP Request":{"main":[[],[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[]]},"Cron":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"52aba4e4-4fbf-4883-87ee-7714953a9b04","triggerCount":1,"shared":[{"createdAt":"2025-09-29T19:18:44.759Z","updatedAt":"2025-09-29T19:18:44.759Z","role":"workflow:owner","workflowId":"9K0EnPePhhaOIknC","projectId":"bDUBly1zU3yziLIn"}],"tags":[]}