fEexcL3KHXFWJdNu.json
{"createdAt":"2025-09-10T14:39:41.895Z","updatedAt":"2025-09-19T11:43:22.000Z","id":"fEexcL3KHXFWJdNu","name":"InovaBot - Teste","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp/inbound","responseMode":"lastNode","options":{}},"id":"67f2cbef-74a0-4f0a-a481-1753139d84b4","name":"Webhook - Inbound (Meta)","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-2128,-32],"webhookId":"d858ee1a-05b6-463c-b644-774035c966dc"},{"parameters":{"jsCode":"// Expected demo payload: $json.message.content.data\nconst payload = $json.message?.content?.data || {};\nconst text = (payload.text || '').trim();\nconst cpf = (payload.cpf || '').replace(/\\D/g, '');\nconst matricula = (payload.matricula || '').trim();\nconst from = payload.from || payload.phone || '';\n\nlet intent = 'menu';\nconst low = text.toLowerCase();\nif (['1','segunda via','2ª via','2a via','segunda'].includes(low)) intent = 'segunda_via';\nelse if (['2','historico','histórico','consumo','historico de consumo','histórico de consumo'].includes(low)) intent = 'historico';\nelse if (['3','ouvidoria','reclamacao','reclamação'].includes(low)) intent = 'ouvidoria';\n\nreturn [{ json: { from, intent, text, cpf, matricula } }];\n"},"id":"e7fbc9c8-1d97-4d76-a90e-98918ac3f1c6","name":"Code - Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1872,-32]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.intent }}","operation":"notEqual","value2":"menu"}]}},"id":"31df5410-4c50-4f3b-817f-0a12232a7443","name":"IF - Has Intent?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1632,-32]},{"parameters":{"jsCode":"const msg = [\n  '*Atendimento Inovamobil*',\n  'Selecione uma opção:',\n  '1) Segunda via',\n  '2) Histórico de consumo',\n  '3) Ouvidoria',\n  '',\n  'Você também pode enviar CPF ou matrícula para identificação.'\n].join('\\n');\nreturn [{ json: { replyText: msg } }];\n"},"id":"e63b6d62-cc91-4859-bd55-5fbb235f4a59","name":"Code - Build Menu","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1408,-160]},{"parameters":{"jsCode":"const hasId = Boolean(($json.cpf && $json.cpf.length >= 11) || ($json.matricula && $json.matricula.length > 0));\nreturn [{ json: { ...$json, hasId } }];\n"},"id":"c5dc70c6-4c41-4f3c-8453-4f7c1e907568","name":"Code - Check CPF/Matrícula","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1408,96]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.hasId }}","operation":"isTrue"}]}},"id":"27d7b990-fb4a-468a-a7cc-770dc69bc426","name":"IF - Has CPF/Matrícula?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1184,96]},{"parameters":{"jsCode":"const msg = 'Para continuar, envie seu *CPF* (apenas números) ou sua *matrícula da ligação*.';\nreturn [{ json: { replyText: msg } }];\n"},"id":"dfdd303d-5b61-475b-924b-b1bb2a508c56","name":"Code - Ask CPF/Matrícula","type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,208]},{"parameters":{"operation":"executeQuery","query":"/* Exemplo: localiza UC por CPF ou Matrícula */\nSELECT uc_id, cliente_nome, uc_numero\nFROM uc_vinculo\nWHERE ( :cpf IS NOT NULL AND cpf = :cpf )\n   OR ( :matricula IS NOT NULL AND uc_numero = :matricula )\nLIMIT 1;\n","options":{}},"id":"d07c000e-86ee-492a-bac8-2bab5f638e9e","name":"MySQL - Find UC","type":"n8n-nodes-base.mySql","typeVersion":2,"position":[-960,32],"credentials":{"mySql":{"id":"w2ul7xQhpE4d1ssF","name":"MySQL account"}}},{"parameters":{"jsCode":"const rows = $items('MySQL - Find UC', 0).map(i => i.json);\nconst uc = rows[0];\nif (!uc || !uc.uc_id) {\n  return [{ json: { replyText: 'Não encontramos sua unidade. Verifique o CPF/matrícula e tente novamente.' } }];\n}\nreturn [{ json: { ...$json, uc_id: uc.uc_id, uc_numero: uc.uc_numero, cliente_nome: uc.cliente_nome } }];\n"},"id":"1e6322a4-ec2d-41e2-a930-27e322b201c9","name":"Code - Route with UC","type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,32]},{"parameters":{"jsCode":"// Replace with your real endpoint\nconst link = `https://api.inovamobil.local/billing/second-copy?uc=${$json.uc_id}&t=__TOKEN__`;\nconst msg = [\n  '*2ª via de fatura*',\n  `Cliente: ${$json.cliente_nome}`,\n  `UC: ${$json.uc_numero}`,\n  '',\n  `Acesse sua 2ª via: ${link}`\n].join('\\n');\nreturn [{ json: { replyText: msg } }];\n"},"id":"8fd45578-868c-4d20-937f-41e4c3abfda9","name":"Code - Segunda Via","type":"n8n-nodes-base.code","typeVersion":2,"position":[-512,-240]},{"parameters":{"operation":"executeQuery","query":"/* Histórico 12 meses */\nSELECT referencia, consumo_m3\nFROM consumo_historico\nWHERE uc_id = :uc_id\nORDER BY referencia DESC\nLIMIT 12;\n","options":{}},"id":"66694269-f5b4-4bdc-9f47-77b273603765","name":"MySQL - Histórico","type":"n8n-nodes-base.mySql","typeVersion":2,"position":[-592,64],"credentials":{"mySql":{"id":"w2ul7xQhpE4d1ssF","name":"MySQL account"}}},{"parameters":{"jsCode":"const rows = $items('MySQL - Histórico', 0).map(i => i.json);\nif (!rows.length) {\n  return [{ json: { replyText: 'Não encontramos histórico recente para esta UC.' } }];\n}\nconst lines = rows.map(r => `${r.referencia}: ${r.consumo_m3} m³`);\nconst msg = ['*Histórico de consumo (últimos 12 meses)*', ...lines].join('\\n');\nreturn [{ json: { replyText: msg } }];\n"},"id":"1791d523-8dba-40a1-a30a-b39583aa76ba","name":"Code - Format Histórico","type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,32]},{"parameters":{"jsCode":"// Simulate protocol creation; replace with HTTP request to your backend\nconst protocolo = Math.floor(100000 + Math.random() * 900000);\nconst msg = [\n  '*Ouvidoria*',\n  'Seu protocolo foi aberto com sucesso.',\n  `Número do protocolo: ${protocolo}`,\n  'Nossa equipe entrará em contato.'\n].join('\\n');\nreturn [{ json: { replyText: msg } }];\n"},"id":"938e1a42-4905-4f3f-b671-c5a9518769f2","name":"Code - Ouvidoria","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,272]},{"parameters":{"url":"={{ $env.WHATSAPP_SEND_URL || 'https://graph.facebook.com/v21.0/PAGE_OR_PHONE_ID/messages' }}","authentication":"headerAuth","sendHeaders":true,"headerParameters":{"parameters":[{}]},"options":{}},"id":"06c501f5-b8c8-448d-b907-230587594850","name":"HTTP - Send WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-64,16]},{"parameters":{"options":{}},"id":"c1158e40-2dbf-45da-985b-0f1cb50e7f52","name":"Respond - OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[160,16]}],"connections":{"Webhook - Inbound (Meta)":{"main":[[{"node":"Code - Normalize Input","type":"main","index":0}]]},"Code - Normalize Input":{"main":[[{"node":"IF - Has Intent?","type":"main","index":0}]]},"IF - Has Intent?":{"main":[[{"node":"Code - Build Menu","type":"main","index":0}],[{"node":"Code - Check CPF/Matrícula","type":"main","index":0}]]},"Code - Build Menu":{"main":[[{"node":"HTTP - Send WhatsApp","type":"main","index":0}]]},"Code - Check CPF/Matrícula":{"main":[[{"node":"IF - Has CPF/Matrícula?","type":"main","index":0}]]},"Code - Ask CPF/Matrícula":{"main":[[{"node":"HTTP - Send WhatsApp","type":"main","index":0}]]},"IF - Has CPF/Matrícula?":{"main":[[{"node":"MySQL - Find UC","type":"main","index":0}]]},"MySQL - Find UC":{"main":[[{"node":"Code - Route with UC","type":"main","index":0}]]},"Code - Route with UC":{"main":[[{"node":"Code - Segunda Via","type":"main","index":0}]]},"Code - Segunda Via":{"main":[[{"node":"HTTP - Send WhatsApp","type":"main","index":0}]]},"MySQL - Histórico":{"main":[[{"node":"Code - Format Histórico","type":"main","index":0}]]},"Code - Format Histórico":{"main":[[{"node":"HTTP - Send WhatsApp","type":"main","index":0}]]},"Code - Ouvidoria":{"main":[[{"node":"HTTP - Send WhatsApp","type":"main","index":0}]]},"HTTP - Send WhatsApp":{"main":[[{"node":"Respond - OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"671fc5fa-8087-4075-954b-664bb79d52a5","triggerCount":0,"shared":[{"createdAt":"2025-09-10T14:39:41.912Z","updatedAt":"2025-09-10T14:39:41.912Z","role":"workflow:owner","workflowId":"fEexcL3KHXFWJdNu","projectId":"bDUBly1zU3yziLIn"}],"tags":[]}