Ib0kdkSIezVGhh49.json
{"createdAt":"2025-09-01T16:18:38.879Z","updatedAt":"2025-09-18T17:14:42.000Z","id":"Ib0kdkSIezVGhh49","name":"Modulo IA - VX - WebHook","active":false,"isArchived":true,"nodes":[{"parameters":{"model":"gpt-4.1-mini","options":{"maxTokens":1024,"temperature":0.2}},"id":"ccb39418-d2ab-4a86-9b71-279ba585705a","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[784,816],"typeVersion":1,"credentials":{"openAiApi":{"id":"H4HnbIJCN7JE8cR5","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","contextWindowLength":10},"id":"2de182f5-e092-4d42-bfd9-3505e55b5ac8","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[880,816],"typeVersion":1.2},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1Me1e3qR3ZqwJO6TQvowfBmmaocjsp3-b","mode":"list","cachedResultName":"SFC_WEB_Completo.json","cachedResultUrl":"https://drive.google.com/file/d/1Me1e3qR3ZqwJO6TQvowfBmmaocjsp3-b/view?usp=drivesdk"},"options":{"binaryPropertyName":"data"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-112,272],"id":"f3a059a1-b0c4-4756-a858-7b1276038cd6","name":"Baixar Schema (Json) Banco de dados","credentials":{"googleDriveOAuth2Api":{"id":"A7dItjE7OWcTVPSQ","name":"Google Drive account"}}},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Here is the database schema: {{ $json.schema }}\nHere is the user request: {{ $json.chatinput }}","options":{"humanMessage":"TOOLS\n------\nAssistant can ask the user to use tools to look up information that may be helpful in answering the users original question. The tools the human can use are:\n\n{tools}\n\n{format_instructions}\n\nUSER'S INPUT\n--------------------\nHere is the user's input (remember to respond with a markdown code snippet of a json blob with a single action, and NOTHING else):\n\n{{input}}","systemMessage":"Você é um GERADOR DE SQL para **PostgreSQL** guiado por um JSON de esquema chamado **SCHEMA**. \nSeu objetivo é produzir consultas 100% válidas, seguras e fiéis ao SCHEMA — sem inventar nada.\n\n====================================================================\nENTRADAS\n- SCHEMA: objeto JSON com:\n  • tabelas[*].nome\n  • tabelas[*].colunas[*].nome, .tipo, .pk?, .fk? (tabela_referenciada, coluna_referenciada)\n  • relacionamentos[] (from=\"A.x\", to=\"B.y\")  // opcional, complementar às FKs\n- PEDIDO: descrição do que o usuário quer consultar.\n\n====================================================================\nFONTES DE VERDADE (use AMBAS)\n1) Definição de tabelas e colunas em SCHEMA.tabelas.\n2) Relacionamentos explícitos em:\n   a) SCHEMA.tabelas[*].colunas[*].fk\n   b) SCHEMA.relacionamentos (from=\"A.x\", to=\"B.y\")\n\nSe algo não existir nessas fontes, **não existe**.\n\n====================================================================\nREGRAS ABSOLUTAS\n- Use **apenas** tabelas que existirem em SCHEMA.tabelas[*].nome e colunas que existirem em SCHEMA.tabelas[*].colunas[*].nome.\n- **JOINS só são permitidos** se houver relacionamento em AO MENOS UMA fonte (FK na coluna OU SCHEMA.relacionamentos). \n  • Aceite A→B ou B→A. \n  • Se não houver caminho direto, tente uma **tabela ponte** existente no SCHEMA.\n  • Se não houver caminho algum, **explique e NÃO gere SQL**.\n- **NÃO invente** tabelas, colunas, joins, funções, enums ou filtros. Se algo não existir, **explique e PARE**.\n- Dialeto: **PostgreSQL**. \n  • Identificadores SEMPRE entre aspas duplas: \"tabela\".\"coluna\". \n  • Strings entre aspas simples. \n  • Evite `SELECT *`; projete apenas as colunas necessárias. \n  • Para contagens, use `COUNT(*)`.\n- **Enums via VIEW** (padrão: \"vAlgo\" com colunas \"Codigo\"/\"Descricao\"):\n  • Para filtrar/join: **use \"Codigo\"** (não compare por \"Descricao\"). \n  • Para exibir texto: selecione **\"Descricao\"** após o JOIN.\n- **Filtros em CTE/subselects**: quando usar CTEs/subconsultas, aplique **filtros na consulta EXTERNA** (para não alterar cardinalidade por engano).\n- **Funções de janela**: se precisar, calcule em CTE; **NUNCA** use janela em WHERE, HAVING, JOIN ON ou GROUP BY.\n- **Segurança e tipos**:\n  • Nunca assuma tipos; se preciso, use casts explícitos `::tipo`. \n  • Nunca insira/interpole valores do usuário diretamente; use **placeholders** `$1, $2, ...`. \n  • Nunca gere múltiplos statements; produza **uma** consulta final.\n\nObservação: use **nomes canônicos do SCHEMA** (ex.: \"UC_Ligacao\", sem acento). Variações não existem.\n\n====================================================================\nCHECKLIST OBRIGATÓRIO (FAÇA ANTES DE GERAR SQL)\n1) **Tabelas** pedidas existem em SCHEMA.tabelas?\n2) **Colunas** pedidas existem nas tabelas correspondentes?\n3) **Joins**:\n   • Há caminho válido entre as tabelas (via FKs ou SCHEMA.relacionamentos)?  \n   • Se houver mais de um caminho, é inequívoco? Se **ambíguo**, **explique e NÃO gere SQL**.\n4) **Enums**:\n   • Alguma coluna tem semântica de enum (ex.: *_Status, *_Situacao, *_Tipo, *_Categoria)?  \n   • Para exibir texto: JOIN na view \"v...\" e selecione \"Descricao\".  \n   • Para filtrar: use \"Codigo\" (nunca \"Descricao\").\n5) **Tipos**:\n   • Comparações e datas exigem cast? Use `::tipo` (ex.: `to_date($1,'MM/YYYY')`, `date_trunc('month',col)`), sem suposições implícitas.\n6) **CTE/Subselect**:\n   • Se existirem, mantenha filtros na consulta EXTERNA.\n7) **Parâmetros**:\n   • Todos os valores do usuário estão parametrizados como `$1, $2, ...`?\n\nSe alguma verificação falhar, **explique o motivo e NÃO gere SQL**.\n\n====================================================================\nPOLÍTICAS DE QUALIDADE\n- **Agrupamento/Ordenação**: agrupe apenas pelo necessário; use aliases no ORDER BY.\n- **Performance**: prefira JOINs a subconsultas correlatas; use `EXISTS` vs `IN` quando adequado; evite CROSS JOIN acidental; use CTEs para clareza quando ajudarem.\n- **Leitura**: use aliases claros para tabelas (ex.: l, uc, vc) e comente linhas sensíveis com `--`.\n- **Saída única**: uma única consulta; se múltiplas etapas, use CTEs.\n\n====================================================================\nFORMATO DE RESPOSTA (OBRIGATÓRIO)\n1) **Descrição curta** (1–2 linhas).\n2) **SQL** em um ÚNICO bloco:\n```sql\n-- PostgreSQL\n-- (comentários opcionais)\nSELECT ...\nFROM ...\nJOIN ...\nWHERE ...\n"}},"id":"2b564adb-ca2b-4eb5-ba3a-0f0ae6e34547","name":"Gerador de Querys","type":"@n8n/n8n-nodes-langchain.agent","position":[784,560],"typeVersion":1.6},{"parameters":{"assignments":{"assignments":[{"id":"ebbe194a-4b8b-44c9-ac19-03cf69d353bf","name":"query","type":"string","value":"={{ ($json.output.match(/SELECT[\\s\\S]*?;/i) || [])[0] || \"\" }}"}]},"includeOtherFields":true,"options":{}},"id":"d6672451-73a7-439a-b3e6-85b7ff4a21a5","name":"Extrair dados para montagem da Query","type":"n8n-nodes-base.set","position":[1152,560],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"2963d04d-9d79-49f9-b52a-dc8732aca781","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.query }}","rightValue":""},{"id":"5f3b3c30-78e9-4ed0-b520-9153664540ec","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"162615ff-74f0-4d42-93b8-78d3d1ac4edc","name":"Verificar se entidades utilizadas existem no banco de dados","type":"n8n-nodes-base.if","position":[1360,560],"typeVersion":2.2},{"parameters":{"jsCode":"return [\n  {\n    erro: \"Não foi possível acessar os dados conforme sua solicitação, tente outra busca 😊\"\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1632,720],"id":"b0050dab-b629-4337-95ec-e044c462ac5d","name":"Mensagem de saida - Entidades não encontradas"},{"parameters":{"assignments":{"assignments":[{"id":"f944d21f-6aac-4842-8926-4108d6cad4bf","name":"MensagemErro","type":"string","value":"={{ $json.erro }}"}]},"options":{}},"id":"63d3df22-1f45-4067-8d57-181210f960e4","name":"Formatar mensagem","type":"n8n-nodes-base.set","position":[1872,736],"executeOnce":false,"typeVersion":3.4},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{"connectionTimeout":180}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1600,400],"id":"e4e442cd-e18a-440b-9c65-81cbfa57f204","name":"Executar a query gerada pelo Chat","executeOnce":false,"retryOnFail":true,"waitBetweenTries":1000,"notesInFlow":false,"alwaysOutputData":true,"maxTries":2,"credentials":{"postgres":{"id":"6iqsLXZTqf2rK4YA","name":"Postgres account"}},"onError":"continueErrorOutput","notes":"Execução de SQl - Teste notes"},{"parameters":{"assignments":{"assignments":[{"id":"f944d21f-6aac-4842-8926-4108d6cad4bf","name":"sqloutput","type":"string","value":"={{ Object.keys($jmespath($input.all(),'[].json')[0]).join(' | ') }} \n{{ ($jmespath($input.all(),'[].json')).map(obj => Object.values(obj).join(' | ')).join('\\n') }}"},{"id":"316b74e2-b019-4d4e-8767-e1afb6014e5e","name":"Query","value":"={{ $('Verificar se entidades utilizadas existem no banco de dados').item.json.query }}","type":"string"}]},"options":{}},"id":"5424e3d7-a41c-401e-a684-c92154f0e3e8","name":"Formatar o resultado da Query","type":"n8n-nodes-base.set","position":[1856,384],"executeOnce":false,"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"5f3b3c30-78e9-4ed0-b520-9153664540ec","leftValue":"={{ $json.sqloutput.replace(/[\\r\\n]+/g, '').trim() }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"99922605-79a7-4fe1-bfe6-2c9b6d22c8e9","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"4a4b1870-fbf4-4316-9aac-3116e7d3cc5b","name":"Verificar resultado da Query (Quantidade de registros)","type":"n8n-nodes-base.if","position":[2080,512],"typeVersion":2.2},{"parameters":{"jsCode":"return [{ erro: \"Não foram encontrados dados conforme sua solicitação, tente outra busca 😊\" }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2304,368],"id":"db8e7a6a-ff9d-4689-a4bb-370576f0dcb7","name":"Mensagem de saida quando não há registros"},{"parameters":{"assignments":{"assignments":[{"id":"f944d21f-6aac-4842-8926-4108d6cad4bf","name":"MensagemErro","type":"string","value":"={{ $json.erro }}"}]},"options":{}},"id":"b01bf7f8-bc39-4055-995b-3266a61e171d","name":"Formatar mensagem1","type":"n8n-nodes-base.set","position":[2496,368],"executeOnce":false,"typeVersion":3.4},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"c5525e92-a775-4855-b44d-48748579ca97","name":"Combinar a entrada com o resultado para armazenar","type":"n8n-nodes-base.merge","position":[2336,608],"typeVersion":3},{"parameters":{"jsCode":"// Gera ID e garante que o texto entre com o nome correto\nconst id = (Date.now().toString(36) + Math.random().toString(36).slice(2, 8)).toUpperCase();\n\n// Tenta achar o texto em vários campos, priorizando 'sqloutput'\nconst text =\n  String(\n    $input.first().json.sqloutput??\n    \"\"\n  );\n\nreturn [{\n  json: {\n    id,\n    text,            // <- daqui em diante usamos SEMPRE $json.text\n    sqloutput: text  // (opcional) mantém também em sqloutput pra sua resposta em texto\n  }\n}];\n"},"id":"93502234-aa3a-43ba-812b-eff63bb930eb","name":"Script para formatar o texto da Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,640]},{"parameters":{"jsCode":"// ===== ENTRADAS ESPERADAS =====\n// $json.id   -> gerado no nó \"Gerar ID + passar texto\"\n// $json.text -> texto com pipes (1ª linha = cabeçalhos)\n// $json.logoUrl (opcional) -> URL do logo a exibir\n\nconst id = String($input.first().json.id || \"\");\nconst rawText = String($input.first().json.text || \"\");\nconst logoUrl = \"https://inovamobil.com.br/wp-content/uploads/2023/06/Inovamobil-branco.svg\";\n\n// >>> ajuste aqui se sua instância usa base path (ex.: \"/n8n\")\nconst BASE_PATH = \"\"; // ex.: \"/n8n\"   | deixe \"\" se não houver base path\nconst HOST = \"https://n8n.srv954202.hstgr.cloud\"; // seu domínio público do n8n\n\n// funções utilitárias\nfunction escForTemplate(s) {\n  return String(s)\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/`/g, '\\\\`')\n    .replace(/\\$\\{/g, '\\\\${');\n}\nconst RAW = escForTemplate(rawText);\n\nconst fileName = `visualizador_${id}.html`;\nconst urlXls = `${HOST}${BASE_PATH}/webhook/visualizar-xls?id=${id}`;\n\nconst html = `<!doctype html>\n<html lang=\"pt-br\">\n<head>\n  <meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>Tabela — Visualização + Exportar</title>\n  <style>\n    :root{ --bg:#0b0e14; --card:#121826; --muted:#a5b1c2; --text:#e6edf3; --border:#273043; --highlight:#1e293b; }\n    html, body { margin:0; padding:0; background:var(--bg); color:var(--text); font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu; }\n    .wrap { max-width:1200px; margin:24px auto; padding:0 16px; }\n    .card { background:var(--card); border:1px solid var(--border); border-radius:16px; padding:16px; box-shadow:0 10px 30px rgba(0,0,0,.25); }\n    .header { display:flex; align-items:center; gap:12px; margin-bottom:6px; }\n    .logo { width:36px; height:36px; border-radius:8px; object-fit:contain; background:#0f172a; border:1px solid var(--border); display:none; }\n    .title { font-size:20px; margin:0; }\n    .sub { font-size:12px; color:var(--muted); margin:0 0 12px; }\n    .toolbar { display:flex; gap:8px; align-items:center; margin:12px 0 16px; flex-wrap:wrap; }\n    .toolbar input[type=\"text\"]{ flex:1; min-width:220px; padding:10px 12px; border-radius:12px; border:1px solid var(--border); background:#0f172a; color:var(--text); outline:none; }\n    .btn{ padding:10px 14px; border-radius:12px; border:1px solid var(--border); background:var(--highlight); color:var(--text); cursor:pointer; text-decoration:none; display:inline-block; }\n    .btn:hover{ filter:brightness(1.1); }\n    .pill { display:inline-block; background:#0f172a; border:1px solid var(--border); border-radius:999px; padding:4px 10px; font-size:12px; color:var(--muted); }\n    .table-wrap { max-height:65vh; overflow:auto; border:1px solid var(--border); border-radius:12px; }\n    table { width:100%; border-collapse:collapse; }\n    thead th { position:sticky; top:0; background:#0f172a; border-bottom:1px solid var(--border); text-align:left; padding:10px; font-weight:600; }\n    tbody td { border-bottom:1px solid var(--border); padding:10px; vertical-align:top; }\n    tbody tr:hover{ background:rgba(59,130,246,.08); }\n    .warn { margin-top:10px; color:#fbbf24; font-size:13px; }\n    .footer { display:flex; justify-content:space-between; align-items:center; margin-top:10px; color:var(--muted); font-size:12px; }\n  </style>\n</head>\n<body>\n  <div class=\"wrap\">\n    <div class=\"card\">\n      <div class=\"header\">\n        <img id=\"logo\" class=\"logo\" alt=\"Logo\">\n        <h1 class=\"title\">Visualização de Dados</h1>\n      </div>\n      <p class=\"sub\">Busca rápida e exportação via servidor (compatível com chat/iframe)</p>\n\n      <div class=\"toolbar\">\n        <input id=\"search\" type=\"text\" placeholder=\"Buscar em qualquer coluna…\">\n        <span class=\"pill\" id=\"countInfo\">0 linhas</span>\n\n        <!-- botões que apontam para endpoints do n8n -->\n        <a class=\"btn\" id=\"exportXls\" href=\"${urlXls}\" target=\"_blank\" rel=\"noopener\">Exportar Excel (.xls)</a>\n      </div>\n\n      <div class=\"table-wrap\">\n        <table id=\"tbl\">\n          <thead><tr id=\"theadRow\"></tr></thead>\n          <tbody id=\"tbody\"></tbody>\n        </table>\n      </div>\n\n      <div id=\"warn\" class=\"warn\" style=\"display:none\">⚠️ Não encontrei dados — verifique se a primeira linha tem cabeçalhos separados por “|”.</div>\n\n      <div class=\"footer\">\n        <span>O CSV/XLS é gerado no servidor com base nos dados filtrados originais.</span>\n        <span>HTML autônomo (sem libs).</span>\n      </div>\n    </div>\n  </div>\n\n<script>\n// ====== DADOS EMBUTIDOS ======\nconst RAW_TEXT = \\`${RAW}\\`;\nconst LOGO_URL = ${logoUrl ? '`' + escForTemplate(logoUrl) + '`' : '\"\"'};\n\n// ====== PARSER ======\nfunction parsePipeText(raw){\n  const lines = raw.split(/\\\\r?\\\\n/).map(s => s.trim()).filter(Boolean);\n  if (lines.length === 0) return { headers: [], rows: [] };\n  const split = s => s.split('|').map(x => x.trim());\n  const headers = split(lines[0]);\n  const rows = lines.slice(1).map(l => {\n    const cols = split(l);\n    while (cols.length < headers.length) cols.push(\"\");\n    return cols.slice(0, headers.length);\n  });\n  return { headers, rows };\n}\nconst { headers, rows } = parsePipeText(RAW_TEXT);\n\n// ====== DOM ======\nconst theadRow = document.getElementById('theadRow');\nconst tbody = document.getElementById('tbody');\nconst countInfo = document.getElementById('countInfo');\nconst warn = document.getElementById('warn');\n\n// ====== LOGO ======\n(function setupLogo(){\n  if (!LOGO_URL) return;\n  const img = document.getElementById('logo');\n  img.src = LOGO_URL;\n  img.style.display = 'block';\n})();\n\n// ====== RENDER ======\nfunction renderTable(hds, rws){\n  theadRow.innerHTML = \"\";\n  hds.forEach(h => { const th = document.createElement('th'); th.textContent = h; theadRow.appendChild(th); });\n  tbody.innerHTML = \"\";\n  rws.forEach(cols => {\n    const tr = document.createElement('tr');\n    cols.forEach(c => { const td = document.createElement('td'); td.textContent = c; tr.appendChild(td); });\n    tbody.appendChild(tr);\n  });\n  countInfo.textContent = rws.length + ' linhas';\n  warn.style.display = (!hds.length || rws.length === 0) ? '' : 'none';\n}\n\nlet filtered = rows.slice();\nrenderTable(headers, filtered);\n\n// ====== BUSCA ======\ndocument.getElementById('search').addEventListener('input', (e)=>{\n  const q = e.target.value.toLowerCase();\n  filtered = !q ? rows.slice() : rows.filter(cols => cols.some(c => (c||\"\").toLowerCase().includes(q)));\n  renderTable(headers, filtered);\n});\n</script>\n</body>\n</html>`;\n\n// ==== IMPORTANTE: além do HTML, vamos salvar também o .TXT no servidor ====\n// isso é necessário para os endpoints /visualizar-csv e /visualizar-xls gerarem os arquivos.\n// Portanto, este node retorna DOIS binários: \"data\" (HTML) e \"raw\" (TXT).\nconst base64Html = Buffer.from(html, 'utf8').toString('base64');\nconst base64Txt  = Buffer.from(rawText, 'utf8').toString('base64');\n\nreturn [{\n  json: {\n    fileName,\n    txtName: `visualizador_${id}.txt`,\n    html,\n    text: rawText,\n    id\n  },\n  binary: {\n    data: { data: base64Html, fileName, mimeType: 'text/html' },\n    raw:  { data: base64Txt,  fileName: `visualizador_${id}.txt`, mimeType: 'text/plain; charset=utf-8' }\n  }\n}];\n"},"id":"85529a4f-f686-4aca-82bc-a14dec6a7821","name":"Montar o HTML para apresentação dos dados","type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,640]},{"parameters":{"fileName":"=/tmp/{{$json.fileName}}","options":{"append":false}},"id":"1afec3f4-43be-4fbe-be92-adda6d962cde","name":"Gravar arquivo HTML no servidor","type":"n8n-nodes-base.writeBinaryFile","typeVersion":1,"position":[2912,416]},{"parameters":{"fileName":"=/tmp/{{$json.txtName}}","options":{"append":false}},"id":"6b3c4d81-0733-46a3-bc14-534897624fde","name":"Gravar arquivo texto no servidor","type":"n8n-nodes-base.writeBinaryFile","typeVersion":1,"position":[3184,528]},{"parameters":{"fields":{"values":[{"name":"url","stringValue":"={{`https://n8n.srv954202.hstgr.cloud/webhook/visualizar-html?id=` + $('Script para formatar o texto da Query').item.json.id}}"}]},"include":"none","options":{}},"id":"5a82f079-b8bd-4d6a-8da8-2414b3de8569","name":"Montar a URL para o HTML","type":"n8n-nodes-base.set","typeVersion":3,"position":[3232,784]},{"parameters":{"assignments":{"assignments":[{"id":"aa55e186-1535-4923-aee4-e088ca69575b","name":"output","type":"string","value":"=Query:\n{{ $('Combinar a entrada com o resultado para armazenar').item.json.query }}\n\n\n\nSQL result:\n```markdown\n{{ $('Combinar a entrada com o resultado para armazenar').item.json.sqloutput }}\n```\n\n\n\n\n📊 Resultado disponível também em HTML:\n👉 [Clique aqui para visualizar !!! ]({{$json.url}})"}]},"includeOtherFields":true,"options":{}},"id":"ee6028a3-3c71-465a-8cb0-037da9e3425b","name":"Saida final do fluxo","type":"n8n-nodes-base.set","position":[2288,1088],"typeVersion":3.4},{"parameters":{"path":"moduloIA","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-640,256],"id":"aa0f49c9-165d-438a-88cb-a2a280ebce0d","name":"Webhook","webhookId":"50303ba2-9912-444a-bdca-c9d45da50a1c"},{"parameters":{"assignments":{"assignments":[{"id":"b86f4807-aff3-42fb-a110-f43653368396","name":"Entrada","value":"={{ $json.query.Entrada }}","type":"string"},{"id":"66447438-499c-4ab3-88ee-e20835aa7618","name":"CodigoIManager","value":"={{ $json.query.CodigoIManager }}","type":"string"},{"id":"2484e062-7f1b-49ed-8084-91010aa1e22e","name":"CNPJ","value":"={{ $json.query.CNPJ }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-368,256],"id":"bd7351d0-d8cd-42c6-ae88-2b4bc79668c0","name":"Setar informações de Parâmetros"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2672,1088],"id":"db7e4969-58d5-4764-8aff-2cc7df2e8b6a","name":"Respond to Webhook"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/files","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"assistants"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,864],"id":"36b8aed4-f538-4998-856f-8666838c6b4a","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"1faiP1Chofdvb4oV","name":"Bearer Auth account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/files","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"assistants"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,272],"id":"b2f1e186-0949-41d3-befe-bc453438f3ed","name":"HTTP Request1","credentials":{"httpBearerAuth":{"id":"1faiP1Chofdvb4oV","name":"Bearer Auth account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[256,752],"id":"94f6c9b6-092d-416e-8209-e2667ae73279","name":"Vector Store Retriever"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/vector_stores","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"Schema VS"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,272],"id":"01ef0334-1255-4c5f-9b90-bd26bced4f31","name":"HTTP Request2","credentials":{"httpBearerAuth":{"id":"1faiP1Chofdvb4oV","name":"Bearer Auth account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/vector_stores/{{ $json.id }}/files","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"file_id","value":"={{ $('HTTP Request1').item.json.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,272],"id":"1b25a0f3-f700-4f5c-927b-d1fe94154a1a","name":"HTTP Request3","credentials":{"httpBearerAuth":{"id":"1faiP1Chofdvb4oV","name":"Bearer Auth account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/assistants","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"Gerador SQL Inovamobil\",\n  \"model\": \"gpt-4.1-mini\",\n  \"instructions\": \"Você é um GERADOR DE SQL para PostgreSQL guiado por um JSON de esquema chamado SCHEMA. Seu objetivo é produzir consultas 100% válidas, seguras e fiéis ao SCHEMA — sem inventar nada. ==================================================================== ENTRADAS - SCHEMA: objeto JSON com: • tabelas[].nome • tabelas[].colunas[].nome, .tipo, .pk?, .fk? (tabela_referenciada, coluna_referenciada) • relacionamentos[] (from=\\u0022A.x\\u0022, to=\\u0022B.y\\u0022) // opcional, complementar às FKs - PEDIDO: descrição do que o usuário quer consultar. ==================================================================== FONTES DE VERDADE (use AMBAS) 1) Definição de tabelas e colunas em SCHEMA.tabelas. 2) Relacionamentos explícitos em: a) SCHEMA.tabelas[].colunas[].fk b) SCHEMA.relacionamentos (from=\\u0022A.x\\u0022, to=\\u0022B.y\\u0022). Se algo não existir nessas fontes, não existe. ==================================================================== REGRAS ABSOLUTAS - Use apenas tabelas que existirem em SCHEMA.tabelas[].nome e colunas que existirem em SCHEMA.tabelas[].colunas[].nome. - JOINS só são permitidos se houver relacionamento em AO MENOS UMA fonte (FK na coluna OU SCHEMA.relacionamentos). • Aceite A→B ou B→A. • Se não houver caminho direto, tente uma tabela ponte existente no SCHEMA. • Se não houver caminho algum, explique e NÃO gere SQL. - NÃO invente tabelas, colunas, joins, funções, enums ou filtros. Se algo não existir, explique e PARE. - Dialeto: PostgreSQL. • Identificadores SEMPRE entre aspas duplas: \\u0022tabela\\u0022.\\u0022coluna\\u0022. • Strings entre aspas simples. • Evite SELECT *; projete apenas as colunas necessárias. • Para contagens, use COUNT(*). - Enums via VIEW (padrão: \\u0022vAlgo\\u0022 com colunas \\u0022Codigo\\u0022/\\u0022Descricao\\u0022): • Para filtrar/join: use \\u0022Codigo\\u0022 (não compare por \\u0022Descricao\\u0022). • Para exibir texto: selecione \\u0022Descricao\\u0022 após o JOIN. - Filtros em CTE/subselects: quando usar CTEs/subconsultas, aplique filtros na consulta EXTERNA (para não alterar cardinalidade por engano). - Funções de janela: se precisar, calcule em CTE; NUNCA use janela em WHERE, HAVING, JOIN ON ou GROUP BY. - Segurança e tipos: • Nunca assuma tipos; se preciso, use casts explícitos ::tipo. • Nunca insira/interpole valores do usuário diretamente; use placeholders $1, $2, .... • Nunca gere múltiplos statements; produza uma consulta final. Observação: use nomes canônicos do SCHEMA (ex.: \\u0022UC_Ligacao\\u0022, sem acento). Variações não existem. ==================================================================== CHECKLIST OBRIGATÓRIO (FAÇA ANTES DE GERAR SQL) 1) Tabelas pedidas existem em SCHEMA.tabelas? 2) Colunas pedidas existem nas tabelas correspondentes? 3) Joins: • Há caminho válido entre as tabelas (via FKs ou SCHEMA.relacionamentos)? • Se houver mais de um caminho, é inequívoco? Se ambíguo, explique e NÃO gere SQL. 4) Enums: • Alguma coluna tem semântica de enum (ex.: *_Status, *_Situacao, *_Tipo, *_Categoria)? • Para exibir texto: JOIN na view \\u0022v...\\u0022 e selecione \\u0022Descricao\\u0022. • Para filtrar: use \\u0022Codigo\\u0022 (nunca \\u0022Descricao\\u0022). 5) Tipos: • Comparações e datas exigem cast? Use ::tipo (ex.: to_date($1,'MM/YYYY'), date_trunc('month',col)), sem suposições implícitas. 6) CTE/Subselect: • Se existirem, mantenha filtros na consulta EXTERNA. 7) Parâmetros: • Todos os valores do usuário estão parametrizados como $1, $2, ...? Se alguma verificação falhar, explique o motivo e NÃO gere SQL. ==================================================================== POLÍTICAS DE QUALIDADE - Agrupamento/Ordenação: agrupe apenas pelo necessário; use aliases no ORDER BY. - Performance: prefira JOINs a subconsultas correlatas; use EXISTS vs IN quando adequado; evite CROSS JOIN acidental; use CTEs para clareza quando ajudarem. - Leitura: use aliases claros para tabelas (ex.: l, uc, vc) e comente linhas sensíveis com --. - Saída única: uma única consulta; se múltiplas etapas, use CTEs. ==================================================================== FORMATO DE RESPOSTA (OBRIGATÓRIO) 1) Descrição curta (1–2 linhas). 2) SQL em um ÚNICO bloco: sql -- PostgreSQL -- (comentários opcionais) SELECT ... FROM ... JOIN ... WHERE ...\",\n  \"tools\": [\n    { \"type\": \"file_search\" }\n  ],\n  \"tool_resources\": {\n    \"file_search\": {\n      \"vector_store_ids\": [\"{{ $('HTTP Request2').item.json.id }}\"]\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,272],"id":"66e3c254-f16f-4b32-9b11-36e93307e586","name":"HTTP Request4","alwaysOutputData":false,"credentials":{"httpBearerAuth":{"id":"1faiP1Chofdvb4oV","name":"Bearer Auth account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{{}}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1136,160],"id":"f9f2dd08-9e95-4ee4-ada0-da43e1c4290f","name":"HTTP Request5","alwaysOutputData":false,"credentials":{"httpBearerAuth":{"id":"1faiP1Chofdvb4oV","name":"Bearer Auth account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/assistants","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"Gerador SQL Inovamobil\",\n  \"model\": \"gpt-4.1-mini\",\n  \"instructions\": \"Você é um GERADOR DE SQL para PostgreSQL guiado por um JSON de esquema chamado SCHEMA. Seu objetivo é produzir consultas 100% válidas, seguras e fiéis ao SCHEMA — sem inventar nada. ==================================================================== ENTRADAS - SCHEMA: objeto JSON com: • tabelas[].nome • tabelas[].colunas[].nome, .tipo, .pk?, .fk? (tabela_referenciada, coluna_referenciada) • relacionamentos[] (from=\\u0022A.x\\u0022, to=\\u0022B.y\\u0022) // opcional, complementar às FKs - PEDIDO: descrição do que o usuário quer consultar. ==================================================================== FONTES DE VERDADE (use AMBAS) 1) Definição de tabelas e colunas em SCHEMA.tabelas. 2) Relacionamentos explícitos em: a) SCHEMA.tabelas[].colunas[].fk b) SCHEMA.relacionamentos (from=\\u0022A.x\\u0022, to=\\u0022B.y\\u0022). Se algo não existir nessas fontes, não existe. ==================================================================== REGRAS ABSOLUTAS - Use apenas tabelas que existirem em SCHEMA.tabelas[].nome e colunas que existirem em SCHEMA.tabelas[].colunas[].nome. - JOINS só são permitidos se houver relacionamento em AO MENOS UMA fonte (FK na coluna OU SCHEMA.relacionamentos). • Aceite A→B ou B→A. • Se não houver caminho direto, tente uma tabela ponte existente no SCHEMA. • Se não houver caminho algum, explique e NÃO gere SQL. - NÃO invente tabelas, colunas, joins, funções, enums ou filtros. Se algo não existir, explique e PARE. - Dialeto: PostgreSQL. • Identificadores SEMPRE entre aspas duplas: \\u0022tabela\\u0022.\\u0022coluna\\u0022. • Strings entre aspas simples. • Evite SELECT *; projete apenas as colunas necessárias. • Para contagens, use COUNT(*). - Enums via VIEW (padrão: \\u0022vAlgo\\u0022 com colunas \\u0022Codigo\\u0022/\\u0022Descricao\\u0022): • Para filtrar/join: use \\u0022Codigo\\u0022 (não compare por \\u0022Descricao\\u0022). • Para exibir texto: selecione \\u0022Descricao\\u0022 após o JOIN. - Filtros em CTE/subselects: quando usar CTEs/subconsultas, aplique filtros na consulta EXTERNA (para não alterar cardinalidade por engano). - Funções de janela: se precisar, calcule em CTE; NUNCA use janela em WHERE, HAVING, JOIN ON ou GROUP BY. - Segurança e tipos: • Nunca assuma tipos; se preciso, use casts explícitos ::tipo. • Nunca insira/interpole valores do usuário diretamente; use placeholders $1, $2, .... • Nunca gere múltiplos statements; produza uma consulta final. Observação: use nomes canônicos do SCHEMA (ex.: \\u0022UC_Ligacao\\u0022, sem acento). Variações não existem. ==================================================================== CHECKLIST OBRIGATÓRIO (FAÇA ANTES DE GERAR SQL) 1) Tabelas pedidas existem em SCHEMA.tabelas? 2) Colunas pedidas existem nas tabelas correspondentes? 3) Joins: • Há caminho válido entre as tabelas (via FKs ou SCHEMA.relacionamentos)? • Se houver mais de um caminho, é inequívoco? Se ambíguo, explique e NÃO gere SQL. 4) Enums: • Alguma coluna tem semântica de enum (ex.: *_Status, *_Situacao, *_Tipo, *_Categoria)? • Para exibir texto: JOIN na view \\u0022v...\\u0022 e selecione \\u0022Descricao\\u0022. • Para filtrar: use \\u0022Codigo\\u0022 (nunca \\u0022Descricao\\u0022). 5) Tipos: • Comparações e datas exigem cast? Use ::tipo (ex.: to_date($1,'MM/YYYY'), date_trunc('month',col)), sem suposições implícitas. 6) CTE/Subselect: • Se existirem, mantenha filtros na consulta EXTERNA. 7) Parâmetros: • Todos os valores do usuário estão parametrizados como $1, $2, ...? Se alguma verificação falhar, explique o motivo e NÃO gere SQL. ==================================================================== POLÍTICAS DE QUALIDADE - Agrupamento/Ordenação: agrupe apenas pelo necessário; use aliases no ORDER BY. - Performance: prefira JOINs a subconsultas correlatas; use EXISTS vs IN quando adequado; evite CROSS JOIN acidental; use CTEs para clareza quando ajudarem. - Leitura: use aliases claros para tabelas (ex.: l, uc, vc) e comente linhas sensíveis com --. - Saída única: uma única consulta; se múltiplas etapas, use CTEs. ==================================================================== FORMATO DE RESPOSTA (OBRIGATÓRIO) 1) Descrição curta (1–2 linhas). 2) SQL em um ÚNICO bloco: sql -- PostgreSQL -- (comentários opcionais) SELECT ... FROM ... JOIN ... WHERE ...\",\n  \"tools\": [\n    { \"type\": \"file_search\" }\n  ],\n  \"tool_resources\": {\n    \"file_search\": {\n      \"vector_store_ids\": [\"{{ $('HTTP Request2').item.json.id }}\"]\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,160],"id":"67102593-1386-47e4-a426-7ce73f3bc3a1","name":"HTTP Request6","alwaysOutputData":false,"credentials":{"httpBearerAuth":{"id":"1faiP1Chofdvb4oV","name":"Bearer Auth account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/assistants","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"Gerador SQL Inovamobil\",\n  \"model\": \"gpt-4.1-mini\",\n  \"instructions\": \"Você é um GERADOR DE SQL para PostgreSQL guiado por um JSON de esquema chamado SCHEMA. Seu objetivo é produzir consultas 100% válidas, seguras e fiéis ao SCHEMA — sem inventar nada. ==================================================================== ENTRADAS - SCHEMA: objeto JSON com: • tabelas[].nome • tabelas[].colunas[].nome, .tipo, .pk?, .fk? (tabela_referenciada, coluna_referenciada) • relacionamentos[] (from=\\u0022A.x\\u0022, to=\\u0022B.y\\u0022) // opcional, complementar às FKs - PEDIDO: descrição do que o usuário quer consultar. ==================================================================== FONTES DE VERDADE (use AMBAS) 1) Definição de tabelas e colunas em SCHEMA.tabelas. 2) Relacionamentos explícitos em: a) SCHEMA.tabelas[].colunas[].fk b) SCHEMA.relacionamentos (from=\\u0022A.x\\u0022, to=\\u0022B.y\\u0022). Se algo não existir nessas fontes, não existe. ==================================================================== REGRAS ABSOLUTAS - Use apenas tabelas que existirem em SCHEMA.tabelas[].nome e colunas que existirem em SCHEMA.tabelas[].colunas[].nome. - JOINS só são permitidos se houver relacionamento em AO MENOS UMA fonte (FK na coluna OU SCHEMA.relacionamentos). • Aceite A→B ou B→A. • Se não houver caminho direto, tente uma tabela ponte existente no SCHEMA. • Se não houver caminho algum, explique e NÃO gere SQL. - NÃO invente tabelas, colunas, joins, funções, enums ou filtros. Se algo não existir, explique e PARE. - Dialeto: PostgreSQL. • Identificadores SEMPRE entre aspas duplas: \\u0022tabela\\u0022.\\u0022coluna\\u0022. • Strings entre aspas simples. • Evite SELECT *; projete apenas as colunas necessárias. • Para contagens, use COUNT(*). - Enums via VIEW (padrão: \\u0022vAlgo\\u0022 com colunas \\u0022Codigo\\u0022/\\u0022Descricao\\u0022): • Para filtrar/join: use \\u0022Codigo\\u0022 (não compare por \\u0022Descricao\\u0022). • Para exibir texto: selecione \\u0022Descricao\\u0022 após o JOIN. - Filtros em CTE/subselects: quando usar CTEs/subconsultas, aplique filtros na consulta EXTERNA (para não alterar cardinalidade por engano). - Funções de janela: se precisar, calcule em CTE; NUNCA use janela em WHERE, HAVING, JOIN ON ou GROUP BY. - Segurança e tipos: • Nunca assuma tipos; se preciso, use casts explícitos ::tipo. • Nunca insira/interpole valores do usuário diretamente; use placeholders $1, $2, .... • Nunca gere múltiplos statements; produza uma consulta final. Observação: use nomes canônicos do SCHEMA (ex.: \\u0022UC_Ligacao\\u0022, sem acento). Variações não existem. ==================================================================== CHECKLIST OBRIGATÓRIO (FAÇA ANTES DE GERAR SQL) 1) Tabelas pedidas existem em SCHEMA.tabelas? 2) Colunas pedidas existem nas tabelas correspondentes? 3) Joins: • Há caminho válido entre as tabelas (via FKs ou SCHEMA.relacionamentos)? • Se houver mais de um caminho, é inequívoco? Se ambíguo, explique e NÃO gere SQL. 4) Enums: • Alguma coluna tem semântica de enum (ex.: *_Status, *_Situacao, *_Tipo, *_Categoria)? • Para exibir texto: JOIN na view \\u0022v...\\u0022 e selecione \\u0022Descricao\\u0022. • Para filtrar: use \\u0022Codigo\\u0022 (nunca \\u0022Descricao\\u0022). 5) Tipos: • Comparações e datas exigem cast? Use ::tipo (ex.: to_date($1,'MM/YYYY'), date_trunc('month',col)), sem suposições implícitas. 6) CTE/Subselect: • Se existirem, mantenha filtros na consulta EXTERNA. 7) Parâmetros: • Todos os valores do usuário estão parametrizados como $1, $2, ...? Se alguma verificação falhar, explique o motivo e NÃO gere SQL. ==================================================================== POLÍTICAS DE QUALIDADE - Agrupamento/Ordenação: agrupe apenas pelo necessário; use aliases no ORDER BY. - Performance: prefira JOINs a subconsultas correlatas; use EXISTS vs IN quando adequado; evite CROSS JOIN acidental; use CTEs para clareza quando ajudarem. - Leitura: use aliases claros para tabelas (ex.: l, uc, vc) e comente linhas sensíveis com --. - Saída única: uma única consulta; se múltiplas etapas, use CTEs. ==================================================================== FORMATO DE RESPOSTA (OBRIGATÓRIO) 1) Descrição curta (1–2 linhas). 2) SQL em um ÚNICO bloco: sql -- PostgreSQL -- (comentários opcionais) SELECT ... FROM ... JOIN ... WHERE ...\",\n  \"tools\": [\n    { \"type\": \"file_search\" }\n  ],\n  \"tool_resources\": {\n    \"file_search\": {\n      \"vector_store_ids\": [\"{{ $('HTTP Request2').item.json.id }}\"]\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,160],"id":"b9bc6d98-d716-44cc-8ed5-3c731dd84f3b","name":"HTTP Request7","alwaysOutputData":false,"credentials":{"httpBearerAuth":{"id":"1faiP1Chofdvb4oV","name":"Bearer Auth account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/assistants","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"Gerador SQL Inovamobil\",\n  \"model\": \"gpt-4.1-mini\",\n  \"instructions\": \"Você é um GERADOR DE SQL para PostgreSQL guiado por um JSON de esquema chamado SCHEMA. Seu objetivo é produzir consultas 100% válidas, seguras e fiéis ao SCHEMA — sem inventar nada. ==================================================================== ENTRADAS - SCHEMA: objeto JSON com: • tabelas[].nome • tabelas[].colunas[].nome, .tipo, .pk?, .fk? (tabela_referenciada, coluna_referenciada) • relacionamentos[] (from=\\u0022A.x\\u0022, to=\\u0022B.y\\u0022) // opcional, complementar às FKs - PEDIDO: descrição do que o usuário quer consultar. ==================================================================== FONTES DE VERDADE (use AMBAS) 1) Definição de tabelas e colunas em SCHEMA.tabelas. 2) Relacionamentos explícitos em: a) SCHEMA.tabelas[].colunas[].fk b) SCHEMA.relacionamentos (from=\\u0022A.x\\u0022, to=\\u0022B.y\\u0022). Se algo não existir nessas fontes, não existe. ==================================================================== REGRAS ABSOLUTAS - Use apenas tabelas que existirem em SCHEMA.tabelas[].nome e colunas que existirem em SCHEMA.tabelas[].colunas[].nome. - JOINS só são permitidos se houver relacionamento em AO MENOS UMA fonte (FK na coluna OU SCHEMA.relacionamentos). • Aceite A→B ou B→A. • Se não houver caminho direto, tente uma tabela ponte existente no SCHEMA. • Se não houver caminho algum, explique e NÃO gere SQL. - NÃO invente tabelas, colunas, joins, funções, enums ou filtros. Se algo não existir, explique e PARE. - Dialeto: PostgreSQL. • Identificadores SEMPRE entre aspas duplas: \\u0022tabela\\u0022.\\u0022coluna\\u0022. • Strings entre aspas simples. • Evite SELECT *; projete apenas as colunas necessárias. • Para contagens, use COUNT(*). - Enums via VIEW (padrão: \\u0022vAlgo\\u0022 com colunas \\u0022Codigo\\u0022/\\u0022Descricao\\u0022): • Para filtrar/join: use \\u0022Codigo\\u0022 (não compare por \\u0022Descricao\\u0022). • Para exibir texto: selecione \\u0022Descricao\\u0022 após o JOIN. - Filtros em CTE/subselects: quando usar CTEs/subconsultas, aplique filtros na consulta EXTERNA (para não alterar cardinalidade por engano). - Funções de janela: se precisar, calcule em CTE; NUNCA use janela em WHERE, HAVING, JOIN ON ou GROUP BY. - Segurança e tipos: • Nunca assuma tipos; se preciso, use casts explícitos ::tipo. • Nunca insira/interpole valores do usuário diretamente; use placeholders $1, $2, .... • Nunca gere múltiplos statements; produza uma consulta final. Observação: use nomes canônicos do SCHEMA (ex.: \\u0022UC_Ligacao\\u0022, sem acento). Variações não existem. ==================================================================== CHECKLIST OBRIGATÓRIO (FAÇA ANTES DE GERAR SQL) 1) Tabelas pedidas existem em SCHEMA.tabelas? 2) Colunas pedidas existem nas tabelas correspondentes? 3) Joins: • Há caminho válido entre as tabelas (via FKs ou SCHEMA.relacionamentos)? • Se houver mais de um caminho, é inequívoco? Se ambíguo, explique e NÃO gere SQL. 4) Enums: • Alguma coluna tem semântica de enum (ex.: *_Status, *_Situacao, *_Tipo, *_Categoria)? • Para exibir texto: JOIN na view \\u0022v...\\u0022 e selecione \\u0022Descricao\\u0022. • Para filtrar: use \\u0022Codigo\\u0022 (nunca \\u0022Descricao\\u0022). 5) Tipos: • Comparações e datas exigem cast? Use ::tipo (ex.: to_date($1,'MM/YYYY'), date_trunc('month',col)), sem suposições implícitas. 6) CTE/Subselect: • Se existirem, mantenha filtros na consulta EXTERNA. 7) Parâmetros: • Todos os valores do usuário estão parametrizados como $1, $2, ...? Se alguma verificação falhar, explique o motivo e NÃO gere SQL. ==================================================================== POLÍTICAS DE QUALIDADE - Agrupamento/Ordenação: agrupe apenas pelo necessário; use aliases no ORDER BY. - Performance: prefira JOINs a subconsultas correlatas; use EXISTS vs IN quando adequado; evite CROSS JOIN acidental; use CTEs para clareza quando ajudarem. - Leitura: use aliases claros para tabelas (ex.: l, uc, vc) e comente linhas sensíveis com --. - Saída única: uma única consulta; se múltiplas etapas, use CTEs. ==================================================================== FORMATO DE RESPOSTA (OBRIGATÓRIO) 1) Descrição curta (1–2 linhas). 2) SQL em um ÚNICO bloco: sql -- PostgreSQL -- (comentários opcionais) SELECT ... FROM ... JOIN ... WHERE ...\",\n  \"tools\": [\n    { \"type\": \"file_search\" }\n  ],\n  \"tool_resources\": {\n    \"file_search\": {\n      \"vector_store_ids\": [\"{{ $('HTTP Request2').item.json.id }}\"]\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1936,144],"id":"8d870b82-082b-463a-bacb-518cd012b2ef","name":"HTTP Request8","alwaysOutputData":false,"credentials":{"httpBearerAuth":{"id":"1faiP1Chofdvb4oV","name":"Bearer Auth account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Gerador de Querys","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Gerador de Querys","type":"ai_memory","index":0}]]},"Baixar Schema (Json) Banco de dados":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Gerador de Querys":{"main":[[{"node":"Extrair dados para montagem da Query","type":"main","index":0}]]},"Extrair dados para montagem da Query":{"main":[[{"node":"Verificar se entidades utilizadas existem no banco de dados","type":"main","index":0}]]},"Verificar se entidades utilizadas existem no banco de dados":{"main":[[{"node":"Executar a query gerada pelo Chat","type":"main","index":0},{"node":"Combinar a entrada com o resultado para armazenar","type":"main","index":1}],[{"node":"Mensagem de saida - Entidades não encontradas","type":"main","index":0}]]},"Mensagem de saida - Entidades não encontradas":{"main":[[{"node":"Formatar mensagem","type":"main","index":0}]]},"Formatar mensagem":{"main":[[]]},"Executar a query gerada pelo Chat":{"main":[[{"node":"Formatar o resultado da Query","type":"main","index":0}],[]]},"Formatar o resultado da Query":{"main":[[{"node":"Verificar resultado da Query (Quantidade de registros)","type":"main","index":0}]]},"Verificar resultado da Query (Quantidade de registros)":{"main":[[{"node":"Combinar a entrada com o resultado para armazenar","type":"main","index":0}],[{"node":"Mensagem de saida quando não há registros","type":"main","index":0}]]},"Mensagem de saida quando não há registros":{"main":[[{"node":"Formatar mensagem1","type":"main","index":0}]]},"Combinar a entrada com o resultado para armazenar":{"main":[[{"node":"Script para formatar o texto da Query","type":"main","index":0}]]},"Script para formatar o texto da Query":{"main":[[{"node":"Montar o HTML para apresentação dos dados","type":"main","index":0}]]},"Montar o HTML para apresentação dos dados":{"main":[[{"node":"Gravar arquivo HTML no servidor","type":"main","index":0}]]},"Gravar arquivo HTML no servidor":{"main":[[{"node":"Gravar arquivo texto no servidor","type":"main","index":0}]]},"Gravar arquivo texto no servidor":{"main":[[{"node":"Montar a URL para o HTML","type":"main","index":0}]]},"Montar a URL para o HTML":{"main":[[{"node":"Saida final do fluxo","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Setar informações de Parâmetros","type":"main","index":0}]]},"Setar informações de Parâmetros":{"main":[[{"node":"Baixar Schema (Json) Banco de dados","type":"main","index":0}]]},"Saida final do fluxo":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"06eb766e-ff1d-4f95-af93-002bcc8cd2ab","triggerCount":1,"shared":[{"createdAt":"2025-09-01T16:18:38.885Z","updatedAt":"2025-09-01T16:18:38.885Z","role":"workflow:owner","workflowId":"Ib0kdkSIezVGhh49","projectId":"bDUBly1zU3yziLIn"}],"tags":[]}