pXAEpqz4TeBC19xJ.json
{"createdAt":"2025-08-24T04:02:13.338Z","updatedAt":"2025-09-19T11:44:43.000Z","id":"pXAEpqz4TeBC19xJ","name":"Teste RAG","active":false,"isArchived":true,"nodes":[{"parameters":{"promptType":"define","text":"=# FUNÇÃO\nVocê é um assistente de IA amigável.\nVocê está conversando com um usuário no chat.\nResponda sempre em Portugues\n\n# REGRAS\nSalve todas as conversas que o usuário lhe enviar, \n# Memórias\nEstes são os **últimos fatos armazenados** coletados do usuário\n\n{{ $json.ConversationMemories.toJsonString() }}\n\n!! IMPORTANTE!!\nLeve esses fatos armazenados em consideração ao responder.\n\nResponda de forma natural e coloquial.","options":{"systemMessage":"="}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[480,0],"id":"b41e56b1-714b-43f3-b9cf-c34fbb8490d3","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[464,208],"id":"017cda3b-31c0-4304-9061-97628d3ea7b3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"H4HnbIJCN7JE8cR5","name":"OpenAi account"}}},{"parameters":{"operation":"getAll","tableId":"Memoriaquerys","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[160,0],"id":"823d8b34-f3b8-431d-a5b7-97576c3a9bc6","name":"Get Memory","credentials":{"supabaseApi":{"id":"pBDRjnxfwwka7mlg","name":"Supabase account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"ConversationMemories","include":"specifiedFields","fieldsToInclude":"Orientacao","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[320,0],"id":"786251e5-0994-4308-bb80-1ee5c2a6e3f0","name":"Aggregate"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-80,-16],"id":"8614f3c2-b24f-4b9f-9345-84af3466ee12","name":"When chat message received","webhookId":"c335c674-e16a-4d5d-b5ff-06b6555ffaf9"},{"parameters":{"useCustomSchema":true,"tableId":"Memoriaquerys","fieldsUi":{"fieldValues":[{"fieldId":"Orientacao","fieldValue":"={{ $('When chat message received').item.json.chatInput }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[640,208],"id":"086f58bf-2f44-4798-8c26-07c38d264c81","name":"Save Message","credentials":{"supabaseApi":{"id":"pBDRjnxfwwka7mlg","name":"Supabase account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[]]},"Get Memory":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Get Memory","type":"main","index":0}]]},"Save Message":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6e729a16-0f4e-4426-80ee-05467d018c32","triggerCount":1,"shared":[{"createdAt":"2025-08-24T04:02:13.342Z","updatedAt":"2025-08-24T04:02:13.342Z","role":"workflow:owner","workflowId":"pXAEpqz4TeBC19xJ","projectId":"bDUBly1zU3yziLIn"}],"tags":[]}