S4TgLV9paFnDMr2R.json
{
  "id": "S4TgLV9paFnDMr2R",
  "name": "Backup n8n GitHub",
  "createdAt": "2025-08-14T17:17:15.986Z",
  "updatedAt": "2025-11-17T17:11:17.000Z",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Luis-Inovamobil",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Backup_n8n",
          "mode": "list",
          "cachedResultName": "Backup_n8n",
          "cachedResultUrl": "https://github.com/Luis-Inovamobil/Backup_n8n"
        },
        "filePath": "={{ $json.id }}.json",
        "binaryPropertyName": "arquivo",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -2656,
        144
      ],
      "id": "8a1eeefb-8ed8-421d-b389-592324fe767b",
      "name": "Get a file",
      "webhookId": "6bf9bd6e-c7d9-4024-b116-84ab2bc55bc8",
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "dz74gpJDjlANTwOK",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "300235a0-8b6e-44de-9d50-7e01cb06c99c",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "=JA_ATUALIZADO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "***MASKED_SECRET***"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9cc1772-fbaa-4a03-81b5-5abea1ff35a3",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "=ATUALIZAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "***MASKED_SECRET***"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "494b2ed4-ef8d-4577-ac42-350323a42f4d",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "CRIAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "***MASKED_SECRET***"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1856,
        16
      ],
      "id": "df77bd6e-ba0f-448a-bb6c-ee748f280246",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Luis-Inovamobil",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Backup_n8n",
          "mode": "list",
          "cachedResultName": "Backup_n8n",
          "cachedResultUrl": "https://github.com/Luis-Inovamobil/Backup_n8n"
        },
        "filePath": "={{ $json.filePath }}",
        "fileContent": "={{ JSON.stringify($json.workflow, null, 2) }}",
        "commitMessage": "=Arquivo criado : {{ $('Get many workflows').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1376,
        320
      ],
      "id": "02604182-3352-42a6-b1a9-cfa729b68400",
      "name": "Create a file",
      "webhookId": "e434a1aa-85da-4746-911a-f26f85be7a5e",
      "credentials": {
        "githubOAuth2Api": {
          "id": "dz74gpJDjlANTwOK",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1472,
        -48
      ],
      "id": "94f4d65d-edfe-4889-bda5-2eaeab198dd7",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -2880,
        16
      ],
      "id": "9b7c71f1-7f2a-438c-9b15-714851e69839",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "drUaz7aijBgIJyxC",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "Luis-Inovamobil",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Backup_n8n",
          "mode": "list",
          "cachedResultName": "Backup_n8n",
          "cachedResultUrl": "https://github.com/Luis-Inovamobil/Backup_n8n"
        },
        "filePath": "={{ $json.filePath }}",
        "fileContent": "={{ JSON.stringify($json.workflow, null, 2) }}",
        "commitMessage": "=Arquivo atualizado :  {{ $json.workflow.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1232,
        96
      ],
      "id": "076f32a3-454d-430d-b731-d5dbbe59fa7c",
      "name": "Edit a file",
      "webhookId": "fe6549ad-def4-4d2b-9ca6-6634efa2e5ca",
      "credentials": {
        "githubOAuth2Api": {
          "id": "dz74gpJDjlANTwOK",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 6
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        -3056,
        16
      ],
      "typeVersion": 1,
      "id": "be3cbf24-0fc9-4ea2-827a-04e3d1284d4e"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const j = item.json;\n  const out = { ...j };\n\n  // 1) Erros explícitos do GitHub (404, 401, etc)\n  if ((j.statusCode && j.statusCode >= 400) || j.error) {\n    out.error = j.error || j.message || `GitHub HTTP ${j.statusCode}`;\n    out.hasBackup = false;\n    out.backupData = null;\n    out.backupUpdatedAt = null;\n    return { json: out };\n  }\n\n  // 2) Tentar encontrar o conteúdo em JSON (caso padrão)\n  let content = null;\n  let encoding = 'base64';\n\n  if (typeof j.content === 'string' && j.content) {\n    content = j.content;\n    encoding = j.encoding || 'base64';\n  }\n\n  // 3) Se não achou em json.content, tenta em binário\n  if (!content && item.binary) {\n    const keys = Object.keys(item.binary);\n    if (keys.length > 0) {\n      const bin = item.binary[keys[0]];\n      if (bin && typeof bin.data === 'string') {\n        content = bin.data;\n        encoding = 'base64';\n      }\n    }\n  }\n\n  // 4) Se ainda não achou nada, não tem conteúdo útil\n  if (!content) {\n    out.error = 'No content returned from GitHub (no json.content or binary.data)';\n    out.hasBackup = false;\n    out.backupData = null;\n    out.backupUpdatedAt = null;\n    return { json: out };\n  }\n\n  // 5) Decodificar + parsear o JSON\n  try {\n    const buffer = Buffer.from(content, encoding);\n    const text = buffer.toString('utf8');\n    const parsed = JSON.parse(text);\n\n    out.hasBackup = true;\n    out.backupData = parsed;\n    out.backupUpdatedAt = parsed.updatedAt || null;\n  } catch (e) {\n    out.error = `Parse error: ${e.message}`;\n    out.hasBackup = false;\n    out.backupData = null;\n    out.backupUpdatedAt = null;\n  }\n\n  return { json: out };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2448,
        144
      ],
      "id": "13f0c646-6742-4cc7-9da2-63ab40f75d03",
      "name": "Ler Arquivos"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of items) {\n  const json = item.json;\n\n  const workflowId        = json.workflowId ?? json.id ?? null;\n  const workflowName      = json.workflowName ?? json.name ?? null;\n  const workflowUpdatedAt = json.workflowUpdatedAt ?? json.updatedAt ?? null;\n\n  const hasBackup = json.hasBackup === true;\n\n  const backupUpdatedAt =\n    json.backupUpdatedAt ||\n    (hasBackup && json.backupData && json.backupData.updatedAt) ||\n    null;\n\n  let status;\n\n  if (!hasBackup) {\n    status = 'CRIAR';\n  } else if (!workflowUpdatedAt) {\n    status = 'CRIAR';\n  } else if (!backupUpdatedAt) {\n    status = 'ATUALIZAR';\n  } else {\n    const currentDate = new Date(workflowUpdatedAt);\n    const backupDate  = new Date(backupUpdatedAt);\n    status = currentDate > backupDate ? 'ATUALIZAR' : 'JA_ATUALIZADO';\n  }\n\n  const filePath =\n    json.filePath ||\n    (workflowId != null ? `${workflowId}.json` : null);\n\n  results.push({\n    json: {\n      ...json,\n      workflowId,\n      workflowName,\n      filePath,\n      workflowUpdatedAt,\n      backupUpdatedAt,\n      status,\n    },\n  });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        32
      ],
      "id": "6cc8a38d-b177-4004-884d-8951508ecec5",
      "name": "Status"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2272,
        32
      ],
      "id": "47a8af3d-6b49-49ca-b520-8581e06b6600",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "function sanitizeString(str) {\n  if (typeof str !== 'string') return str;\n\n  // remove qualquer coisa que pareça chave da OpenAI (sk-...)\n  // fazemos bem agressivo: sumir com o trecho todo\n  str = str.replace(/sk-[A-Za-z0-9_\\-]{10,}/g, '***MASKED_SECRET***');\n\n  // se quiser, pode mascarar outras coisas aqui (tokens genéricos etc.)\n\n  return str;\n}\n\nfunction sanitizeValue(value) {\n  if (value === null || value === undefined) {\n    return value;\n  }\n\n  if (typeof value === 'string') {\n    return sanitizeString(value);\n  }\n\n  if (Array.isArray(value)) {\n    return value.map(sanitizeValue);\n  }\n\n  if (typeof value === 'object') {\n    const out = {};\n    for (const [key, v] of Object.entries(value)) {\n      // se o nome do campo sugere segredo, mascarar independente do valor\n      if (/apiKey|api_key|token|secret|senha|key/i.test(key)) {\n        out[key] = '***MASKED_SECRET***';\n      } else {\n        out[key] = sanitizeValue(v);\n      }\n    }\n    return out;\n  }\n\n  return value;\n}\n\nreturn items.map(item => {\n  const j = item.json;\n\n  // monta o objeto de workflow que você quer versionar\n  const workflow = {\n    id: j.id,\n    name: j.name,\n    createdAt: j.createdAt,\n    updatedAt: j.updatedAt,\n    active: j.active,\n    isArchived: j.isArchived,\n    nodes: j.nodes,\n    connections: j.connections,\n    settings: j.settings,\n    staticData: j.staticData,\n    meta: j.meta,\n    pinData: j.pinData,\n    versionId: j.versionId,\n    triggerCount: j.triggerCount,\n    shared: j.shared,\n    tags: j.tags,\n  };\n\n  const sanitizedWorkflow = sanitizeValue(workflow);\n\n  return {\n    json: {\n      workflowId: j.workflowId ?? j.id,\n      workflowName: j.workflowName ?? j.name,\n      filePath: j.filePath,\n      workflow: sanitizedWorkflow,\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        112
      ],
      "id": "9156479c-c1c9-4e42-97c0-8a9f361f763d",
      "name": "Preparar Arquivo"
    },
    {
      "parameters": {
        "jsCode": "function sanitizeString(str) {\n  if (typeof str !== 'string') return str;\n\n  // remove qualquer coisa que pareça chave da OpenAI (sk-...)\n  // fazemos bem agressivo: sumir com o trecho todo\n  str = str.replace(/sk-[A-Za-z0-9_\\-]{10,}/g, '***MASKED_SECRET***');\n\n  // se quiser, pode mascarar outras coisas aqui (tokens genéricos etc.)\n\n  return str;\n}\n\nfunction sanitizeValue(value) {\n  if (value === null || value === undefined) {\n    return value;\n  }\n\n  if (typeof value === 'string') {\n    return sanitizeString(value);\n  }\n\n  if (Array.isArray(value)) {\n    return value.map(sanitizeValue);\n  }\n\n  if (typeof value === 'object') {\n    const out = {};\n    for (const [key, v] of Object.entries(value)) {\n      // se o nome do campo sugere segredo, mascarar independente do valor\n      if (/apiKey|api_key|token|secret|senha|key/i.test(key)) {\n        out[key] = '***MASKED_SECRET***';\n      } else {\n        out[key] = sanitizeValue(v);\n      }\n    }\n    return out;\n  }\n\n  return value;\n}\n\nreturn items.map(item => {\n  const j = item.json;\n\n  // monta o objeto de workflow que você quer versionar\n  const workflow = {\n    id: j.id,\n    name: j.name,\n    createdAt: j.createdAt,\n    updatedAt: j.updatedAt,\n    active: j.active,\n    isArchived: j.isArchived,\n    nodes: j.nodes,\n    connections: j.connections,\n    settings: j.settings,\n    staticData: j.staticData,\n    meta: j.meta,\n    pinData: j.pinData,\n    versionId: j.versionId,\n    triggerCount: j.triggerCount,\n    shared: j.shared,\n    tags: j.tags,\n  };\n\n  const sanitizedWorkflow = sanitizeValue(workflow);\n\n  return {\n    json: {\n      workflowId: j.workflowId ?? j.id,\n      workflowName: j.workflowName ?? j.name,\n      filePath: j.filePath,\n      workflow: sanitizedWorkflow,\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        224
      ],
      "id": "2f4d780a-a1f9-4cc8-bb25-896eb4f99465",
      "name": "Preparar Arquivo1"
    }
  ],
  "connections": {
    "Get a file": {
      "main": [
        [
          {
            "node": "Ler Arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Arquivo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Arquivo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        []
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Arquivos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Arquivo": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Arquivo1": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        16
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e1a14425-360a-409b-8905-95439d1f48ee",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-14T17:17:15.993Z",
      "updatedAt": "2025-08-14T17:17:15.993Z",
      "role": "workflow:owner",
      "workflowId": "S4TgLV9paFnDMr2R",
      "projectId": "bDUBly1zU3yziLIn"
    }
  ],
  "tags": []
}