S4TgLV9paFnDMr2R.json
{"createdAt":"2025-08-14T17:17:15.986Z","updatedAt":"2025-11-17T14:19:53.000Z","id":"S4TgLV9paFnDMr2R","name":"Backup n8n GitHub","active":true,"isArchived":false,"nodes":[{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"Luis-Inovamobil","mode":"name"},"repository":{"__rl":true,"value":"Backup_n8n","mode":"list","cachedResultName":"Backup_n8n","cachedResultUrl":"https://github.com/Luis-Inovamobil/Backup_n8n"},"filePath":"={{ $json.id }}.json","binaryPropertyName":"arquivo","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-2656,144],"id":"8a1eeefb-8ed8-421d-b389-592324fe767b","name":"Get a file","webhookId":"6bf9bd6e-c7d9-4024-b116-84ab2bc55bc8","alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"dz74gpJDjlANTwOK","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"300235a0-8b6e-44de-9d50-7e01cb06c99c","leftValue":"={{ $json.status }}","rightValue":"=JA_ATUALIZADO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Já Atualizado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9cc1772-fbaa-4a03-81b5-5abea1ff35a3","leftValue":"={{ $json.status }}","rightValue":"=ATUALIZAR","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Atualizar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"494b2ed4-ef8d-4577-ac42-350323a42f4d","leftValue":"={{ $json.status }}","rightValue":"CRIAR","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Criar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1856,16],"id":"df77bd6e-ba0f-448a-bb6c-ee748f280246","name":"Switch"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"Luis-Inovamobil","mode":"name"},"repository":{"__rl":true,"value":"Backup_n8n","mode":"list","cachedResultName":"Backup_n8n","cachedResultUrl":"https://github.com/Luis-Inovamobil/Backup_n8n"},"filePath":"={{ $('Get many workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Get many workflows').item.json) }}","commitMessage":"={{ $('Get many workflows').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1632,256],"id":"02604182-3352-42a6-b1a9-cfa729b68400","name":"Create a file","webhookId":"e434a1aa-85da-4746-911a-f26f85be7a5e","credentials":{"githubOAuth2Api":{"id":"dz74gpJDjlANTwOK","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1472,-48],"id":"94f4d65d-edfe-4889-bda5-2eaeab198dd7","name":"No Operation, do nothing"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-2880,16],"id":"9b7c71f1-7f2a-438c-9b15-714851e69839","name":"Get many workflows","credentials":{"n8nApi":{"id":"drUaz7aijBgIJyxC","name":"n8n account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"Luis-Inovamobil","mode":"name"},"repository":{"__rl":true,"value":"Backup_n8n","mode":"list","cachedResultName":"Backup_n8n","cachedResultUrl":"https://github.com/Luis-Inovamobil/Backup_n8n"},"filePath":"={{ $('Get many workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Get many workflows').item.json) }}","commitMessage":"=Backup Atualizado :  {{ $json.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1424,128],"id":"076f32a3-454d-430d-b731-d5dbbe59fa7c","name":"Edit a file","webhookId":"fe6549ad-def4-4d2b-9ca6-6634efa2e5ca","credentials":{"githubOAuth2Api":{"id":"dz74gpJDjlANTwOK","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"triggerTimes":{"item":[{"mode":"everyX","value":6}]}},"name":"Cron","type":"n8n-nodes-base.cron","position":[-3056,16],"typeVersion":1,"id":"be3cbf24-0fc9-4ea2-827a-04e3d1284d4e"},{"parameters":{"jsCode":"// Entrada: 36 itens vindos do GitHub Get a file\n// - Quando o arquivo existe: json.content (base64) + json.encoding = 'base64'\n// - Quando não existe: vem um erro no json\n\nreturn items.map(item => {\n  const out = { ...item };\n\n  // Se veio erro do GitHub (404, etc.), não há backup\n  if (out.json.error) {\n    out.json.hasBackup = false;\n    out.json.backupData = null;\n    return out;\n  }\n\n  // Se chegou aqui, temos um arquivo. Conteúdo normalmente vem em json.content (base64)\n  const content = out.json.content;   // ajuste se o seu caminho for outro\n  const encoding = out.json.encoding || 'base64';\n\n  try {\n    const buffer = Buffer.from(content, encoding);\n    const text = buffer.toString('utf8');\n    const parsed = JSON.parse(text);\n\n    out.json.hasBackup = true;\n    out.json.backupData = parsed;     // aqui está o JSON do arquivo\n    out.json.backupUpdatedAt = parsed.updatedAt || null; // se o backup tiver updatedAt\n  } catch (e) {\n    // Arquivo existe mas não é JSON válido\n    out.json.hasBackup = false;\n    out.json.backupData = null;\n    out.json.backupUpdatedAt = null;\n    out.json.parseError = e.message;\n  }\n\n  return out;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2448,144],"id":"13f0c646-6742-4cc7-9da2-63ab40f75d03","name":"Ler Arquivos"},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of items) {\n  const json = item.json;\n\n  const workflowId   = json.id ?? null;\n  const workflowName = json.name ?? null;\n  const workflowUpdatedAt = json.updatedAt ?? null;\n\n  const hasBackup = json.hasBackup === true;\n\n  const backupUpdatedAt =\n    json.backupUpdatedAt ||\n    (hasBackup && json.backupData && json.backupData.updatedAt) ||\n    null;\n\n  let status;\n\n  if (!hasBackup || !workflowUpdatedAt || !backupUpdatedAt) {\n    status = \"CRIAR\";\n  } else {\n    const currentDate = new Date(workflowUpdatedAt);\n    const backupDate  = new Date(backupUpdatedAt);\n\n    status = currentDate > backupDate ? \"ATUALIZAR\" : \"JA_ATUALIZADO\";\n  }\n\n  const filePath =\n    json.filePath ||\n    (workflowId != null ? `backups/workflows/${workflowId}.json` : null);\n\n  results.push({\n    json: {\n      ...json,\n      workflowId,\n      workflowName,\n      filePath,\n      workflowUpdatedAt,\n      backupUpdatedAt,\n      status,\n    },\n  });\n}\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2080,32],"id":"6cc8a38d-b177-4004-884d-8951508ecec5","name":"Status"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2272,32],"id":"47a8af3d-6b49-49ca-b520-8581e06b6600","name":"Merge"}],"connections":{"Get a file":{"main":[[{"node":"Ler Arquivos","type":"main","index":0}]]},"Switch":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Edit a file","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Edit a file","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[]]},"Get many workflows":{"main":[[{"node":"Get a file","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Cron":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Ler Arquivos":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Status","type":"main","index":0}]]},"Status":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[16]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eb333d99-d1ac-47a3-93db-b6e73dbfb0bf","triggerCount":1,"shared":[{"createdAt":"2025-08-14T17:17:15.993Z","updatedAt":"2025-08-14T17:17:15.993Z","role":"workflow:owner","workflowId":"S4TgLV9paFnDMr2R","projectId":"bDUBly1zU3yziLIn"}],"tags":[]}