S4TgLV9paFnDMr2R.json
{"createdAt":"2025-08-14T17:17:15.986Z","updatedAt":"2025-11-14T19:07:07.000Z","id":"S4TgLV9paFnDMr2R","name":"Backup n8n GitHub","active":true,"isArchived":false,"nodes":[{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"Luis-Inovamobil","mode":"name"},"repository":{"__rl":true,"value":"Backup_n8n","mode":"list","cachedResultName":"Backup_n8n","cachedResultUrl":"https://github.com/Luis-Inovamobil/Backup_n8n"},"filePath":"={{ $json.id }}.json","binaryPropertyName":"arquivo","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-2368,128],"id":"8a1eeefb-8ed8-421d-b389-592324fe767b","name":"Get a file","webhookId":"6bf9bd6e-c7d9-4024-b116-84ab2bc55bc8","alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"dz74gpJDjlANTwOK","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"300235a0-8b6e-44de-9d50-7e01cb06c99c","leftValue":"={{ $('Get many workflows').item.json.updatedAt }}","rightValue":"={{ $json.json.updatedAt }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Já Atualizado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9cc1772-fbaa-4a03-81b5-5abea1ff35a3","leftValue":"={{ $json.json.updatedAt }}","rightValue":"={{ $('Get many workflows').item.json.updatedAt }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Atualizar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"494b2ed4-ef8d-4577-ac42-350323a42f4d","leftValue":"={{ $json.json.createdAt }}","rightValue":"","operator":{"type":"dateTime","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Criar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1968,176],"id":"df77bd6e-ba0f-448a-bb6c-ee748f280246","name":"Switch"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"Luis-Inovamobil","mode":"name"},"repository":{"__rl":true,"value":"Backup_n8n","mode":"list","cachedResultName":"Backup_n8n","cachedResultUrl":"https://github.com/Luis-Inovamobil/Backup_n8n"},"filePath":"={{ $('Get many workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Get many workflows').item.json) }}","commitMessage":"={{ $('Get many workflows').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1744,352],"id":"02604182-3352-42a6-b1a9-cfa729b68400","name":"Create a file","webhookId":"e434a1aa-85da-4746-911a-f26f85be7a5e","credentials":{"githubOAuth2Api":{"id":"dz74gpJDjlANTwOK","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1648,64],"id":"94f4d65d-edfe-4889-bda5-2eaeab198dd7","name":"No Operation, do nothing"},{"parameters":{"filters":{"activeWorkflows":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-2576,128],"id":"9b7c71f1-7f2a-438c-9b15-714851e69839","name":"Get many workflows","credentials":{"n8nApi":{"id":"drUaz7aijBgIJyxC","name":"n8n account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"Luis-Inovamobil","mode":"name"},"repository":{"__rl":true,"value":"Backup_n8n","mode":"list","cachedResultName":"Backup_n8n","cachedResultUrl":"https://github.com/Luis-Inovamobil/Backup_n8n"},"filePath":"={{ $('Get many workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Get many workflows').item.json) }}","commitMessage":"=Backup Atualizado :  {{ $json.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1472,224],"id":"076f32a3-454d-430d-b731-d5dbbe59fa7c","name":"Edit a file","webhookId":"fe6549ad-def4-4d2b-9ca6-6634efa2e5ca","credentials":{"githubOAuth2Api":{"id":"dz74gpJDjlANTwOK","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"fromJson","binaryPropertyName":"arquivo","destinationKey":"json","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-2160,192],"id":"b7bc546b-be79-4a62-a1e2-8801ba716978","name":"Extract from File","alwaysOutputData":true,"executeOnce":false,"retryOnFail":true,"notesInFlow":true,"onError":"continueRegularOutput"},{"parameters":{"triggerTimes":{"item":[{"mode":"everyX","value":6}]}},"name":"Cron","type":"n8n-nodes-base.cron","position":[-2752,128],"typeVersion":1,"id":"be3cbf24-0fc9-4ea2-827a-04e3d1284d4e"}],"connections":{"Get a file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Switch":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Edit a file","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Edit a file","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[]]},"Get many workflows":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Cron":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[16]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e65703f4-d51e-42c7-8fdc-833d0d4ae2dd","triggerCount":1,"shared":[{"createdAt":"2025-08-14T17:17:15.993Z","updatedAt":"2025-08-14T17:17:15.993Z","role":"workflow:owner","workflowId":"S4TgLV9paFnDMr2R","projectId":"bDUBly1zU3yziLIn"}],"tags":[]}