v1aFaeX8QXyBQ1vX.json
{"createdAt":"2025-08-20T12:07:31.959Z","updatedAt":"2025-11-12T19:14:23.000Z","id":"v1aFaeX8QXyBQ1vX","name":"Processo Seletivo - executivo","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Vaga para Executivo de Contas","formDescription":"Fluxo para análise e validação de Currículos","formFields":{"values":[{"fieldLabel":"Nome Completo","requiredField":true},{"fieldLabel":"Curriculum","fieldType":"file","acceptFileTypes":".PDF","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1104,144],"id":"9c5e06eb-5153-4c4f-adde-ca3532daa579","name":"On form submission","webhookId":"dc458680-aae7-4474-aa4d-411be8d1da7b"},{"parameters":{"operation":"pdf","binaryPropertyName":"Curriculum","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-800,160],"id":"8b7f2b61-6f56-4854-ac7e-48ac149a9031","name":"Extract from File"},{"parameters":{"jsonSchemaExample":"{\n  \"candidato\": \"string\",\n  \"score_percentual\": 0,\n  \"decisao\": \"APROVAR|TALVEZ|REPROVAR\",\n  \"criterios\": {\n    \"experiencia_vendas\": {\"nota_0a3\": 0, \"peso\": 3, \"evidencias\": \"string\"},\n    \"tecnicas_vendas\": {\"nota_0a3\": 0, \"peso\": 2, \"evidencias\": \"string\"},\n    \"ferramentas_processos\": {\"nota_0a3\": 0, \"peso\": 2, \"evidencias\": \"string\"},\n    \"comunicacao_relacionamento\": {\"nota_0a3\": 0, \"peso\": 2, \"evidencias\": \"string\"},\n    \"perfil_comportamental\": {\"nota_0a3\": 0, \"peso\": 2, \"evidencias\": \"string\"},\n    \"aprendizado_mercado\": {\"nota_0a3\": 0, \"peso\": 1, \"evidencias\": \"string\"},\n    \"disponibilidade_requisitos\": {\"nota_0a3\": 0, \"peso\": 1, \"evidencias\": \"string\"}\n  },\n  \"red_flags\": \"string\",\n  \"observacoes\": \"string\",\n  \"itens_para_validar_na_entrevista\": \"string\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-304,320],"id":"1e6cc837-749f-4448-8fe1-8ac01628c6fe","name":"Structured Output Parser"},{"parameters":{"assignments":{"assignments":[{"id":"4fa077ee-5773-41be-8651-892dc63590c6","name":"Candidato","value":"={{ $json.output.candidato }}","type":"string"},{"id":"f95143cd-e620-4681-9c1c-8ee9bde46476","name":"Score_Percentual","value":"={{ $json.output.score_percentual }}","type":"number"},{"id":"48427f7b-0359-4d98-aea9-a8e027bdebda","name":"Decisão","value":"={{ $json.output.decisao }}","type":"string"},{"id":"4ab2e780-b127-4388-af6b-683ba9e07910","name":"Experiencia_Vendas_Nota","value":"={{ $json.output.criterios.experiencia_vendas.nota_0a3 }}","type":"number"},{"id":"772c644e-2f4a-4717-8318-044119763509","name":"Experiencia_Vendas_Evidencias","value":"={{ $json.output.criterios.experiencia_vendas.evidencias }}","type":"string"},{"id":"794b03bb-2a5c-4d5a-8f54-6a8801063e9f","name":"Tecnica_Vendas_Nota","value":"={{ $json.output.criterios.tecnicas_vendas.nota_0a3 }}","type":"number"},{"id":"006bd732-fc04-48f0-bbb9-297d2806ca77","name":"Tecnica_Vendas_Evidencias","value":"={{ $json.output.criterios.tecnicas_vendas.evidencias }}","type":"string"},{"id":"e72012bb-5e5d-4264-bb18-93bd0683a2df","name":"Conhecimento_Ferramenta_Processos_Nota","value":"={{ $json.output.criterios.ferramentas_processos.nota_0a3 }}","type":"number"},{"id":"d4044610-bbce-43b8-adac-cddef43d5afd","name":"Conhecimento_Ferramenta_Processos_Evidencias","value":"={{ $json.output.criterios.ferramentas_processos.evidencias }}","type":"string"},{"id":"6d049ab0-e99e-4194-9c9f-8036a08e1cf7","name":"Comunicacao_relacionamento_Nota","value":"={{ $json.output.criterios.comunicacao_relacionamento.nota_0a3 }}","type":"number"},{"id":"5e7df0e7-9aaa-4267-ba93-13091f643dc1","name":"Comunicacao_relacionamento_Evidencia","value":"={{ $json.output.criterios.comunicacao_relacionamento.evidencias }}","type":"string"},{"id":"dd109daa-345b-4e75-8992-8a791f2eedbc","name":"Perfil_comportamental_Nota","value":"={{ $json.output.criterios.perfil_comportamental.nota_0a3 }}","type":"number"},{"id":"176a4c5b-9078-4e48-9be2-7e9527aba052","name":"Perfil_comportamental_Evidencias","value":"={{ $json.output.criterios.perfil_comportamental.evidencias }}","type":"string"},{"id":"dcc985be-804b-4477-a67a-954e838679dc","name":"Aprendizado_Mercado_Nota","value":"={{ $json.output.criterios.aprendizado_mercado.nota_0a3 }}","type":"number"},{"id":"13ed3a72-4bb0-41b4-a52c-fb8e68ae78c4","name":"Aprendizado_Mercado_Evidencias","value":"={{ $json.output.criterios.aprendizado_mercado.evidencias }}","type":"string"},{"id":"7902085c-1a5b-472b-afe2-0da12f64ea2c","name":"Requsiitos_Diversos_Nota","value":"={{ $json.output.criterios.disponibilidade_requisitos.nota_0a3 }}","type":"number"},{"id":"bb78f584-4153-49c7-a358-5108f25b278a","name":"Requisitos_Diversos_Evidencias","value":"={{ $json.output.criterios.disponibilidade_requisitos.evidencias }}","type":"string"},{"id":"325a2972-c3a2-44fe-95f9-3a2d87d2d976","name":"Observações","value":"={{ $json.output.observacoes }}","type":"string"},{"id":"b69d408a-2980-4647-9358-78097a71a981","name":"Alertas_Atenção","value":"={{ $json.output.red_flags}}","type":"string"},{"id":"56e54573-ebb2-4c0a-a5bc-ebd274c2c995","name":"Validar_Na_Entrevista","value":"={{ $json.output.itens_para_validar_na_entrevista }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"a3afdfd2-4623-46cf-af72-2f50551549ab","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-480,352],"id":"e64098b7-edf8-42a9-9f8b-16812ff301f7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"TYSxLrFJQF99nShO","name":"OpenAi Geral"}}},{"parameters":{"promptType":"define","text":"=Você é um Assistente de Recrutamento especializado em triagem de currículos para a vaga de Vendedor. Sua missão é avaliar perfis de forma objetiva e padronizada, seguindo os critérios e pesos abaixo, sem inferir informações não presentes no currículo/portfólio/linkedin.\n\nRegras gerais\n\nIdioma: responda em PT-BR.\n\nFontes: use apenas o que estiver no currículo/links fornecidos. Se algo não estiver explícito, marque como não evidenciado (0).\n\nSem viés: avalie apenas competências, resultados e aderência; não considere idade, gênero, endereço, foto, etc.\n\nTransparência: mostre como pontuou cada critério.\n\nRigor: não “adivinhe”. Se o termo for ambíguo, explique a interpretação.\n\nContexto do negócio: trate “setor_alvo” informado pelo usuário como prioritário para avaliar aderência setorial.\n\nCritérios e Pesos (0–3 por item; some e aplique pesos)\n\nAtribua 0=ausente, 1=básico, 2=intermediário, 3=avançado. Multiplique pelo peso.\n\nExperiência em Vendas (peso 3)\n\nTempo total em vendas\n\nVendas B2B e/ou B2C (pontue o que estiver presente)\n\nHistórico de metas atingidas/superadas (números, % ou prêmios)\n\nAderência ao setor_alvo (mesmo segmento, ticket e ciclo similares)\n\nTécnicas de Vendas (peso 2)\n\nProspecção ativa (cold call/mail, social selling)\n\nQualificação de leads inbound\n\nNegociação e técnicas de fechamento\n\nGestão de funil e pipeline\n\nFerramentas & Processos (peso 2)\n\nUso de CRM (nomear se citado; ex.: Salesforce, Pipedrive, HubSpot)\n\nGeração de propostas/apresentações\n\nRotina orientada a métricas (taxas, CAC/LTV, forecast)\n\nComunicação & Relacionamento (peso 2)\n\nComunicação escrita (e-mails/comerciais) e verbal (apresentações/pitches)\n\nEscuta ativa e empatia\n\nConstrução de rapport e gestão de carteira\n\nPerfil & Comportamentos (peso 2)\n\nProatividade, disciplina e autogestão\n\nResiliência diante de objeções/rejeições\n\nFoco em resultados, ownership, ética\n\nAprendizado & Produto/Mercado (peso 1)\n\nRapidez para aprender soluções/benefícios\n\nConhecimento de concorrência/tendências setoriais\n\nDisponibilidade & Requisitos (peso 1)\n\nViagens / CNH (se necessário)\n\nModelo de trabalho (presencial/híbrido/remoto) conforme necessidade\n\nInício imediato (se crítico)\n\nRed Flags (apenas sinalizar; não zera automaticamente)\n\nGaps longos sem explicação\n\nAlta rotatividade sem justificativa plausível\n\nResultados vagos/sem evidência\n\nInconsistências (datas, cargos, declarações)\n\nCálculo\n\nPara cada subcritério: 0–3 × peso do bloco.\n\nScore final (%) = (pontos obtidos ÷ pontos possíveis) × 100.\n\nDecisão padrão:\n\nAprovar ≥ 70%\n\nTalvez 60–69% (justifique o que confirmar em entrevista técnica/role-play)\n\nReprovar < 60%\n\nAjuste fino permitido: ±5 p.p. se houver forte aderência setorial ou provas numéricas robustas (explique o ajuste).\n\nResumo executivo (humano): 5–10 linhas, direto ao ponto.\n\nSaída (obrigatório este formato)\n\nTabela de pontuação por critério (curta).\n\nForças, Lacunas, Red Flags (bullets).\n\nRecomendação final (Aprovar / Talvez / Reprovar + breve justificativa).\n\nJSON (em bloco de código) exatamente com este schema:\n\n{\n  \"candidato\": \"string\",\n  \"score_percentual\": 0,\n  \"decisao\": \"APROVAR|TALVEZ|REPROVAR\",\n  \"criterios\": {\n    \"experiencia_vendas\": {\"nota_0a3\": 0, \"peso\": 3, \"evidencias\": \"string\"},\n    \"tecnicas_vendas\": {\"nota_0a3\": 0, \"peso\": 2, \"evidencias\": \"string\"},\n    \"ferramentas_processos\": {\"nota_0a3\": 0, \"peso\": 2, \"evidencias\": \"string\"},\n    \"comunicacao_relacionamento\": {\"nota_0a3\": 0, \"peso\": 2, \"evidencias\": \"string\"},\n    \"perfil_comportamental\": {\"nota_0a3\": 0, \"peso\": 2, \"evidencias\": \"string\"},\n    \"aprendizado_mercado\": {\"nota_0a3\": 0, \"peso\": 1, \"evidencias\": \"string\"},\n    \"disponibilidade_requisitos\": {\"nota_0a3\": 0, \"peso\": 1, \"evidencias\": \"string\"}\n  },\n  \"red_flags\": \"string\",\n  \"observacoes\": \"string\",\n  \"itens_para_validar_na_entrevista\": \"string\"\n}\n\n\nTarefa: Avalie o(s) currículo(s) abaixo segundo o rubric acima, calcule o score final e emita a recomendação. Siga o formato de saída obrigatório.\n\nO curriculo do candidato é esse :  {{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"Você é um avaliador de curriculo para a vaga de executivo de contas."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-448,32],"id":"14a11988-e0a8-4b07-bccc-2ca2e8c7b4ca","name":"Análise de Curriculum"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1l4IhwDWbUPtyCFqhdqZRw1XGQc-Xs8tEsXfxkhuel2k/edit?usp=drive_link","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Comercial","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1l4IhwDWbUPtyCFqhdqZRw1XGQc-Xs8tEsXfxkhuel2k/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"Candidato","displayName":"Candidato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Score_Percentual","displayName":"Score_Percentual","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Decisão","displayName":"Decisão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Experiencia_Vendas_Nota","displayName":"Experiencia_Vendas_Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Experiencia_Vendas_Evidencias","displayName":"Experiencia_Vendas_Evidencias","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tecnica_Vendas_Nota","displayName":"Tecnica_Vendas_Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tecnica_Vendas_Evidencias","displayName":"Tecnica_Vendas_Evidencias","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Conhecimento_Ferramenta_Processos_Nota","displayName":"Conhecimento_Ferramenta_Processos_Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Conhecimento_Ferramenta_Processos_Evidencias","displayName":"Conhecimento_Ferramenta_Processos_Evidencias","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Comunicacao_relacionamento_Nota","displayName":"Comunicacao_relacionamento_Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Comunicacao_relacionamento_Evidencia","displayName":"Comunicacao_relacionamento_Evidencia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Perfil_comportamental_Nota","displayName":"Perfil_comportamental_Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Perfil_comportamental_Evidencias","displayName":"Perfil_comportamental_Evidencias","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Aprendizado_Mercado_Nota","displayName":"Aprendizado_Mercado_Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Aprendizado_Mercado_Evidencias","displayName":"Aprendizado_Mercado_Evidencias","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Requsiitos_Diversos_Nota","displayName":"Requsiitos_Diversos_Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Requisitos_Diversos_Evidencias","displayName":"Requisitos_Diversos_Evidencias","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações","displayName":"Observações","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Alertas_Atenção","displayName":"Alertas_Atenção","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Validar_Na_Entrevista","displayName":"Validar_Na_Entrevista","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[384,128],"id":"4ea0d9c9-1fd2-4e00-95fe-3626ebd4c8db","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"g9Zp5OvaHGq7yKjs","name":"Google Sheets account"}}}],"connections":{"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Análise de Curriculum","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Análise de Curriculum","type":"ai_outputParser","index":0}]]},"Edit Fields":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Análise de Curriculum","type":"ai_languageModel","index":0}]]},"Análise de Curriculum":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c936d7e7-4ae9-4109-b41f-64042333b00b","triggerCount":1,"shared":[{"createdAt":"2025-08-20T12:07:31.965Z","updatedAt":"2025-08-20T12:07:31.965Z","role":"workflow:owner","workflowId":"v1aFaeX8QXyBQ1vX","projectId":"bDUBly1zU3yziLIn"}],"tags":[]}