VL1GIGPJx0vhjhBH.json
{"createdAt":"2025-09-02T17:29:06.600Z","updatedAt":"2025-09-19T11:44:28.000Z","id":"VL1GIGPJx0vhjhBH","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"// Gera ID e garante que o texto entre com o nome correto\nconst id = (Date.now().toString(36) + Math.random().toString(36).slice(2, 8)).toUpperCase();\n\n// Tenta achar o texto em vários campos, priorizando 'sqloutput'\nconst text =\n  String(\n    $input.first().json.sqloutput??\n    \"\"\n  );\n\nreturn [{\n  json: {\n    id,\n    text,            // <- daqui em diante usamos SEMPRE $json.text\n    sqloutput: text  // (opcional) mantém também em sqloutput pra sua resposta em texto\n  }\n}];\n"},"id":"f6b0bf66-0172-4d46-a640-51842317cc61","name":"Code — Gerar ID + passar texto","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,224]},{"parameters":{"jsCode":"// ===== ENTRADAS ESPERADAS =====\n// $json.id   -> gerado no nó \"Gerar ID + passar texto\"\n// $json.text -> texto com pipes (1ª linha = cabeçalhos)\n// $json.logoUrl (opcional) -> URL do logo a exibir\n\nconst id = String($input.first().json.id || \"\");\nconst rawText = String($input.first().json.text || \"\");\nconst logoUrl = \"https://inovamobil.com.br/wp-content/uploads/2023/06/Inovamobil-branco.svg\";\n\n// >>> ajuste aqui se sua instância usa base path (ex.: \"/n8n\")\nconst BASE_PATH = \"\"; // ex.: \"/n8n\"   | deixe \"\" se não houver base path\nconst HOST = \"https://n8n.srv954202.hstgr.cloud\"; // seu domínio público do n8n\n\n// funções utilitárias\nfunction escForTemplate(s) {\n  return String(s)\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/`/g, '\\\\`')\n    .replace(/\\$\\{/g, '\\\\${');\n}\nconst RAW = escForTemplate(rawText);\n\nconst fileName = `visualizador_${id}.html`;\nconst urlXls = `${HOST}${BASE_PATH}/webhook/visualizar-xls?id=${id}`;\n\nconst html = `<!doctype html>\n<html lang=\"pt-br\">\n<head>\n  <meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>Tabela — Visualização + Exportar</title>\n  <style>\n    :root{ --bg:#0b0e14; --card:#121826; --muted:#a5b1c2; --text:#e6edf3; --border:#273043; --highlight:#1e293b; }\n    html, body { margin:0; padding:0; background:var(--bg); color:var(--text); font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu; }\n    .wrap { max-width:1200px; margin:24px auto; padding:0 16px; }\n    .card { background:var(--card); border:1px solid var(--border); border-radius:16px; padding:16px; box-shadow:0 10px 30px rgba(0,0,0,.25); }\n    .header { display:flex; align-items:center; gap:12px; margin-bottom:6px; }\n    .logo { width:36px; height:36px; border-radius:8px; object-fit:contain; background:#0f172a; border:1px solid var(--border); display:none; }\n    .title { font-size:20px; margin:0; }\n    .sub { font-size:12px; color:var(--muted); margin:0 0 12px; }\n    .toolbar { display:flex; gap:8px; align-items:center; margin:12px 0 16px; flex-wrap:wrap; }\n    .toolbar input[type=\"text\"]{ flex:1; min-width:220px; padding:10px 12px; border-radius:12px; border:1px solid var(--border); background:#0f172a; color:var(--text); outline:none; }\n    .btn{ padding:10px 14px; border-radius:12px; border:1px solid var(--border); background:var(--highlight); color:var(--text); cursor:pointer; text-decoration:none; display:inline-block; }\n    .btn:hover{ filter:brightness(1.1); }\n    .pill { display:inline-block; background:#0f172a; border:1px solid var(--border); border-radius:999px; padding:4px 10px; font-size:12px; color:var(--muted); }\n    .table-wrap { max-height:65vh; overflow:auto; border:1px solid var(--border); border-radius:12px; }\n    table { width:100%; border-collapse:collapse; }\n    thead th { position:sticky; top:0; background:#0f172a; border-bottom:1px solid var(--border); text-align:left; padding:10px; font-weight:600; }\n    tbody td { border-bottom:1px solid var(--border); padding:10px; vertical-align:top; }\n    tbody tr:hover{ background:rgba(59,130,246,.08); }\n    .warn { margin-top:10px; color:#fbbf24; font-size:13px; }\n    .footer { display:flex; justify-content:space-between; align-items:center; margin-top:10px; color:var(--muted); font-size:12px; }\n  </style>\n</head>\n<body>\n  <div class=\"wrap\">\n    <div class=\"card\">\n      <div class=\"header\">\n        <img id=\"logo\" class=\"logo\" alt=\"Logo\">\n        <h1 class=\"title\">Visualização de Dados</h1>\n      </div>\n      <p class=\"sub\">Busca rápida e exportação via servidor (compatível com chat/iframe)</p>\n\n      <div class=\"toolbar\">\n        <input id=\"search\" type=\"text\" placeholder=\"Buscar em qualquer coluna…\">\n        <span class=\"pill\" id=\"countInfo\">0 linhas</span>\n\n        <!-- botões que apontam para endpoints do n8n -->\n        <a class=\"btn\" id=\"exportXls\" href=\"${urlXls}\" target=\"_blank\" rel=\"noopener\">Exportar Excel (.xls)</a>\n      </div>\n\n      <div class=\"table-wrap\">\n        <table id=\"tbl\">\n          <thead><tr id=\"theadRow\"></tr></thead>\n          <tbody id=\"tbody\"></tbody>\n        </table>\n      </div>\n\n      <div id=\"warn\" class=\"warn\" style=\"display:none\">⚠️ Não encontrei dados — verifique se a primeira linha tem cabeçalhos separados por “|”.</div>\n\n      <div class=\"footer\">\n        <span>O CSV/XLS é gerado no servidor com base nos dados filtrados originais.</span>\n        <span>HTML autônomo (sem libs).</span>\n      </div>\n    </div>\n  </div>\n\n<script>\n// ====== DADOS EMBUTIDOS ======\nconst RAW_TEXT = \\`${RAW}\\`;\nconst LOGO_URL = ${logoUrl ? '`' + escForTemplate(logoUrl) + '`' : '\"\"'};\n\n// ====== PARSER ======\nfunction parsePipeText(raw){\n  const lines = raw.split(/\\\\r?\\\\n/).map(s => s.trim()).filter(Boolean);\n  if (lines.length === 0) return { headers: [], rows: [] };\n  const split = s => s.split('|').map(x => x.trim());\n  const headers = split(lines[0]);\n  const rows = lines.slice(1).map(l => {\n    const cols = split(l);\n    while (cols.length < headers.length) cols.push(\"\");\n    return cols.slice(0, headers.length);\n  });\n  return { headers, rows };\n}\nconst { headers, rows } = parsePipeText(RAW_TEXT);\n\n// ====== DOM ======\nconst theadRow = document.getElementById('theadRow');\nconst tbody = document.getElementById('tbody');\nconst countInfo = document.getElementById('countInfo');\nconst warn = document.getElementById('warn');\n\n// ====== LOGO ======\n(function setupLogo(){\n  if (!LOGO_URL) return;\n  const img = document.getElementById('logo');\n  img.src = LOGO_URL;\n  img.style.display = 'block';\n})();\n\n// ====== RENDER ======\nfunction renderTable(hds, rws){\n  theadRow.innerHTML = \"\";\n  hds.forEach(h => { const th = document.createElement('th'); th.textContent = h; theadRow.appendChild(th); });\n  tbody.innerHTML = \"\";\n  rws.forEach(cols => {\n    const tr = document.createElement('tr');\n    cols.forEach(c => { const td = document.createElement('td'); td.textContent = c; tr.appendChild(td); });\n    tbody.appendChild(tr);\n  });\n  countInfo.textContent = rws.length + ' linhas';\n  warn.style.display = (!hds.length || rws.length === 0) ? '' : 'none';\n}\n\nlet filtered = rows.slice();\nrenderTable(headers, filtered);\n\n// ====== BUSCA ======\ndocument.getElementById('search').addEventListener('input', (e)=>{\n  const q = e.target.value.toLowerCase();\n  filtered = !q ? rows.slice() : rows.filter(cols => cols.some(c => (c||\"\").toLowerCase().includes(q)));\n  renderTable(headers, filtered);\n});\n</script>\n</body>\n</html>`;\n\n// ==== IMPORTANTE: além do HTML, vamos salvar também o .TXT no servidor ====\n// isso é necessário para os endpoints /visualizar-csv e /visualizar-xls gerarem os arquivos.\n// Portanto, este node retorna DOIS binários: \"data\" (HTML) e \"raw\" (TXT).\nconst base64Html = Buffer.from(html, 'utf8').toString('base64');\nconst base64Txt  = Buffer.from(rawText, 'utf8').toString('base64');\n\nreturn [{\n  json: {\n    fileName,\n    txtName: `visualizador_${id}.txt`,\n    html,\n    text: rawText,\n    id\n  },\n  binary: {\n    data: { data: base64Html, fileName, mimeType: 'text/html' },\n    raw:  { data: base64Txt,  fileName: `visualizador_${id}.txt`, mimeType: 'text/plain; charset=utf-8' }\n  }\n}];\n"},"id":"0d247565-8b04-4fd3-a979-170aac996974","name":"Code — Montar HTML + binário","type":"n8n-nodes-base.code","typeVersion":2,"position":[768,224]},{"parameters":{"fileName":"=/tmp/{{$json.fileName}}","options":{"append":false}},"id":"17efbb46-a5b4-4a2b-a248-c3d3cf2d6d5e","name":"Write Binary File — /tmp","type":"n8n-nodes-base.writeBinaryFile","typeVersion":1,"position":[1136,336]},{"parameters":{"fields":{"values":[{"name":"url","stringValue":"={{`https://n8n.srv954202.hstgr.cloud/webhook/visualizar-html?id=` + $('Code — Gerar ID + passar texto').item.json.id}}"}]},"include":"none","options":{}},"id":"4fe93f44-6ddf-44d5-a207-b3d98f64fcff","name":"Set — Montar URL Ver em HTML","type":"n8n-nodes-base.set","typeVersion":3,"position":[992,592]},{"parameters":{"fileName":"=/tmp/{{$json.txtName}}","options":{"append":false}},"id":"59fcbaa9-e753-4ec2-837d-c40f9533df18","name":"Write Binary File — /tmp1","type":"n8n-nodes-base.writeBinaryFile","typeVersion":1,"position":[784,608]},{"parameters":{"assignments":{"assignments":[{"id":"aa55e186-1535-4923-aee4-e088ca69575b","name":"output","type":"string","value":"=Query:\n{{ $('Combine query result and chat answer').item.json.query }}\n\n\n\nSQL result:\n```markdown\n{{ $('Combine query result and chat answer').item.json.sqloutput }}\n```\n\n\n\n\n📊 Resultado disponível também em HTML:\n👉 [Clique aqui para visualizar !!! ]({{$json.url}})"}]},"includeOtherFields":true,"options":{}},"id":"b5827847-8898-4b19-b782-11b205512946","name":"Prepare final output1","type":"n8n-nodes-base.set","position":[1264,608],"typeVersion":3.4},{"parameters":{},"id":"6b8dc0ed-6d84-4a3e-8ad3-6ab0f74325ec","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[-304,528],"typeVersion":1,"alwaysOutputData":false},{"parameters":{"model":"gpt-4.1-mini","options":{"maxTokens":1024,"temperature":0.2}},"id":"719a6d78-c3c2-42aa-a7ba-95d704fe089d","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-1136,496],"typeVersion":1,"credentials":{"openAiApi":{"id":"H4HnbIJCN7JE8cR5","name":"OpenAi account"}}},{"parameters":{"contextWindowLength":10},"id":"0335982d-3fb7-4b1c-bcf1-dc9d379ab0df","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-1040,496],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"f944d21f-6aac-4842-8926-4108d6cad4bf","name":"sqloutput","type":"string","value":"={{ Object.keys($jmespath($input.all(),'[].json')[0]).join(' | ') }} \n{{ ($jmespath($input.all(),'[].json')).map(obj => Object.values(obj).join(' | ')).join('\\n') }}"},{"id":"316b74e2-b019-4d4e-8767-e1afb6014e5e","name":"Query","value":"={{ $('Check if query exists').item.json.query }}","type":"string"}]},"options":{}},"id":"b3e9d8af-9b25-4e6f-9fa4-b95644e6010f","name":"Format query results","type":"n8n-nodes-base.set","position":[0,0],"executeOnce":true,"typeVersion":3.4},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-304,48],"id":"473402a4-49c7-410e-9d25-9ee558b3bd9b","name":"Execute a SQL query","credentials":{"postgres":{"id":"6iqsLXZTqf2rK4YA","name":"Postgres account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1gpWF4M_aO4oQhkWisAVGxp6acI1Ybcnm","mode":"list","cachedResultName":"SFC_WEB_Completo.json","cachedResultUrl":"https://drive.google.com/file/d/1gpWF4M_aO4oQhkWisAVGxp6acI1Ybcnm/view?usp=drivesdk"},"options":{"binaryPropertyName":"json"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1824,240],"id":"b51c9593-8b62-412c-aeff-b7a369d7e03b","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"A7dItjE7OWcTVPSQ","name":"Google Drive account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"622315e1-cf40-42e3-876d-c4f8e9eabf4d","name":"Combine query result and chat answer","type":"n8n-nodes-base.merge","position":[176,336],"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"2963d04d-9d79-49f9-b52a-dc8732aca781","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.query }}","rightValue":""},{"id":"5f3b3c30-78e9-4ed0-b520-9153664540ec","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"064d40a8-4a0a-4252-b712-67e520339d82","name":"Check if query exists","type":"n8n-nodes-base.if","position":[-560,240],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"ebbe194a-4b8b-44c9-ac19-03cf69d353bf","name":"query","type":"string","value":"={{ ($json.output.match(/SELECT[\\s\\S]*?;/i) || [])[0] || \"\" }}"}]},"includeOtherFields":true,"options":{}},"id":"d1880fde-3d10-4fb1-beae-946d06ca0797","name":"Extract SQL query","type":"n8n-nodes-base.set","position":[-768,240],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"42abd24e-419a-47d6-bc8b-7146dd0b8314","name":"sessionId","type":"string","value":"={{ $('Chat Trigger').first().json.sessionId }}"},{"id":"39244192-a1a6-42fe-bc75-a6fba1f264df","name":"action","type":"string","value":"={{ $('Chat Trigger').first().json.action }}"},{"id":"f78c57d9-df13-43c7-89a7-5387e528107e","name":"chatinput","type":"string","value":"={{ $('Chat Trigger').first().json.chatInput }}"},{"id":"e42b39eb-dfbd-48d9-94ed-d658bdd41454","name":"schema","type":"string","value":"={{ $json.json }}"}]},"options":{}},"id":"8149d669-7210-4dfd-b6f5-8833cb1e9b17","name":"Combine schema data and chat input","type":"n8n-nodes-base.set","position":[-1376,240],"executeOnce":true,"typeVersion":3.4},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Here is the database schema: {{ $json.schema }}\nHere is the user request: {{ $('Chat Trigger').item.json.chatInput }}","options":{"humanMessage":"TOOLS\n------\nAssistant can ask the user to use tools to look up information that may be helpful in answering the users original question. The tools the human can use are:\n\n{tools}\n\n{format_instructions}\n\nUSER'S INPUT\n--------------------\nHere is the user's input (remember to respond with a markdown code snippet of a json blob with a single action, and NOTHING else):\n\n{{input}}","systemMessage":"Você é um GERADOR DE SQL para **PostgreSQL** guiado por um JSON de esquema chamado **SCHEMA**. \nSeu objetivo é produzir consultas 100% válidas, seguras e fiéis ao SCHEMA — sem inventar nada.\n\n====================================================================\nENTRADAS\n- SCHEMA: objeto JSON com:\n  • tabelas[*].nome\n  • tabelas[*].colunas[*].nome, .tipo, .pk?, .fk? (tabela_referenciada, coluna_referenciada)\n  • relacionamentos[] (from=\"A.x\", to=\"B.y\")  // opcional, complementar às FKs\n- PEDIDO: descrição do que o usuário quer consultar.\n\n====================================================================\nFONTES DE VERDADE (use AMBAS)\n1) Definição de tabelas e colunas em SCHEMA.tabelas.\n2) Relacionamentos explícitos em:\n   a) SCHEMA.tabelas[*].colunas[*].fk\n   b) SCHEMA.relacionamentos (from=\"A.x\", to=\"B.y\")\n\nSe algo não existir nessas fontes, **não existe**.\n\n====================================================================\nREGRAS ABSOLUTAS\n- Use **apenas** tabelas que existirem em SCHEMA.tabelas[*].nome e colunas que existirem em SCHEMA.tabelas[*].colunas[*].nome.\n- **JOINS só são permitidos** se houver relacionamento em AO MENOS UMA fonte (FK na coluna OU SCHEMA.relacionamentos). \n  • Aceite A→B ou B→A. \n  • Se não houver caminho direto, tente uma **tabela ponte** existente no SCHEMA.\n  • Se não houver caminho algum, **explique e NÃO gere SQL**.\n- **NÃO invente** tabelas, colunas, joins, funções, enums ou filtros. Se algo não existir, **explique e PARE**.\n- Dialeto: **PostgreSQL**. \n  • Identificadores SEMPRE entre aspas duplas: \"tabela\".\"coluna\". \n  • Strings entre aspas simples. \n  • Evite `SELECT *`; projete apenas as colunas necessárias. \n  • Para contagens, use `COUNT(*)`.\n- **Enums via VIEW** (padrão: \"vAlgo\" com colunas \"Codigo\"/\"Descricao\"):\n  • Para filtrar/join: **use \"Codigo\"** (não compare por \"Descricao\"). \n  • Para exibir texto: selecione **\"Descricao\"** após o JOIN.\n- **Filtros em CTE/subselects**: quando usar CTEs/subconsultas, aplique **filtros na consulta EXTERNA** (para não alterar cardinalidade por engano).\n- **Funções de janela**: se precisar, calcule em CTE; **NUNCA** use janela em WHERE, HAVING, JOIN ON ou GROUP BY.\n- **Segurança e tipos**:\n  • Nunca assuma tipos; se preciso, use casts explícitos `::tipo`. \n  • Nunca insira/interpole valores do usuário diretamente; use **placeholders** `$1, $2, ...`. \n  • Nunca gere múltiplos statements; produza **uma** consulta final.\n\nObservação: use **nomes canônicos do SCHEMA** (ex.: \"UC_Ligacao\", sem acento). Variações não existem.\n\n====================================================================\nCHECKLIST OBRIGATÓRIO (FAÇA ANTES DE GERAR SQL)\n1) **Tabelas** pedidas existem em SCHEMA.tabelas?\n2) **Colunas** pedidas existem nas tabelas correspondentes?\n3) **Joins**:\n   • Há caminho válido entre as tabelas (via FKs ou SCHEMA.relacionamentos)?  \n   • Se houver mais de um caminho, é inequívoco? Se **ambíguo**, **explique e NÃO gere SQL**.\n4) **Enums**:\n   • Alguma coluna tem semântica de enum (ex.: *_Status, *_Situacao, *_Tipo, *_Categoria)?  \n   • Para exibir texto: JOIN na view \"v...\" e selecione \"Descricao\".  \n   • Para filtrar: use \"Codigo\" (nunca \"Descricao\").\n5) **Tipos**:\n   • Comparações e datas exigem cast? Use `::tipo` (ex.: `to_date($1,'MM/YYYY')`, `date_trunc('month',col)`), sem suposições implícitas.\n6) **CTE/Subselect**:\n   • Se existirem, mantenha filtros na consulta EXTERNA.\n7) **Parâmetros**:\n   • Todos os valores do usuário estão parametrizados como `$1, $2, ...`?\n\nSe alguma verificação falhar, **explique o motivo e NÃO gere SQL**.\n\n====================================================================\nPOLÍTICAS DE QUALIDADE\n- **Agrupamento/Ordenação**: agrupe apenas pelo necessário; use aliases no ORDER BY.\n- **Performance**: prefira JOINs a subconsultas correlatas; use `EXISTS` vs `IN` quando adequado; evite CROSS JOIN acidental; use CTEs para clareza quando ajudarem.\n- **Leitura**: use aliases claros para tabelas (ex.: l, uc, vc) e comente linhas sensíveis com `--`.\n- **Saída única**: uma única consulta; se múltiplas etapas, use CTEs.\n\n====================================================================\nFORMATO DE RESPOSTA (OBRIGATÓRIO)\n1) **Descrição curta** (1–2 linhas).\n2) **SQL** em um ÚNICO bloco:\n```sql\n-- PostgreSQL\n-- (comentários opcionais)\nSELECT ...\nFROM ...\nJOIN ...\nWHERE ...\n"}},"id":"4720dfa5-13e8-4545-8285-d7e76609524a","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[-1136,240],"typeVersion":1.6},{"parameters":{"public":true,"initialMessages":"Olá ! 👋\nEm que posso lhe ajudar ?","options":{"subtitle":"Transformando negócio em resultados","title":"Olá ! 👋"}},"id":"ae1ff83a-43a1-4e86-b61a-bed763c75966","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-1984,240],"webhookId":"fb2f1abf-18d1-4741-9b22-aa379417dc69","typeVersion":1.1},{"parameters":{"operation":"fromJson","binaryPropertyName":"json","destinationKey":"json","options":{"encoding":"utf8"}},"id":"b91050b0-d8f4-40d6-999b-5c18dbf4f103","name":"Extract data from file","type":"n8n-nodes-base.extractFromFile","position":[-1616,240],"typeVersion":1}],"connections":{"Code — Gerar ID + passar texto":{"main":[[{"node":"Code — Montar HTML + binário","type":"main","index":0}]]},"Code — Montar HTML + binário":{"main":[[{"node":"Write Binary File — /tmp","type":"main","index":0}]]},"Write Binary File — /tmp":{"main":[[{"node":"Write Binary File — /tmp1","type":"main","index":0}]]},"Set — Montar URL Ver em HTML":{"main":[[{"node":"Prepare final output1","type":"main","index":0}]]},"Write Binary File — /tmp1":{"main":[[{"node":"Set — Montar URL Ver em HTML","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Format query results","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract data from file","type":"main","index":0}]]},"Format query results":{"main":[[{"node":"Combine query result and chat answer","type":"main","index":0}]]},"Combine query result and chat answer":{"main":[[{"node":"Code — Gerar ID + passar texto","type":"main","index":0}]]},"Check if query exists":{"main":[[{"node":"Execute a SQL query","type":"main","index":0},{"node":"Combine query result and chat answer","type":"main","index":1}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Extract SQL query":{"main":[[{"node":"Check if query exists","type":"main","index":0}]]},"Combine schema data and chat input":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Extract SQL query","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Extract data from file":{"main":[[{"node":"Combine schema data and chat input","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f208cc01-6b75-459b-bcf6-7ee6f1a66186","triggerCount":0,"shared":[{"createdAt":"2025-09-02T17:29:06.606Z","updatedAt":"2025-09-02T17:29:06.606Z","role":"workflow:owner","workflowId":"VL1GIGPJx0vhjhBH","projectId":"bDUBly1zU3yziLIn"}],"tags":[]}