zovCAFtobSZXYXXY.json
{
  "id": "zovCAFtobSZXYXXY",
  "name": "BILL - Homologação",
  "createdAt": "2025-09-18T17:40:49.995Z",
  "updatedAt": "2026-05-15T20:39:11.826Z",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// alguns parametros é melhor montar com javascript,\n// facilita o entendimento e manutenção\n\n// nao confundir montagem de objetos javascript com mensagens json\n// tem diferenças, mas o n8n converte automaticamente para json\n\nitem.json.reply = $json.reply;\n\nitem.json.optionList = {\n  title: \"Serviços disponíveis !\",\n  buttonLabel: \"Abrir lista de opções\",\n  options: [\n    {\n      id: \"1\",\n      description: \"\",\n      title: \"📄 Faturas em aberto\",\n    },\n    {\n      id: \"2\",\n      description: \"\",\n      title: \"✅ Faturas pagas\",\n    },    \n    {\n      id: \"3\",\n      description: \"\",\n      title: \"📊 Histórico de consumo\",\n    },\n    {\n      id: \"4\",\n      description: \"\",\n      title: \"📝 Denúncia\",\n    },\n    {\n      id: \"5\",\n      description: \"\",\n      title: \"🌍 Localização\",\n    },\n    {\n      id: \"6\",\n      description: \"\",\n      title: \"🔄 Trocar ligação\",\n    },\n    // {\n    //   id: \"7\",\n    //   description: \"\",\n    //   title: \"🧑🏻‍💼 Falar com Atendente\",\n    // },\n    {\n      id: \"8\",\n      description: \"\",\n      title: \"🖐🏻 Sair\",\n    },\n  ],\n};\n\nif ($json.session.phoneconectado == '558888856714') {\n  item.json.optionList.options = item.json.optionList.options.filter(\n    option => option.id !== \"7\"\n  );\n}\n\nreturn item;\n"
      },
      "id": "998a69f1-e3d7-4c84-9a99-0ae5ffe73bac",
      "name": "Monta lista recursos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        3200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// alguns parametros é melhor montar com javascript,\n// facilita o entendimento e manutenção\n\n// nao confundir montagem de objetos javascript com mensagens json\n// tem diferenças, mas o n8n converte automaticamente para json\n\nitem.json.reply = \"Que bom ter você por aqui 👋🏻\\n\\nEm que posso lhe ajudar ?\";\n\nitem.json.optionList = {\n  title: \"Serviços disponíveis !\",\n  buttonLabel: \"Abrir lista de opções\",\n  options: [\n    {\n      id: \"1\",\n      description: \"\",\n      title: \"📄 Faturas em aberto\",\n    },\n    {\n      id: \"2\",\n      description: \"\",\n      title: \"✅ Faturas pagas\",\n    },    \n    {\n      id: \"3\",\n      description: \"\",\n      title: \"📊 Histórico de consumo\",\n    },\n    {\n      id: \"4\",\n      description: \"\",\n      title: \"📝 Denúncia\",\n    },\n    {\n      id: \"5\",\n      description: \"\",\n      title: \"🌍 Localização\",\n    },\n    {\n      id: \"6\",\n      description: \"\",\n      title: \"🔄 Trocar ligação\",\n    },\n    {\n      id: \"7\",\n      description: \"\",\n      title: \"🧑🏻‍💼 Falar com Atendente\",\n    },\n    {\n      id: \"8\",\n      description: \"\",\n      title: \"🖐🏻 Sair\",\n    },\n  ],\n};\n\nif (item.json.phoneconectado == '558888856714') {\n  item.json.optionList.options = item.json.optionList.options.filter(\n    option => option.id !== \"7\"\n  );\n}\n\nreturn item;\n"
      },
      "id": "9392c360-e2f3-4571-9639-796e212b9aad",
      "name": "Monta lista",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        3760
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Node: Get Payload  (runOnceForEachItem)\nconst it = $input.item; const j = it.json || {};\nconst src = ($items(\"Receber mensagem\")[0]||{}).json || {};\nconst body = j.body || src.body || {};\n\nconst first = (...vals) => {\n  for (const v of vals) if (typeof v === 'string' && v.trim()) return v.trim();\n  return '';\n};\n\n// Normaliza tudo para $json.message.content.data\nconst data = {\n  phone: body.phone ?? j.phone ?? null,\n  text: first(\n    body?.text?.message,\n    j?.text?.message,\n    body?.message?.text,\n    body?.message?.conversation,\n    body?.buttonReply?.message,\n    body?.buttonsResponseMessage?.message\n  ),\n  list: {\n    title: first(\n      body?.listResponseMessage?.title,\n      body?.listResponse?.title\n    ) || null,\n    rowId: body?.listResponseMessage?.rowId ?? body?.listResponse?.rowId ?? null,\n  },\n  button: {\n    id: body?.buttonReply?.id ?? null,\n    label: body?.buttonReply?.message ?? null,\n  },\n  quotedMessageId: body?.quotedMsgId ?? body?.[\"quoted-message-id\"] ?? null,\n};\n\nit.json.message = { content: { data } };\nit.json.phone = data.phone ?? it.json.phone ?? null;\nreturn it;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3840,
        2784
      ],
      "id": "e5c30e5e-b4ae-4bf2-a5fe-b39c0cd20ef7",
      "name": "Get Payload"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendButtonList}}",
        "options": {
          "fullResponse": true,
          "splitIntoItems": false
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "buttonList",
              "value": "={{ $json.buttonList }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Apresentar Faturas em Aberto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        992,
        3152
      ],
      "id": "7fe7df35-d2f2-4465-bd61-b5fe9f95c7b4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{$('Constantes').item.json.env.api.endpoints.retornarUsuario}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "matricula",
              "value": "={{ $('Precisa Validar Ligação ?').item.json.session.data.codigoLigacao }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2608,
        3520
      ],
      "id": "78da06b6-54f3-4759-9800-02753961f02b",
      "name": "Validar LIgação",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{$('Constantes').item.json.env.api.endpoints.historicoConsumo}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "matricula",
              "value": "={{ $('Resposta lista').item.json.session.data.codigoLigacao }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        3664
      ],
      "id": "0c5a1c76-8c34-4498-bdcf-74abfb58a2d8",
      "name": "Histórico de consumo",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// === Formatar histórico de consumo — Run once for all items ===\nconst items = $input.all();\n\n// 1) Pega as linhas do retorno da API (array no json / rows / result / data, ou vários itens)\nfunction extractRows(arr) {\n  if (!arr.length) return [];\n  const j0 = arr[0].json;\n  if (Array.isArray(j0))        return j0;\n  if (Array.isArray(j0.rows))   return j0.rows;\n  if (Array.isArray(j0.result)) return j0.result;\n  if (Array.isArray(j0.data))   return j0.data;\n  if (arr.length > 1)           return arr.map(i => i.json); // fallback: 1 item por linha\n  return [];\n}\nconst rows = extractRows(items);\n\n// 2) Utilitários\nconst pad  = (s, w) => String(s ?? '').padEnd(w, ' ');\nconst padR = (s, w) => String(s ?? '').padStart(w, ' ');\nconst numBR = (n) => Number(n ?? 0).toLocaleString('pt-BR');\nconst money = (n) => new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' })\n  .format(Number(n ?? 0));\n\n// 3) Phone / sessão / ligação (se houver)\nlet phone = null, session = null;\nfor (const it of items) {\n  phone   = phone   ?? it.json.session?.phone ?? it.json.phone ?? it.json.body?.phone ?? null;\n  session = session ?? it.json.session ?? it.json._session ?? null;\n}\nconst ligacao = $('Router').first().json._session.data_json.codigoLigacao ?? '';\n\n// 4) Sem dados → resposta amigável\nif (!rows.length) {\n  return [{\n    json: {\n      phone,\n      session,\n      ligacao,\n      reply: 'Não encontrei histórico de consumo para a ligação *' + ligacao + '*\\n'\n    },\n    pairedItem: [{ item: 0 }]\n  }];\n}\n\n// 5) Mapeia e formata (API: referencia, leitura, litrosConsumidos, valorFaturado, vencimento)\nconst mapped = rows.map(r => ({\n  referencia:   String(r.referencia ?? ''),\n  leitura:   String(r.leitura ?? ''),\n  consumo:String(r.litrosConsumidos ?? 0),\n}));\n\n// 6) Tabela monoespaçada\nconst W_MES=10, W_LEI=8, W_CONS=8;\nconst header = `${pad('Mês/Ano', W_MES)} ${pad('Leitura', W_LEI)} ${pad('Consumo', W_CONS)}`;\nconst sep    = '-'.repeat(header.length);\n\nconst lines = mapped.map(r =>\n  `${pad(r.referencia, W_MES-2)} ${padR(numBR(r.leitura), W_LEI)} ${padR(numBR(r.consumo), W_CONS)}`\n);\n\nconst reply =\n  `📊 Histórico de consumo da ligação *` + ligacao + `*\\n` +\n  '```' + '\\n' +\n  header + '\\n' + sep + '\\n' +\n  lines.join('\\n') + '\\n' + sep + '\\n' +\n  '```';\n\n// 7) Saída única para o HTTP /send-text\nreturn [{\n  json: { phone, session, reply },\n  // devolve pairedItem p/ evitar erros de \"Paired item data...\"\n  pairedItem: [{ item: 0 }]\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        3664
      ],
      "id": "e0c6de77-596a-4dfe-9ae4-281fdbac52c2",
      "name": "Formatar histórico de consumo"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "sessions",
          "mode": "list",
          "cachedResultName": "sessions"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "phone",
              "value": "={{ $('Router').item.json.phone }}"
            },
            {
              "column": "phoneconectado",
              "value": "={{ $('Router').item.json.phoneconectado }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e2de1cd1-5777-4e82-9b67-dbd7a021550e",
      "name": "Deletar sessão",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        -2992,
        2944
      ],
      "credentials": {
        "mySql": {
          "id": "DjogxsxdXYGa9DzE",
          "name": "InovaBot"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendText }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Receber mensagem\"].json[\"body\"][\"phone\"]}}"
            },
            {
              "name": "message",
              "value": "={{ \n\"Denúncia registrada ✅\\n\\nSegue número do *requerimento* para acompanhamento: *\" + $json.numero + \"*\"\n}}"
            },
            {
              "name": "delayMessage",
              "value": "2"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Enviar Confirmação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        480,
        4464
      ],
      "id": "a74478c9-d589-49b8-9546-44b52dd4ec5d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "574393e4-f6c2-4883-9c8d-2329d3029112",
              "leftValue": "={{ $json.session.flow }}",
              "rightValue": "ouvidoria",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c57f2105-3c5c-4185-9a4a-c08b8282df31",
      "name": "Processa Ouvidoria ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1312,
        4288
      ]
    },
    {
      "parameters": {
        "jsCode": "const it = $input.item;\nconst j  = it.json;\n\n// phone\nconst phone =\n  j.session?.phone ??\n  j._session?.phone ??\n  j.body?.phone ??\n  j.phone ??\n  $items(\"Receber mensagem\")[0]?.json?.body?.phone ??\n  null;\n\n// phone\nconst phoneconectado =\n  j.session?.phoneconectado ??\n  j._session?.phoneconectado ??\n  j.body?.phoneconectado ??\n  j.phoneconectado ??\n  $items(\"Receber mensagem\")[0]?.json?.body?.phoneconectado ??\n  null;\n\n// data_json pode ser string\nlet dj = $(\"Autenticado ?\").first().json.data_json;\nif (typeof dj === 'string') { try { dj = JSON.parse(dj); } catch { dj = {}; } }\ndj = dj || {};\n\nj.session = {\n  phone,\n  flow: \"confirm\",\n  step: 1,\n  expectedRef: j.session?.expectedRef ?? null,\n  data: {\n    // mantém plano\n    authOk: true,\n    nome: dj.nome ?? j.session?.data?.nome ?? '',\n    codigoLigacao: dj.codigoLigacao ?? j.session?.data?.codigoLigacao ?? null,\n  },\n  // expiresAt é da sessão, não de data\n  expiresAt: new Date(Date.now() + 15 * 60000).toISOString(),\n  phoneconectado,\n};\n\nreturn it; // (antes retornava j; mantenha o item inteiro)\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        2800
      ],
      "id": "1e73f5a3-acba-4620-89f0-15e0ead9f59e",
      "name": "Recriar session"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3280,
        2800
      ],
      "id": "64257200-2bb9-497a-b5fc-e3f5c6860b0c",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nconst j = item.json;\n\nconst phone =\n  j.session?.phone ??\n  j.phone ??\n  $items(\"Receber mensagem\")[0]?.json?.body?.phone ?? null;\n\n// guarda a sessão COMPLETA; não altere o item\nj._snapList = {\n  phone,\n  session: JSON.parse(JSON.stringify(j.session || {})),\n};\n\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        2576
      ],
      "id": "732642b1-daae-4e42-a983-e11dfb0e5427",
      "name": "Snapshot Sessão (Confirm)"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendText }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Receber mensagem\"].json[\"body\"][\"phone\"]}}"
            },
            {
              "name": "message",
              "value": "={{ $('Router').item.json.reply }}"
            },
            {
              "name": "delayMessage",
              "value": "5"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Mensagem Encerramento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -3504,
        3072
      ],
      "id": "ec11d3d5-5377-421a-9822-c474e0d21773"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f66ad89-eeb4-4dac-be36-0a7f140a037d",
              "leftValue": "={{ $json.showEnd}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3824,
        3248
      ],
      "id": "fd784ef4-d6cc-4bb1-9eb1-e1499022cad1",
      "name": "Encerrar Atendimento ?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f66ad89-eeb4-4dac-be36-0a7f140a037d",
              "leftValue": "={{ $json.showMenu}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1472,
        3248
      ],
      "id": "85a70ab7-8040-42ab-a151-7b2ac14b3f2e",
      "name": "Abrir Menu ?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item || {};\n\nconst receberMensagem = $(\"Receber mensagem\").first().json || {};\nconst receberBody = receberMensagem.body || {};\n\n// Cria um JSON final seguro\nconst j = {\n  ...(item.json || {}),\n  ...receberMensagem\n};\n\n// Resolve phone de forma robusta\nconst rxPhone =\n  j.phone ??\n  j.body?.phone ??\n  receberMensagem.phone ??\n  receberBody.phone ??\n  null;\n\n// Resolve telefone conectado de forma robusta\nconst rxPhoneconectado =\n  j.phoneconectado ??\n  j.connectedPhone ??\n  j.body?.connectedPhone ??\n  receberMensagem.phoneconectado ??\n  receberMensagem.connectedPhone ??\n  receberBody.connectedPhone ??\n  null;\n\n// Aplica no JSON principal\nj.phone = rxPhone;\nj.phoneconectado = rxPhoneconectado;\n\n// Preserva sessão existente e NUNCA zera data\nj.session = j.session || {};\n\nj.session.phone = j.session.phone ?? rxPhone;\nj.session.phoneconectado = j.session.phoneconectado ?? rxPhoneconectado;\nj.session.flow = \"confirm\";\nj.session.step = 1;\nj.session.data = j.session.data || {};\nj.session.expiresAt = new Date(Date.now() + 15 * 60000).toISOString();\n\nj.reply = \"Posso lhe ajudar em algo mais?\";\n\nj.buttonList = {\n  buttons: [\n    { id: \"Sim\", label: \"Sim\", type: \"REPLY\" },\n    { id: \"Não\", label: \"Não\", type: \"REPLY\" }\n  ]\n};\n\nreturn {\n  json: j\n};"
      },
      "id": "35eee3e0-973c-4c66-9cc1-e1e6d2320568",
      "name": "Encerramento/Voltar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        2784
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f66ad89-eeb4-4dac-be36-0a7f140a037d",
              "leftValue": "={{ $json.isList }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        3664
      ],
      "id": "63ecb2db-ae3b-4d0a-a859-819456133671",
      "name": "Resposta vem de Lista"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendOptionList }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Receber mensagem\"].json[\"body\"][\"phone\"]}}"
            },
            {
              "name": "message",
              "value": "={{ String($json.reply ?? '') }}"
            },
            {
              "name": "optionList",
              "value": "={{ $json.optionList }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            }
          ]
        }
      },
      "name": "Imprimir Lista",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -960,
        3040
      ],
      "id": "c6083fa9-7883-4ba2-9c44-9e1c902e814f"
    },
    {
      "parameters": {
        "jsCode": "// não destrói o payload; só guarda uma cópia da sessão para o Merge pós-HTTP\nconst item = $input.item;\nconst j = item.json;\n\nj._snap = { phone: j.phone, session: j.session }; // stash para uso no Set expectedRef / Merge\nreturn item; // mantém reply, showMenu, etc.\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        3040
      ],
      "id": "008d0b1a-4083-4614-9d59-d6e1d148f3c4",
      "name": "Snapshot Sessão Lista"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      phone: $json.phone,\n      session: $json.session,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3376,
        4000
      ],
      "id": "bc4a73b7-1212-4ca5-ac29-3d538fa08f8d",
      "name": "Snapshot Sessão Texto"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -912,
        3744
      ],
      "id": "93864773-d8d4-4b26-8304-de45719477b8",
      "name": "Merge Texto + Sessão"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -672,
        2720
      ],
      "id": "b23b7b66-7bea-483e-8416-8fdf1a0e4b1b",
      "name": "Merge Lista + Sessão",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendText }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Receber mensagem\"].json[\"body\"][\"phone\"]}}"
            },
            {
              "name": "message",
              "value": "={{ $json.reply }}"
            },
            {
              "name": "delayMessage",
              "value": "5"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            }
          ]
        }
      },
      "name": "Apresentar historico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1008,
        3664
      ],
      "id": "5ae92825-144d-4dc5-a51a-ab4718999314"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2336,
        3024
      ],
      "id": "60b42352-3af0-40c5-b73a-f7bd44526613",
      "name": "Passar Session"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "552c6e23-e71b-4b3e-ba9d-747a56d5978e",
              "leftValue": "={{ $json.session.data.authOk }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "74c1c1b7-b1d0-43c8-b279-581232cc53bb",
      "name": "Autenticado ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2880,
        4432
      ]
    },
    {
      "parameters": {},
      "id": "e8c9dee4-bf72-42bb-819e-7aebcf605e2c",
      "name": "No Operation, do nothing3",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -2688,
        5024
      ],
      "typeVersion": 1,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "/**\n * ROUTER — Ident (Nome -> Código), Menu e Confirmação SIM/NÃO\n * Entradas principais: j.message.content.data (Get Payload), j._session (Select/Inject Sessão)\n * Saídas: j.session, j.reply, j.showMenu (bool), j.showEnd (bool), j.finalize (bool)\n */\n\n// --- Header\nconst item = $input.item || { json: {} };\nconst j = item.json || {};\n\n// util: primeiro texto não vazio\nconst first = (...vals) => {\n  for (const v of vals)\n    if (typeof v === \"string\" && v.trim() !== \"\") return v.trim();\n  return \"\";\n};\nconst lower = (s) => (s || \"\").toLowerCase();\n\n// -------- Entrada normalizada (Get Payload) --------\nconst data = j?.message?.content?.data || {};\nconst textIn = first(data.text);\nconst listT = data?.list?.title || null;\nconst listId = data?.list?.rowId || null;\nconst btnLabel = data?.button?.label || null;\n\nj.isList = !!(listT || listId);\nj.choiceTitle = listT;\nj.choiceId = listId;\n\n// mensagem efetiva\nlet msg = j.isList ? j.choiceTitle || \"\" : textIn;\n\nconst normalized = String(msg).trim().toLowerCase();\n\n// comandos globais\nif (normalized.includes(\"sair\")) {\n  j.showEnd = true;\n\n  const despedidasManha = [\n    \"*Agradecemos pelo contato* 😊\\nTenha um ótimo dia ☀️\",\n    \"Foi um prazer te atender 👋🏻\\nDesejamos um excelente dia ☀️\",\n    \"*Obrigado pelo contato!* 😊\\nQue seu dia seja incrível ☀️\",\n    \"Atendimento finalizado 😊\\nTenha uma manhã maravilhosa ☀️\",\n    \"*Agradecemos sua mensagem* 👋🏻\\nDesejamos um ótimo dia pra você ☀️\",\n    \"Tudo certo por aqui 😊\\nTenha um excelente dia ☀️\",\n    \"*Obrigada pelo contato!* 👋🏻\\nAproveite bem o seu dia ☀️\",\n    \"Foi ótimo falar com você 😊\\nDesejamos uma ótima manhã ☀️\",\n    \"*Seu atendimento foi encerrado* 👋🏻\\nTenha um lindo dia ☀️\",\n    \"Até a próxima 😊\\nDesejamos um ótimo dia ☀️\",\n  ];\n\n  const despedidasTarde = [\n    \"*Agradecemos pelo contato* 😊\\nTenha uma ótima tarde 🌇\",\n    \"Foi um prazer te atender 👋🏻\\nDesejamos uma excelente tarde 🌇\",\n    \"*Obrigado pelo contato!* 😊\\nAproveite bem sua tarde 🌇\",\n    \"Atendimento finalizado 😊\\nTenha uma tarde maravilhosa 🌇\",\n    \"*Agradecemos sua mensagem* 👋🏻\\nDesejamos uma ótima tarde 🌇\",\n    \"Tudo certo por aqui 😊\\nTenha uma excelente tarde 🌇\",\n    \"*Obrigada pelo contato!* 👋🏻\\nQue sua tarde seja ótima 🌇\",\n    \"Foi ótimo falar com você 😊\\nDesejamos uma tarde incrível 🌇\",\n    \"*Seu atendimento foi encerrado* 👋🏻\\nTenha uma ótima tarde 🌇\",\n    \"Até a próxima 😊\\nDesejamos uma excelente tarde 🌇\",\n  ];\n\n  const despedidasNoite = [\n    \"*Agradecemos pelo contato* 😊\\nTenha uma ótima noite 🌃\",\n    \"Foi um prazer te atender 👋🏻\\nDesejamos uma excelente noite 🌃\",\n    \"*Obrigado pelo contato!* 😊\\nTenha uma noite tranquila 🌃\",\n    \"Atendimento finalizado 😊\\nDesejamos uma ótima noite 🌃\",\n    \"*Agradecemos sua mensagem* 👋🏻\\nQue sua noite seja ótima 🌃\",\n    \"Tudo certo por aqui 😊\\nTenha uma excelente noite 🌃\",\n    \"*Obrigada pelo contato!* 👋🏻\\nDesejamos uma noite maravilhosa 🌃\",\n    \"Foi ótimo falar com você 😊\\nTenha uma ótima noite 🌃\",\n    \"*Seu atendimento foi encerrado* 👋🏻\\nDesejamos uma excelente noite 🌃\",\n    \"Até a próxima 😊\\nTenha uma noite tranquila 🌃\",\n  ];\n\n  const agora = new Date();\n  const horaBR = new Date(\n    agora.toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" }),\n  );\n  const hora = horaBR.getHours();\n\n  let mensagens;\n\n  if (hora <= 12) {\n    mensagens = despedidasManha;\n  } else if (hora >= 18) {\n    mensagens = despedidasNoite;\n  } else {\n    mensagens = despedidasTarde;\n  }\n\n  j.reply = mensagens[Math.floor(Math.random() * mensagens.length)];\n\n  return item;\n}\n\n// phone robusto\nconst src = ($items(\"Receber mensagem\")[0] || {}).json || {};\nj.phone = j.phone ?? j?.body?.phone ?? data?.phone ?? src?.body?.phone ?? null;\n\n// -------- Reconstroi sessão a partir do Select/Inject Sessão --------\nconst row = j._session || {};\nlet session = null;\nif (row && (row.flow || row.data_json || row.expires_at)) {\n  session = {\n    phone: row.phone || j.phone,\n    phoneconectado: row.phoneconectado || j.phoneconectado,\n    flow: row.flow || \"ident\",\n    step: Number(row.step ?? 1),\n    expectedRef: row.expected_ref ?? row.expectedRef ?? null,\n    data: row.data_json\n      ? typeof row.data_json === \"string\"\n        ? JSON.parse(row.data_json || \"{}\") || {}\n        : row.data_json\n      : {},\n    expiresAt: row.expires_at ? new Date(row.expires_at).toISOString() : null,\n  };\n}\n\n// expiração & resets\nif (session?.expiresAt && new Date(session.expiresAt) < new Date())\n  session = null;\nconst low = lower(msg);\nif (low === \"menu\" || low === \"cancelar\") session = null;\n\n// ===================== NÃO AUTENTICADO (ident) =====================\nconst authed = session?.data?.authOk === true;\n\nconst mensagensSara = [\n  \"👋🏻 Oi! Eu sou a *SARA*.\\nVou te ajudar por aqui 😊\\n\\nAntes de começarmos, qual é o seu nome?\",\n\n  \"Olá 👋🏻\\nEu sou a *SARA* e estou aqui para te atender da forma mais rápida possível.\\n\\nComo você se chama?\",\n\n  \"😊 Oi! Seja bem-vindo(a).\\nMeu nome é *SARA* e vou continuar seu atendimento.\\n\\nQual é o seu nome?\",\n\n  \"👋🏻 Prazer! Eu sou a *SARA*.\\nPode me passar seu nome para começarmos?\",\n\n  \"Oi oi 👋🏻\\nSou a *SARA*.\\nVou te ajudar por aqui hoje 😊\\n\\nComo posso te chamar?\",\n\n  \"Olá! 💬\\nAqui é a *SARA*.\\n\\nAntes da gente continuar, me fala seu nome 🙂\",\n\n  \"👋🏻 Seja bem-vindo(a)!\\nMeu nome é *SARA* e estou pronta para te ajudar.\\n\\nQual é o seu nome?\",\n\n  \"Oi 😊\\nSou a *SARA*, assistente virtual da comunidade.\\n\\nComo você se chama?\",\n\n  \"👋🏻 Tudo bem?\\nAqui é a *SARA*.\\n\\nMe fala seu nome para começarmos o atendimento 😊\",\n\n  \"Olá! 😄\\nEu sou a *SARA* e vou seguir com seu atendimento.\\n\\nQual é o seu nome?\",\n\n  \"👋🏻 Opa! Aqui é a *SARA*.\\nPode me dizer seu nome?\",\n\n  \"😊 Seja muito bem-vindo(a).\\nMeu nome é *SARA*.\\n\\nComo posso te chamar?\",\n\n  \"Oi 👋🏻\\nSou a *SARA* e estou aqui para te ajudar.\\n\\nAntes de tudo, qual é o seu nome?\",\n\n  \"Olá 😊\\nAqui é a *SARA*.\\nVamos começar?\\n\\nMe fala seu nome.\",\n\n  \"👋🏻 Pra gente continuar rapidinho, me diz seu nome 😊\\n\\nAss: *SARA*\",\n\n  \"Oi! 💬\\nVocê está falando com a *SARA*.\\n\\nComo posso te chamar?\",\n\n  \"👋🏻 Tudo certo?\\nSou a *SARA* e vou cuidar do seu atendimento.\\n\\nQual é o seu nome?\",\n\n  \"😊 Olá!\\nMeu nome é *SARA*.\\nEstou aqui para te ajudar da melhor forma possível.\\n\\nComo você se chama?\",\n\n  \"👋🏻 Seja bem-vindo(a) ao atendimento.\\nAqui é a *SARA*.\\n\\nPode me informar seu nome?\",\n\n  \"Oi 😊\\nEu sou a *SARA*.\\nVamos começar seu atendimento?\\n\\nQual é o seu nome?\",\n];\n\nconst msgDefault =\n  j.phoneconectado == \"558888856714\"\n    ? mensagensSara[Math.floor(Math.random() * mensagensSara.length)]\n    : \"👋🏻 Olá! Eu sou o *BILL*, seu assistente virtual.\\nEstou aqui para te atender de forma rápida e humanizada.\\n\\nPara começarmos, qual é o seu *nome*?\";\n\n/*\nconst msgDefault = j.phoneconectado == '558888856714' ? \"👋🏻 Olá! Eu sou a *SARA*.\\nEstou aqui para te atender de forma rápida e humanizada.\\n\\nPara começarmos, qual é o seu *nome*?\"\n  : \"👋🏻 Olá! Eu sou o *BILL*, seu assistente virtual.\\nEstou aqui para te atender de forma rápida e humanizada.\\n\\nPara começarmos, qual é o seu *nome*?\";     \n*/\n\nif (!authed) {\n  if (!session || session.flow !== \"ident\") {\n    // inicia identificação\n    session = {\n      phone: j.phone,\n      phoneconectado: j.phoneconectado,\n      flow: \"ident\",\n      step: 1,\n      data: {},\n      expectedRef: null,\n      expiresAt: new Date(Date.now() + 15 * 60000).toISOString(),\n    };\n    j.reply = msgDefault;\n    j.finalize = false;\n  } else if (session.step === 1 && !j.reply) {\n    // PASSO 1 — nome\n    if (msg === \"\") {\n      j.reply =\n        \"Desculpe, não consegui entender.\\nPode me informar seu *nome*, por favor? 🙌🏻\";\n    } else {\n      session.data.nome = msg;\n      session.step = 2;\n      session.needValidateLigacao = false; // só arma quando vier o código\n\n      const mensagemBemVindo = [\n        `Prazer em falar com você, *${session.data.nome} !* 👋🏻\\nAgora me informe o *código da ligação* (somente números, sem o dígito).\\n\\nSe quiser sair do atendimento, é só digitar *Sair*.`,\n\n        `😊 Prazer, *${session.data.nome} !*\\nPara continuar, preciso do *código da ligação* (apenas números, sem o dígito).\\n\\nVocê pode encerrar digitando *Sair* a qualquer momento.`,\n\n        `Perfeito, *${session.data.nome}* 👋🏻\\nMe envie agora o *código da ligação* sem o dígito, por favor.\\n\\nCaso queira finalizar o atendimento, digite *Sair*.`,\n\n        `Muito prazer, *${session.data.nome}* 😊\\nPor favor, informe o *código da ligação* usando apenas números.\\n\\nSe desejar sair, basta digitar *Sair*.`,\n\n        `Olá, *${session.data.nome}* 👋🏻\\nVamos continuar.\\n\\nMe informe o *código da ligação* (sem o dígito).\\n\\nPara encerrar o atendimento, digite *Sair*.`,\n\n        `Tudo certo, *${session.data.nome}* 😊\\nAgora preciso que você informe o *código da ligação* sem o dígito.\\n\\nVocê pode sair do atendimento digitando *Sair*.`,\n\n        `Prazer em te atender, *${session.data.nome}* 👋🏻\\nPode me passar o *código da ligação*? (somente números, sem o dígito)\\n\\nSe quiser encerrar, digite *Sair*.`,\n\n        `😊 Obrigada, *${session.data.nome}*.\\nAgora me envie o *código da ligação* sem o dígito para continuarmos.\\n\\nDigite *Sair* caso queira finalizar.`,\n\n        `Perfeito 👋🏻\\nPrazer, *${session.data.nome}*.\\n\\nPor favor, informe o *código da ligação* (sem o dígito).\\n\\nVocê pode sair digitando *Sair*.`,\n\n        `Muito prazer em falar com você, *${session.data.nome}* 😊\\nPara prosseguirmos, preciso do *código da ligação*.\\n\\nEnvie apenas os números, sem o dígito.\\n\\nSe desejar sair, digite *Sair*.`,\n\n        `👋🏻 Olá, *${session.data.nome}*!\\nAgora me informe o *código da ligação* sem o dígito para continuarmos.\\n\\nCaso queira encerrar o atendimento, digite *Sair*.`,\n\n        `Tudo bem, *${session.data.nome}* 😊\\nPode me enviar o *código da ligação*? (somente números, sem o dígito)\\n\\nSe quiser sair, basta digitar *Sair*.`,\n\n        `Prazer em conhecer você, *${session.data.nome}* 👋🏻\\nAgora preciso do *código da ligação* sem o dígito.\\n\\nVocê pode finalizar o atendimento digitando *Sair*.`,\n\n        `😊 Certo, *${session.data.nome}*.\\nPara localizar seus dados, me informe o *código da ligação*.\\n\\nEnvie apenas os números, sem o dígito.\\n\\nPara sair, digite *Sair*.`,\n\n        `Perfeito, *${session.data.nome}* 👋🏻\\nVamos continuar seu atendimento.\\n\\nMe passe o *código da ligação* sem o dígito.\\n\\nSe desejar sair, digite *Sair*.`,\n\n        `Muito prazer, *${session.data.nome}* 😊\\nAgora preciso que informe o *código da ligação* usando apenas números.\\n\\nVocê pode encerrar digitando *Sair*.`,\n\n        `👋🏻 Obrigada pelas informações, *${session.data.nome}*.\\nPode me enviar o *código da ligação* sem o dígito?\\n\\nCaso queira sair, digite *Sair*.`,\n\n        `Prazer falar com você, *${session.data.nome}* 😊\\nPara prosseguir, informe o *código da ligação* (somente números).\\n\\nSe quiser encerrar o atendimento, digite *Sair*.`,\n\n        `Tudo certo, *${session.data.nome}* 👋🏻\\nAgora é só me informar o *código da ligação* sem o dígito.\\n\\nPara sair do atendimento, digite *Sair*.`,\n\n        `😊 Ótimo, *${session.data.nome}*!\\nVamos continuar.\\n\\nMe envie o *código da ligação* usando apenas números, sem o dígito.\\n\\nSe desejar finalizar, digite *Sair*.`,\n      ];\n\n      j.reply =\n        mensagemBemVindo[Math.floor(Math.random() * mensagemBemVindo.length)];\n    }\n    j.finalize = false;\n  } else if (session.step === 2 && !j.reply) {\n    const codigodaLigacao = String(msg ?? \"\").trim();\n\n    if (codigodaLigacao === \"\") {\n      j.reply = `Informe o *código da ligação*.`;\n      j.finalize = false;\n    } else if (!/^[0-9]+$/.test(codigodaLigacao)) {\n      // <-- só passa se for SÓ números\n      j.reply =\n        \"O código informado não é válido.\\n\\nPor favor, digite apenas os *números* — sem letras, espaços ou símbolos. 🔢\";\n      j.finalize = false;\n    } else {\n      if (j.phoneconectado == \"558888856714\") {\n        session.data.codigoLigacao = codigodaLigacao;\n        session.data.chavedigital = \"\";\n        session.step = 3;\n        session.needValidateLigacao = true;\n        j.reply = null;\n        j.finalize = false;\n      } else {\n        session.data.codigoLigacao = codigodaLigacao; // mantém exatamente o que foi digitado (só dígitos)\n        session.step = 3;\n        session.needValidateLigacao = false;\n        j.reply = `*${session.data.nome}*, me informe por favor a *chave digital*.`;\n        j.finalize = false;\n      }\n    }\n  } else if (session.step === 3 && !j.reply) {\n    const chavedigital = String(msg ?? \"\").trim();\n    if (chavedigital === \"\") {\n      j.reply = \"Informe a *chave digital*.\";\n      j.finalize = false;\n    } else {\n      session.data.chavedigital = chavedigital; // mantém exatamente o que foi digitado (só dígitos)\n      session.step = 3;\n      session.needValidateLigacao = true;\n      j.reply = null;\n      j.finalize = false;\n    }\n  }\n\n  // saída parcial\n  session.expiresAt = new Date(Date.now() + 15 * 60000).toISOString();\n  j.session = {\n    phone: session.phone,\n    phoneconectado: session.phoneconectado,\n    flow: session.flow,\n    step: session.step,\n    expectedRef: session.expectedRef,\n    data: session.data,\n    expiresAt: session.expiresAt,\n    needValidateLigacao: !!session.needValidateLigacao,\n  };\n  return item;\n}\n\n// ===================== AUTENTICADO =====================\n\n// SIM/NÃO (quando estiver em confirmação)\nconst ans = lower(btnLabel || j.choiceTitle || msg || \"\");\nconst isYesNo = ans === \"sim\" || ans === \"não\";\n\nif (session?.flow === \"humano\") {\n  (session.flow = \"ident\"), (session.step = 3);\n  session.needValidateLigacao = true;\n  j.reply = null;\n}\n\nif (session?.flow === \"confirm\" && session?.step === 1 && isYesNo) {\n  if (ans === \"sim\") {\n    session.step = 0;\n    j.showMenu = true; // lista será enviada fora do Router\n    j.reply = \"\";\n  } else {\n    const agora = new Date();\n\n    const horaBR = new Date(\n      agora.toLocaleString(\"en-US\", {\n        timeZone: \"America/Sao_Paulo\",\n      }),\n    );\n\n    const hora = horaBR.getHours();\n\n    const emojis = [\"😊\", \"👋🏻\", \"✨\", \"🙌🏻\", \"💙\", \"😉\", \"🤝\", \"🌟\", \"🫶🏻\", \"🙂\"];\n\n    const emoji = emojis[Math.floor(Math.random() * emojis.length)];\n\n    const mensagensManha = [\n      `Certo, atendimento finalizado. Tenha um ótimo dia ${emoji}`,\n      `Tudo certo por aqui. Foi um prazer te atender, tenha um excelente dia ${emoji}`,\n      `Obrigado pelo contato. Desejo que seu dia seja muito bom ${emoji}`,\n      `Atendimento encerrado por aqui. Tenha uma manhã tranquila ${emoji}`,\n      `Foi bom falar com você. Qualquer coisa, estamos por aqui. Bom dia ${emoji}`,\n      `Tudo resolvido por aqui. Tenha um dia leve e tranquilo ${emoji}`,\n      `Obrigado pela mensagem. Desejo um ótimo dia para você ${emoji}`,\n      `Encerramos por aqui. Tenha uma excelente manhã ${emoji}`,\n      `Foi um prazer ajudar. Tenha um dia muito bom ${emoji}`,\n      `Até a próxima. Desejo um ótimo dia ${emoji}`,\n      `Certo, finalizamos o atendimento. Fique bem e tenha um bom dia ${emoji}`,\n      `Obrigado por entrar em contato. Que seu dia seja tranquilo ${emoji}`,\n      `Tudo certo. Precisando novamente, é só chamar. Bom dia ${emoji}`,\n      `Atendimento concluído. Desejo um excelente dia para você ${emoji}`,\n      `Foi um prazer atender você. Tenha uma manhã muito boa ${emoji}`,\n      `Certo, seu atendimento foi finalizado. Um ótimo dia para você ${emoji}`,\n      `Obrigado pelo contato. Espero ter ajudado. Tenha um bom dia ${emoji}`,\n      `Tudo finalizado. Desejo uma manhã tranquila para você ${emoji}`,\n      `Até mais. Obrigado por falar com a gente ${emoji}`,\n      `Certo, encerramos por aqui. Tenha um dia abençoado ${emoji}`,\n    ];\n\n    const mensagensTarde = [\n      `Certo, atendimento finalizado. Tenha uma ótima tarde ${emoji}`,\n      `Tudo certo por aqui. Foi um prazer te atender, tenha uma excelente tarde ${emoji}`,\n      `Obrigado pelo contato. Desejo uma tarde muito boa para você ${emoji}`,\n      `Atendimento encerrado por aqui. Tenha uma tarde tranquila ${emoji}`,\n      `Foi bom falar com você. Qualquer coisa, estamos por aqui. Boa tarde ${emoji}`,\n      `Tudo resolvido por aqui. Tenha uma tarde leve e tranquila ${emoji}`,\n      `Obrigado pela mensagem. Desejo uma ótima tarde para você ${emoji}`,\n      `Encerramos por aqui. Tenha uma excelente tarde ${emoji}`,\n      `Foi um prazer ajudar. Tenha uma tarde muito boa ${emoji}`,\n      `Até a próxima. Desejo uma ótima tarde ${emoji}`,\n      `Certo, finalizamos o atendimento. Fique bem e tenha uma boa tarde ${emoji}`,\n      `Obrigado por entrar em contato. Que sua tarde seja tranquila ${emoji}`,\n      `Tudo certo. Precisando novamente, é só chamar. Boa tarde ${emoji}`,\n      `Atendimento concluído. Desejo uma excelente tarde para você ${emoji}`,\n      `Foi um prazer atender você. Tenha uma tarde muito boa ${emoji}`,\n      `Certo, seu atendimento foi finalizado. Uma ótima tarde para você ${emoji}`,\n      `Obrigado pelo contato. Espero ter ajudado. Tenha uma boa tarde ${emoji}`,\n      `Tudo finalizado. Desejo uma tarde tranquila para você ${emoji}`,\n      `Até mais. Obrigado por falar com a gente ${emoji}`,\n      `Certo, encerramos por aqui. Tenha uma tarde abençoada ${emoji}`,\n    ];\n\n    const mensagensNoite = [\n      `Certo, atendimento finalizado. Tenha uma ótima noite ${emoji}`,\n      `Tudo certo por aqui. Foi um prazer te atender, tenha uma excelente noite ${emoji}`,\n      `Obrigado pelo contato. Desejo uma noite tranquila para você ${emoji}`,\n      `Atendimento encerrado por aqui. Tenha uma boa noite ${emoji}`,\n      `Foi bom falar com você. Qualquer coisa, estamos por aqui. Boa noite ${emoji}`,\n      `Tudo resolvido por aqui. Tenha uma noite leve e tranquila ${emoji}`,\n      `Obrigado pela mensagem. Desejo uma ótima noite para você ${emoji}`,\n      `Encerramos por aqui. Tenha uma excelente noite ${emoji}`,\n      `Foi um prazer ajudar. Tenha uma noite muito boa ${emoji}`,\n      `Até a próxima. Desejo uma ótima noite ${emoji}`,\n      `Certo, finalizamos o atendimento. Fique bem e tenha uma boa noite ${emoji}`,\n      `Obrigado por entrar em contato. Que sua noite seja tranquila ${emoji}`,\n      `Tudo certo. Precisando novamente, é só chamar. Boa noite ${emoji}`,\n      `Atendimento concluído. Desejo uma excelente noite para você ${emoji}`,\n      `Foi um prazer atender você. Tenha uma noite muito boa ${emoji}`,\n      `Certo, seu atendimento foi finalizado. Uma ótima noite para você ${emoji}`,\n      `Obrigado pelo contato. Espero ter ajudado. Tenha uma boa noite ${emoji}`,\n      `Tudo finalizado. Desejo uma noite tranquila para você ${emoji}`,\n      `Até mais. Obrigado por falar com a gente ${emoji}`,\n      `Certo, encerramos por aqui. Tenha uma noite abençoada ${emoji}`,\n    ];\n\n    let mensagens;\n\n    if (hora <= 12) {\n      mensagens = mensagensManha;\n    } else if (hora >= 18) {\n      mensagens = mensagensNoite;\n    } else {\n      mensagens = mensagensTarde;\n    }\n\n    const mensagem = mensagens[Math.floor(Math.random() * mensagens.length)];\n\n    session.step = 0;\n\n    j.showEnd = true;\n\n    j.reply = mensagem;\n  }\n  session.expiresAt = new Date(Date.now() + 15 * 60000).toISOString();\n  j.session = session;\n  return item;\n}\n\n// Escolha de serviço (autenticado)\nconst chosen = lower(j.isList ? j.choiceTitle : msg || \"\");\n\nif (chosen === \"localização\") {\n  j.reply = null; // fluxo de Localização assume\n} else if (chosen.includes(\"denúncia\") || chosen.includes(\"denuncia\")) {\n  j.reply =\n    \"Tudo certo! 💬\\n\\nMe conte com o máximo de detalhes o que aconteceu, assim conseguimos te ajudar mais rápido.\";\n  session.flow = \"ouvidoria\";\n} else if (\n  chosen === \"histórico de consumo\" ||\n  chosen === \"historico de consumo\"\n) {\n  j.reply = null; // fluxo histórico assume\n} else if (\n  chosen === \"2ª via de fatura\" ||\n  chosen === \"2ª via\" ||\n  chosen === \"faturas em aberto\"\n) {\n  // mantém seu comportamento atual; se quiser PIX, trate aqui (flow='pix')\n  j.reply = null;\n}\n\n// Atualiza sessão e sai\nsession.expiresAt = new Date(Date.now() + 15 * 60000).toISOString();\nj.session = {\n  phone: session.phone,\n  phoneconectado: session.phoneconectado,\n  flow: session.flow,\n  step: session.step,\n  expectedRef: session.expectedRef,\n  data: session.data,\n  expiresAt: session.expiresAt,\n  needValidateLigacao: !!session.needValidateLigacao,\n};\n\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3472,
        2784
      ],
      "id": "a47fcd1f-31cb-4afe-b262-6e1f349f9d0d",
      "name": "Router"
    },
    {
      "parameters": {
        "jsCode": "const j = $input.item.json;\nconst sess = j.session || {};\nsess.data = sess.data || {};\n\nlet codigo = String(sess.data.codigoLigacao ?? j.codigo ?? '').trim();\ncodigo = (codigo.match(/\\d+/g)?.join('')) || '';\nif (codigo) sess.data.codigoLigacao = codigo;\nelse delete sess.data.codigoLigacao;\n\nreturn [{ json: { phone: j.phone, session: sess } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2848,
        3168
      ],
      "id": "b92f72ff-3f15-461f-b6f9-0561420b26c0",
      "name": "Setar Codigo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "b2007816-7ce0-42dd-add7-645f7950de92",
              "leftValue": "={{ $json.session.flow }}",
              "rightValue": "ident",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "1c337c9f-1e98-43d9-b0fe-8e845f1d8db9",
              "leftValue": "={{ $json.session.needValidateLigacao }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "e1ebe7b6-99c8-47d5-adb0-866dc3d015f5",
              "leftValue": "={{ $json.session.data.codigoLigacao }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f0120a22-d4e9-425e-812e-6391490cadf8",
      "name": "Precisa Validar Ligação ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3456,
        3296
      ]
    },
    {
      "parameters": {
        "jsCode": "// -------- Processa Validação (após MERGE) --------\nconst j = $input.item.json || {};\nconst sess = j.session || {};\nconst phone = j.phone || sess.phone || null;\n\nconst found = Number(j.found ?? j.matricula != null) === 1;\nconst nome = sess?.data?.nome || \"cliente\";\nconst codigo = sess?.data?.codigoLigacao || j.codigo || \"\";\n\nif (found) {\n  sess.data = sess.data || {};\n  sess.data.authOk = true;\n  sess.flow = \"menu\";\n  sess.step = 0;\n  sess.needValidateLigacao = false;\n  sess.expiresAt = new Date(Date.now() + 15 * 60000).toISOString();\n  sess.data.codigoLigacao = codigo;\n  sess.data.nome = nome;\n\nconst cab = `Tudo certo, *` + nome + `*!✅\\n\\nValidei a ligação *` + codigo + `*.\\n\\nEsta ligação está vinculada ao endereço : *` + $input.first().json.rua + `*, número *XXX*, *` + $input.first().json.bairro + `*.\\n\\nQue bom ter você por aqui !\\nEm que posso lhe ajudar ?`;\n  return [{ json: { phone, session: sess, showMenu: true, reply: cab } }];\n}\n\n// NÃO ENCONTROU → sempre devolve texto\nsess.step = 2;\nsess.needValidateLigacao = true;\nsess.expiresAt = new Date(Date.now() + 15 * 60000).toISOString();\n\nconst msg =\n  \"Não consegui validar os dados informados.\\n\\nPor favor, digite novamente o *código da ligação* (apenas os números, sem o dígito). 🔁\";\nreturn [{ json: { phone, session: sess, showMenu: false, reply: msg } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        3024
      ],
      "id": "b07b0298-fc32-4c39-8ef6-06f481815ce0",
      "name": "Processa Validação"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendText }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Receber mensagem\"].json[\"body\"][\"phone\"]}}"
            },
            {
              "name": "=message",
              "value": "={{ String($json.reply ?? '') }}"
            },
            {
              "name": "delayTyping",
              "value": "6"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            }
          ]
        }
      },
      "name": "Enviar Pergunta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1200,
        3504
      ],
      "id": "567aaef3-1261-48ad-a3e3-91d8fc1c0a19",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "8f7c49d6-e100-469d-b178-c99701215cdd",
              "leftValue": "={{ $json.reply }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ae25fea1-3e9f-4cd6-9086-2721e8b4ddc2",
      "name": "Tem reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3168,
        3744
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT phone, flow, step, expected_ref, data_json, expires_at,phoneconectado\nFROM sessions\nWHERE phone = {{ $json.Phone }} and phoneconectado = {{ $json.PhoneConnected }}\n\nUNION ALL\n\nSELECT {{ $json.Phone }} AS phone, NULL AS flow, NULL AS step, NULL AS expected_ref, NULL AS data_json, NULL AS expires_at, {{ $json.PhoneConnected }} AS phoneconectado\nWHERE NOT EXISTS (SELECT 1 FROM sessions WHERE phone = {{ $json.Phone }} and phoneconectado = {{ $json.PhoneConnected }} )\nLIMIT 1;",
        "options": {}
      },
      "id": "c743852a-2706-430f-aef8-7e2dcbf6f021",
      "name": "Select Sessão",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        -2912,
        2448
      ],
      "credentials": {
        "mySql": {
          "id": "DjogxsxdXYGa9DzE",
          "name": "InovaBot"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendButtonList}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Receber mensagem\"].json[\"body\"][\"phone\"]}}"
            },
            {
              "name": "message",
              "value": "={{$json.reply}} "
            },
            {
              "name": "buttonList",
              "value": "={{ $json.buttonList }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Mensagem final",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3040,
        3024
      ],
      "id": "fc3bf745-f425-44af-b75d-1f1de18186d5"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst j = item.json;\n\n// ==== ENTRADA / CAMPOS ÚTEIS (mantidos) ====\nconst b = j.body ?? {};\nj.phone = j.phone ?? b.phone ?? null;\n\n// veio resposta de lista/botão?\nj.listResponse = !!(b.listResponseMessage || b.listResponse || b.buttonReply);\n\n// flag “encerrar atendimento” quando clicado em “Não”\nconst btnMsg = (b?.buttonReply?.message ?? \"\").trim().toLowerCase();\nj.encerraratendimento = btnMsg === \"não\";\n\n// ==== CONFIGURAÇÃO POR NÚMERO (adicione seus números aqui) ====\n// Use apenas dígitos no índice, exatamente como chega em j.PhoneConnected\nconst phonesConfig = {\n  553798334700: {\n    idInstanceZapi: \"3EA6B3979B12E1B6EDC772620DC9C8F4\",\n    tokenInstanceZapi: \"86D7C5F85892C2570C026339\",\n    clientTokenHeaderZapi: \"Fdc4b6b51b6d942db941b9e00a4991740S\",\n    rotaPrincipalDados:\n      \"https://tdev3-ag.icommercial002.inovamobil.com.br/api/chatbot\",\n    title: \"Inovação Computação Móvel\",\n    address: \"Avenida Paraná, 1348, Sidil, Divinopolis, MG, 35501-660\",\n    lat: \"-20.135580\",\n    long: \"-44.896239\",\n    tipoRequerimento: 54,\n  },\n  553798603941: {\n    idInstanceZapi: \"3E8020BFCB6F329C7878B2948C7C07B3\",\n    tokenInstanceZapi: \"7FAEC497FAA217714D1F22C7\",\n    clientTokenHeaderZapi: \"Fdc4b6b51b6d942db941b9e00a4991740S\",\n    rotaPrincipalDados:\n      \"https://tdev-ag.icommercial002.inovamobil.com.br/api/chatbot\",\n    title: \"Residência\",\n    address: \"Rua Itapecerica, 1060, Sidil, Divinopolis, MG, 35500-018\",\n    lat: \"-20.13889\",\n    long: \"-44.88389\",\n    tipoRequerimento: 22,\n  },\n  558888856714: {\n    idInstanceZapi: \"3F0B6E59D6D191247F543ACD7F66CB7B\",\n    tokenInstanceZapi: \"661363E3532CCDF926D32F90\",\n    clientTokenHeaderZapi: \"Fdc4b6b51b6d942db941b9e00a4991740S\",\n    rotaPrincipalDados: \"https://sobral.agenciavirtual.api.gestaosaneamentoweb.com.br/api/chatbot\",\n    title: \"SAAE - Serviço Autônomo de Água e Esgoto de Sobral\",\n    address: \"Doutor Monte, 563, Centro, Sobral, CE, 62011-200\",\n    lat: \"-3.6869546268913265\",\n    long: \"-40.348599721104776\",\n    tipoRequerimento: 0,\n  },\n};\n\n// ==== OBRIGATÓRIO TER PhoneConnected ====\nconst phoneConnected = (j.PhoneConnected ?? \"\").replace(/\\D+/g, \"\");\nconst selected = phonesConfig[phoneConnected];\nif (!selected) {\n  throw new Error(\n    `PhoneConnected (${phoneConnected || \"vazio\"}) não mapeado em phonesConfig`,\n  );\n}\n\n// ==== PARAMS (nomes mantidos, sem impacto) ====\nconst idInstanceZapi = selected.idInstanceZapi;\nconst tokenInstanceZapi = selected.tokenInstanceZapi;\nconst clientTokenHeaderZapi = selected.clientTokenHeaderZapi;\nconst rotaPrincipalDados = selected.rotaPrincipalDados;\n\nconst baseUrl = \"https://api.z-api.io\";\nconst extensionDocument = \"pdf\";\n\n// ==== ENV / ENDPOINTS ====\nconst endpointZapi = `${baseUrl}/instances/${idInstanceZapi}/token/${tokenInstanceZapi}`;\nj.env = {\n  baseUrl,\n  idInstanceZapi,\n  tokenInstanceZapi,\n  clientTokenHeaderZapi,\n  endpoints: {\n    sendOptionList: `${endpointZapi}/send-option-list`,\n    sendButtonList: `${endpointZapi}/send-button-list`,\n    sendCarousel: `${endpointZapi}/send-carousel`,\n    sendText: `${endpointZapi}/send-text`,\n    sendLink: `${endpointZapi}/send-link`,\n    sendAudio: `${endpointZapi}/send-audio`,\n    sendVideo: `${endpointZapi}/send-video`,\n    sendImage: `${endpointZapi}/send-image`,\n    sendDocument: `${endpointZapi}/send-document/${extensionDocument}`,\n    sendLocation: `${endpointZapi}/send-location`,\n  },\n  phoneConnected,\n};\n\nj.env.api = {\n  rotaPrincipalDados,\n  endpoints: {\n    historicoConsumo: `${rotaPrincipalDados}/historico-consumo`,\n    ultimasFaturas: `${rotaPrincipalDados}/faturas-abertas`,\n    faturasPagas: `${rotaPrincipalDados}/faturas-concluidas`,\n    retornarUsuario: `${rotaPrincipalDados}/retornar-usuario`,\n    gerarFatura: `${rotaPrincipalDados}/fatura-pdf`,\n    ouvidoria: `${rotaPrincipalDados}/denuncia`,\n    auditoria: `${rotaPrincipalDados}/auditoria`,\n  },\n  location: {\n    title: selected.title,\n    address: selected.address,\n    lat: selected.lat,\n    long: selected.long,\n  },\n  configuracao: {\n    tipoRequerimento: selected.tipoRequerimento,\n    HorarioAtendimentoHumanoInicio : \"08:00\",\n    HorarioAtendimentoHumanoFim : \"17:00\"\n  },\n};\n\nreturn item;\n"
      },
      "id": "6b611c09-1927-4af9-8fb3-dcbef985dfac",
      "name": "Constantes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3168,
        2448
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendLocation }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Receber mensagem\"].json[\"body\"][\"phone\"]}}"
            },
            {
              "name": "title",
              "value": "={{$('Constantes').item.json.env.api.location.title}}"
            },
            {
              "name": "address",
              "value": "={{$('Constantes').item.json.env.api.location.address}}"
            },
            {
              "name": "latitude",
              "value": "={{$('Constantes').item.json.env.api.location.lat}}"
            },
            {
              "name": "longitude",
              "value": "={{$('Constantes').item.json.env.api.location.long}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            }
          ]
        }
      },
      "name": "Envia Localização",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        592,
        2800
      ],
      "id": "d2578bf5-5e51-4e6a-8344-94ff47cefb5e",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "ecfaceea-a113-4ac0-987e-019bc0ecbb4e",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -256,
        4032
      ],
      "typeVersion": 1,
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "id": "acb00a26-7bc0-4292-8a67-82d6917ef6f1",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -544,
        4224
      ],
      "typeVersion": 1,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "BILL_HML",
        "options": {}
      },
      "name": "Receber mensagem",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3840,
        2448
      ],
      "webhookId": "c3d709c3-6fc7-4d09-bd0b-6791ddbf81f5",
      "id": "b0d532a7-507c-4358-859f-ad6788f7e8ed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "159af285-4def-4cef-b786-f3006096cb4d",
              "name": "instanceid",
              "value": "={{ $json.body.instanceId }}",
              "type": "string"
            },
            {
              "id": "4e670196-33f5-4e71-8dc0-c45f2a3b4221",
              "name": "messageid",
              "value": "={{ $json.body.messageId }}",
              "type": "string"
            },
            {
              "id": "18fe345b-9e00-4b92-bb04-1fd9e310f5ee",
              "name": "messageText",
              "value": "={{ $json.body?.listResponseMessage?.title \n   || $json.body?.listResponse?.title \n   || $json.body?.buttonReply?.message \n   || $json.body?.text?.message \n   || $json.body?.buttonsResponseMessage?.message \n   || '' }}",
              "type": "string"
            },
            {
              "id": "dbe6291f-4458-46bc-bcbe-655dac0ef2d9",
              "name": "fromMe",
              "value": "={{ $json.body.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "3e1861eb-3498-475b-90b2-6714f68b30ec",
              "name": "mensagemgrupo",
              "value": "={{ $json.body.isGroup }}",
              "type": "boolean"
            },
            {
              "id": "157104a3-1d94-4363-a746-37dc5e1b0669",
              "name": "status",
              "value": "={{ $json.body.status }}",
              "type": "string"
            },
            {
              "id": "270c247a-464f-4a70-b840-81aedc560abb",
              "name": "Phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "97a5c888-007d-479e-9db2-b7fc5ecaa805",
              "name": "chatname",
              "value": "={{ $json.body.chatName }}",
              "type": "string"
            },
            {
              "id": "097e7186-8b9b-4a3d-81b9-d5cfc8524153",
              "name": "messageaudio",
              "value": "={{ $json.body.audio.audioUrl }}",
              "type": "string"
            },
            {
              "id": "99266c55-d810-44dd-8813-3dd018892b9e",
              "name": "messagephoto",
              "value": "={{ $json.body.image.imageUrl }}",
              "type": "string"
            },
            {
              "id": "bc76b1f8-f9a5-4f12-9054-f5518119e044",
              "name": "PhoneConnected",
              "value": "={{ $json.body.connectedPhone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3408,
        2448
      ],
      "id": "f37dc11a-d57f-45bb-baec-ecbd928a6040",
      "name": "Dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a101d655-9ea1-4d7d-a881-e2478360a6d7",
              "leftValue": "={{ $json.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -592,
        3936
      ],
      "id": "f0910ef5-5c97-4d30-a281-a50d2cea3040",
      "name": "Mensagem enviada pelo Bot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "64cffcd2-671e-40c9-83a8-495f5f6da1cb",
              "leftValue": "={{ $json.body.isGroup }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -928,
        4096
      ],
      "id": "a329bf04-214a-4958-b8b5-f15823e7948f",
      "name": "Mensagem Individual"
    },
    {
      "parameters": {
        "url": "={{$('Constantes').item.json.env.api.endpoints.ultimasFaturas}}",
        "options": {
          "splitIntoItems": false
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "=matricula",
              "value": "={{ $('Resposta lista').item.json.session.data.codigoLigacao }}"
            }
          ]
        }
      },
      "name": "Faturas em Aberto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        560,
        3152
      ],
      "id": "d3478c05-ed48-4897-8bc3-7e9ec44bc4fa",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f66ad89-eeb4-4dac-be36-0a7f140a037d",
              "leftValue": "={{ $json.action }}",
              "rightValue": "gen_pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1216,
        4560
      ],
      "id": "c21649c1-2c92-4b0a-88fb-691bf2e84d27",
      "name": "Gerar Fatura ?"
    },
    {
      "parameters": {
        "jsCode": "// NORMALIZADOR DE CLIQUE — unifica todos os caminhos possíveis do ID\nconst id =\n  // Botões modernos\n  $json?.message?.content?.data?.button?.id ||\n  $json?.body?.buttonsResponseMessage?.buttonId ||\n  $json?.body?.buttonReply?.id ||\n  $json?.body?.button?.id ||\n  $json?.message?.button?.id ||\n\n  // Option List (novo): optionId\n  $json?.message?.content?.data?.list?.optionId ||\n  $json?.body?.listResponse?.optionId ||\n  $json?.body?.listResponseMessage?.optionId ||\n\n  // List (legado): rowId\n  $json?.message?.content?.data?.list?.rowId ||\n  $json?.body?.listResponse?.rowId ||\n  $json?.body?.listResponseMessage?.rowId ||\n\n  // fallback\n  '';\n\nconst isInvoiceClickAbertas = /^fat_sel_/.test(id);  // clique numa fatura da lista\nconst isActionClickAbertas  = /^fat_act_/.test(id);  // clique numa ação (PIX/Barras/PDF)\nconst isInvoiceClickPagas = /^fatpaga_sel_/.test(id);  // clique numa fatura da lista\n\nreturn [{\n  json: {\n    ...$json,\n    clickId: id,\n    isInvoiceClickAbertas,\n    isActionClickAbertas,\n    isInvoiceClickPagas\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3616,
        2448
      ],
      "id": "73882009-82e3-42f9-abc4-9ab253964e04",
      "name": "Normalizador de Clique"
    },
    {
      "parameters": {
        "url": "={{$('Constantes').item.json.env.api.endpoints.ultimasFaturas}}",
        "options": {
          "splitIntoItems": false
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "=matricula",
              "value": "={{ $('Gerar Fatura ?').item.json.detailRequest.matricula }}"
            },
            {
              "name": "referencia",
              "value": "={{ $('Gerar Fatura ?').item.json.detailRequest.referencia }}"
            }
          ]
        }
      },
      "name": "Consultar Fatura por referência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -544,
        4944
      ],
      "id": "ed24314c-d783-40ee-b458-4402facc9e4b",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// MONTAR RESPOSTA PIX/BARRAS — code_only (somente o conteúdo)\n// Mode: Run once for each item\ntry {\n  const HANDLER_NODE = \"Montar opções da fatura selecionada (Em Aberto)\";   // ajuste se o nome do seu nó for outro\n  const WEBHOOK_NODE = \"Receber mensagem\";\n\n  const get = (o,p)=>p.split('.').reduce((a,k)=> (a && a[k]!==undefined ? a[k] : null), o || null);\n  const unwrap = (v)=>{\n    if (Array.isArray(v)) return v;\n    if (v && typeof v === 'object') {\n      if (Array.isArray(v.data)) return v.data;\n      if (Array.isArray(v.body)) return v.body;\n      if (Array.isArray(v.rows)) return v.rows;\n      return [v];\n    }\n    return [];\n  };\n  const findField = (obj, paths)=> {\n    for (const p of paths) {\n      const val = get(obj, p);\n      if (val !== undefined && val !== null && String(val).trim() !== '') return String(val).trim();\n    }\n    return '';\n  };\n\n  const H = $item(0).$node[HANDLER_NODE]?.json || {};\n  const W = $item(0).$node[WEBHOOK_NODE]?.json || {};\n  const J = $json || {};\n\n  const phone =\n    H.phone || J.phone ||\n    get(J,'message.content.data.phone') || get(J,'body.phone') ||\n    get(W,'body.phone') || null;\n\n  const want =\n    H.detailRequest?.want || J.detailRequest?.want || null;   // 'pix' | 'bar'\n\n  const refTarget =\n    H.detailRequest?.referencia || J.detailRequest?.referencia || null;\n\n  if (!phone) return { json: { phone: null, message: 'erro: phone ausente' }, pairedItem: [{ item: 0 }] };\n  if (!want)  return { json: { phone, message: 'erro: ação (pix/bar) ausente' }, pairedItem: [{ item: 0 }] };\n\n  const rows = unwrap(J);\n  let row = rows[0] || {};\n  if (refTarget) {\n    const hit = rows.find(r => (r?.mesAnoReferencia || r?.mes) === refTarget);\n    if (hit) row = hit;\n  }\n\n  const qr     = findField(row, ['qrCode','qrcode','payload','pix']);\n  const linha  = findField(row, ['linhaDigitavel','linha_digitavel','digitableLine','line']);\n  const barras = findField(row, ['codigoBarras','codigo_barras','barcode','barCode']);\n\n  if (want === 'pix') {\n    if (!qr) return { json: { phone, message: 'PIX indisponível para esta fatura.' }, pairedItem: [{ item: 0 }] };\n    return { json: { phone, message: qr }, pairedItem: [{ item: 0 }] };\n  }\n\n  // want === 'bar'\n  const text = linha || barras || '';\n  if (!text) return { json: { phone, message: 'Linha digitável/código indisponível.' }, pairedItem: [{ item: 0 }] };\n  return { json: { phone, message: text }, pairedItem: [{ item: 0 }] };\n\n} catch (e) {\n  return { json: { phone: null, message: `erro ao montar resposta: ${String(e?.message || e)}` }, pairedItem: [{ item: 0 }] };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        4960
      ],
      "id": "c6965ff0-495a-47c4-a309-a25c64ecc721",
      "name": "Montar resposta Pix/Barras"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendText }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "delayMessage",
              "value": "2"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Apresentar PIX/Barras",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        464,
        4992
      ],
      "id": "166db4b5-92ed-4e81-83ef-d845989d38de"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendText }}",
        "options": {
          "splitIntoItems": false
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "=Finalizando a consulta de faturas em aberto ..."
            },
            {
              "name": "delayTyping",
              "value": "6"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Feedback ao usuário - Faturas em aberto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        336,
        3152
      ],
      "id": "da5c53aa-d093-417b-8b42-c39e6ea4cd6c",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendOptionList }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$node[\"Receber mensagem\"].json[\"body\"][\"phone\"]}}"
            },
            {
              "name": "message",
              "value": "={{ $json.reply }}"
            },
            {
              "name": "optionList",
              "value": "={{ $json.optionList }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            }
          ]
        }
      },
      "name": "Envia lista Opções",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        80,
        3840
      ],
      "id": "daac6097-6b84-42c5-8ed6-23d0b01e236d"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendText }}",
        "options": {
          "splitIntoItems": false
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "=Gerando informações para pagamento ..."
            },
            {
              "name": "delayTyping",
              "value": "5"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Feedback ao usuário - PIX/Barras",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -976,
        4736
      ],
      "id": "adbd0c35-7f4f-4be4-bafd-3e592a7798ab",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendText }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "=Finalizando a consulta de histórico ..."
            },
            {
              "name": "delayTyping",
              "value": "5"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Feedback ao usuário - Historico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        336,
        3664
      ],
      "id": "dbb7355f-4318-48c1-9d1f-ea04a1e0a560",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendText }}",
        "options": {
          "splitIntoItems": false
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "=Validando informações ..."
            },
            {
              "name": "delayTyping",
              "value": "6"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Feedback ao usuário - Baixar Fatura1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -2928,
        3392
      ],
      "id": "3631cb65-ab9c-416c-9852-28759a6fa1f2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const DadosGravacao = {\n  ligacao: $(\"Router\").first().json.session.data.codigoLigacao ?? \"\",\n  phone: $(\"Router\").first().json.session.phone ?? \"\",\n  phoneConectado: $(\"Router\").first().json.session.phoneconectado ?? \"\",\n  observacao: \"\",\n  dataHora: new Date().toISOString(),\n  servico : 4\n};\n\nreturn DadosGravacao;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        3664
      ],
      "id": "90c07c68-8e4c-4379-8d77-cb1662f68169",
      "name": "Gravar - Histórico de Consumo"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const DadosGravacao = {\n  ligacao: $(\"Router\").first().json.session.data.codigoLigacao ?? \"\",\n  phone: $(\"Router\").first().json.session.phone ?? \"\",\n  phoneConectado: $(\"Router\").first().json.session.phoneconectado ?? \"\",\n  observacao: \"\",\n  dataHora: new Date().toISOString(),\n  servico : 6\n};\n\nreturn DadosGravacao;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        2800
      ],
      "id": "43243298-b3de-4802-a300-0ca8bca8eed0",
      "name": "Gravar - Localização"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const DadosGravacao = {\n  ligacao: $(\"Router\").first().json.session.data.codigoLigacao ?? \"\",\n  phone: $(\"Router\").first().json.session.phone ?? \"\",\n  phoneConectado: $(\"Router\").first().json.session.phoneconectado ?? \"\",\n  observacao: \"\",\n  dataHora: new Date().toISOString(),\n  servico : 5\n};\n\nreturn DadosGravacao;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        4448
      ],
      "id": "cdc0aed9-8abe-4dcc-8926-8cf15565ba75",
      "name": "Gravar - Ouvidoria"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const servico = $('Montar opções da fatura selecionada (Em Aberto)').item.json.detailRequest.want;\n\nconst DadosGravacao = {\n  ligacao: $(\"Router\").first().json.session.data.codigoLigacao ?? \"\",\n  phone: $(\"Router\").first().json.session.phone ?? \"\",\n  phoneConectado: $(\"Router\").first().json.session.phoneconectado ?? \"\",\n  observacao: \"\",\n  dataHora: new Date().toISOString(),\n  servico : (servico || \"\").toUpperCase() === \"PIX\" ? 2 : 3\n};\n\nreturn DadosGravacao;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        4944
      ],
      "id": "99f540d6-fc8a-4ce0-9983-a35cfad5fc67",
      "name": "Gravar - PIX ou Barras"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$('Constantes').item.json.env.api.endpoints.ouvidoria}}",
        "options": {
          "bodyContentCustomMimeType": "",
          "splitIntoItems": false
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "descricaoDenuncia",
              "value": "={{ $json.message.content.data.text }}"
            },
            {
              "name": "tipoRequerimento",
              "value": "={{$('Constantes').item.json.env.api.configuracao.tipoRequerimento}}"
            }
          ]
        }
      },
      "name": "Gravar ouvidoria",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        0,
        4496
      ],
      "id": "6171d2b5-aef1-4cb0-b50d-c9869bfad9be",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2eab16b9-b8b1-4220-b549-52c9d0c06861",
              "leftValue": "={{ $('Preparar Lista - Faturas em Aberto').item.json.message }}",
              "rightValue": "=Não",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        3152
      ],
      "id": "2b002a4a-af95-410f-8efd-2f45b00e0c27",
      "name": "Não há faturas em aberto ?"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendText }}",
        "options": {
          "splitIntoItems": false
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "=Finalizando a consulta de faturas pagas ..."
            },
            {
              "name": "delayTyping",
              "value": "6"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Feedback ao usuário - Faturas pagas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        336,
        3376
      ],
      "id": "e8fa36fa-0ac2-4e61-bfb1-554f7dd14bfd",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{$('Constantes').item.json.env.api.endpoints.faturasPagas}}",
        "options": {
          "splitIntoItems": false
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "=matricula",
              "value": "={{ $('Resposta lista').item.json.session.data.codigoLigacao }}"
            }
          ]
        }
      },
      "name": "Faturas Pagas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        560,
        3376
      ],
      "id": "6f6054fd-7f63-4120-8895-0001a11dbf77",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// SEND-BUTTON-LIST (stateless) — Z-API /send-button-list\n// MODO: Run once for all items\n// Saída por lote: { phone, message, buttonList } + pairedItem\n\nconst WEBHOOK_NODE = \"Receber mensagem\";\n\n// helpers\nconst tryParse = x => { if (typeof x !== 'string') return x; const s=x.trim(); if(!(s.startsWith('[')||s.startsWith('{'))) return x; try{ return JSON.parse(s);}catch{ return x;} };\nconst isObj = v => v && typeof v === 'object' && !Array.isArray(v);\nconst toNum = s => Number(String(s ?? '').replace(/[^\\d.-]/g,'')) || 0;\nconst money = n => ('R$' + new Intl.NumberFormat('pt-BR',{minimumFractionDigits:2}).format(n)).replace('R$ ','R$');\nconst chunk = (arr,n)=>{const o=[]; for(let i=0;i<arr.length;i+=n)o.push(arr.slice(i,i+n)); return o;};\nconst b64u = {\n  enc: (obj) => Buffer.from(JSON.stringify(obj),'utf8')\n    .toString('base64').replace(/\\+/g,'-').replace(/\\//g,'_').replace(/=+$/,'')\n};\nfunction unwrapArrayLike(j){\n  const v = tryParse(j);\n  if (Array.isArray(v)) return v;\n  if (isObj(v)) {\n    if (Array.isArray(v.rows))   return v.rows;\n    if (Array.isArray(v.result)) return v.result;\n    if (Array.isArray(v.data))   return v.data;\n    if (Array.isArray(v.body))   return v.body;\n    const k = Object.keys(v);\n    if (['mesAnoReferencia','mes','vencimento','valor','valorFaturado','total'].some(x=>k.includes(x))) return [v];\n  }\n  return [];\n}\nfunction extractRows(items){\n  if (!items.length) return [];\n  const j0 = items[0]?.json;\n  if (Array.isArray(j0)) return j0;\n  const w = unwrapArrayLike(j0); if (w.length) return w;\n  if (items.length>1) return items.map(i=>i.json);\n  return [];\n}\n\n// entrada\nconst items = $input.all();\nconst phone =\n  $json.phone ??\n  $item(0).$node[WEBHOOK_NODE]?.json?.body?.phone ??\n  null;\n\n// pegue a mesma matrícula que você usou no HTTP “Faturas pagas”\nconst codigoLigacao =\n  $json.matricula ??\n  $item(0).$node[WEBHOOK_NODE]?.json?.session?.data?.codigoLigacao ??\n  $json.session?.data?.codigoLigacao ??\n  null;\n\nlet rows = extractRows(items).filter(r => r && (r.mesAnoReferencia || r.mes || r.vencimento));\nif (!rows.length) {\n  return [{\n    json: { phone, message: 'Não há faturas pagas no momento.', buttonList: null },\n    pairedItem: [{ item: 0 }]\n  }];\n}\n\n// normaliza e monta tokens com { m, r }\nconst norm = rows.map((r, idx) => {\n  const rref = String(r.mesAnoReferencia ?? r.mes ?? '').trim(); // <- rref (não “ref”)\n  const venc = String(r.vencimento ?? '').trim();\n  const valN = toNum(r.valor ?? r.valorFaturado ?? r.total);\n  const token = 'T.' + b64u.enc({ m: codigoLigacao, r: rref }); // base64url {m,r}\n  return { token, ref: rref, venc, valN, idx };\n});\n\nconst batches = chunk(norm, 6);\nconst out = [];\n\nfor (let b = 0; b < batches.length; b++) {\n  const batch = batches[b];\n\n  const message = b === 0\n    ? '✅ *Faturas pagas*\\n\\nAqui estão as suas *6 últimas faturas*.\\nToque sobre a fatura desejada para baixar.'\n    : 'Mais opções';\n\n  const buttonList = {\n    buttons: batch.map((f, i) => ({\n      id: `fatpaga_sel_${f.token}`,\n      // use f.ref aqui (nada de “ref” solto)\n      label: `${i+1}) ${f.ref} · ${money(f.valN)}`.slice(0, 20)\n    }))\n  };\n\n  out.push({ json: { phone, message, buttonList }, pairedItem: [{ item: 0 }] });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        3376
      ],
      "id": "3f0414c5-3610-4977-a262-fb02d9297b07",
      "name": "Preparar Lista - Faturas Pagas"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendButtonList}}",
        "options": {
          "fullResponse": true,
          "splitIntoItems": false
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "buttonList",
              "value": "={{ $json.buttonList }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Apresentar Faturas pagas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        992,
        3376
      ],
      "id": "9422a9f4-20cb-455c-908c-8447899363d0",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2eab16b9-b8b1-4220-b549-52c9d0c06861",
              "leftValue": "={{ $('Preparar Lista - Faturas Pagas').item.json.message }}",
              "rightValue": "Não",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        3376
      ],
      "id": "0ceebca7-f780-46bb-8314-4fe77d422c09",
      "name": "Não há faturas pagas ?",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "552c6e23-e71b-4b3e-ba9d-747a56d5978e",
              "leftValue": "={{ $('Normalizador de Clique').item.json.isInvoiceClickAbertas }}",
              "rightValue": "fat_sel",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a6e9aa59-2195-4f5a-b2e6-25429ba5e033",
      "name": "É clique de faturas em aberto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2416,
        4848
      ]
    },
    {
      "parameters": {
        "jsCode": "// SEND-BUTTON-LIST (stateless) — Z-API /send-button-list\n// MODO: Run once for all items\n// Saída por lote: { phone, message, buttonList } + pairedItem\n\nconst WEBHOOK_NODE = \"Receber mensagem\";\n\n// helpers\nconst tryParse = x => { if (typeof x !== 'string') return x; const s=x.trim(); if(!(s.startsWith('[')||s.startsWith('{'))) return x; try{ return JSON.parse(s);}catch{ return x;} };\nconst isObj = v => v && typeof v === 'object' && !Array.isArray(v);\nconst toNum = s => Number(String(s ?? '').replace(/[^\\d.-]/g,'')) || 0;\nconst money = n => ('R$' + new Intl.NumberFormat('pt-BR',{minimumFractionDigits:2}).format(n)).replace('R$ ','R$');\nconst chunk = (arr,n)=>{const o=[]; for(let i=0;i<arr.length;i+=n)o.push(arr.slice(i,i+n)); return o;};\nconst b64u = {\n  enc: (obj) => Buffer.from(JSON.stringify(obj),'utf8')\n    .toString('base64').replace(/\\+/g,'-').replace(/\\//g,'_').replace(/=+$/,'')\n};\nfunction unwrapArrayLike(j){\n  const v = tryParse(j);\n  if (Array.isArray(v)) return v;\n  if (isObj(v)) {\n    if (Array.isArray(v.rows))   return v.rows;\n    if (Array.isArray(v.result)) return v.result;\n    if (Array.isArray(v.data))   return v.data;\n    if (Array.isArray(v.body))   return v.body;\n    const k = Object.keys(v);\n    if (['mesAnoReferencia','mes','vencimento','valor','valorFaturado','total'].some(x=>k.includes(x))) return [v];\n  }\n  return [];\n}\nfunction extractRows(items){\n  if (!items.length) return [];\n  const j0 = items[0]?.json;\n  if (Array.isArray(j0)) return j0;\n  const w = unwrapArrayLike(j0); if (w.length) return w;\n  if (items.length>1) return items.map(i=>i.json);\n  return [];\n}\n\n// entrada\nconst items = $input.all();\nconst phone =\n  $json.phone ??\n  $item(0).$node[WEBHOOK_NODE]?.json?.body?.phone ??\n  null;\n\n// pegue a mesma matrícula que você usou no HTTP “Faturas em aberto”\nconst codigoLigacao =\n  $json.matricula ??\n  $item(0).$node[WEBHOOK_NODE]?.json?.session?.data?.codigoLigacao ??\n  $json.session?.data?.codigoLigacao ??\n  null;\n\nlet rows = extractRows(items).filter(r => r && (r.mesAnoReferencia || r.mes || r.vencimento));\nif (!rows.length) {\n  return [{\n    json: { phone, message: 'Não há faturas em aberto no momento.', buttonList: null },\n    pairedItem: [{ item: 0 }]\n  }];\n}\n\n// normaliza e monta tokens com { m, r }\nconst norm = rows.map((r, idx) => {\n  const rref = String(r.mesAnoReferencia ?? r.mes ?? '').trim(); // <- rref (não “ref”)\n  const venc = String(r.vencimento ?? '').trim();\n  const valN = toNum(r.valor ?? r.valorFaturado ?? r.total);\n  const token = 'T.' + b64u.enc({ m: codigoLigacao, r: rref }); // base64url {m,r}\n  return { token, ref: rref, venc, valN, idx };\n});\n\n// 12 botões por mensagem\nconst batches = chunk(norm, 12);\nconst out = [];\n\nfor (let b = 0; b < batches.length; b++) {\n  const batch = batches[b];\n\n  const message = b === 0\n    ? '📄 *Faturas em aberto*\\n\\nAqui estão as suas faturas *mais recentes*.\\nListamos no máximo 12 para facilitar sua visualização'\n    : 'Mais opções';\n\n  const buttonList = {\n    buttons: batch.map((f, i) => ({\n      id: `fat_sel_${f.token}`,\n      // use f.ref aqui (nada de “ref” solto)\n      label: `${i+1}) ${f.ref} · ${money(f.valN)}`.slice(0, 20)\n    }))\n  };\n\n  out.push({ json: { phone, message, buttonList }, pairedItem: [{ item: 0 }] });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        3152
      ],
      "id": "9751cca3-4eea-4020-86af-40df8ed1fe7a",
      "name": "Preparar Lista - Faturas em Aberto"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "552c6e23-e71b-4b3e-ba9d-747a56d5978e",
              "leftValue": "={{ $('Normalizador de Clique').item.json.isInvoiceClickPagas }}",
              "rightValue": "fat_sel",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "035c3855-9a4a-4ae3-9642-c957355e1d32",
      "name": "É clique de faturas pagas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2048,
        4768
      ]
    },
    {
      "parameters": {
        "jsCode": "// PROBE: inspeciona faturasMap[token] no momento do clique\nconst WEBHOOK_NODE = \"Receber mensagem\";\nconst get = (o,p) => p.split('.').reduce((a,k)=> (a && a[k]!==undefined ? a[k] : null), o || null);\nconst parseMaybe = v => (typeof v === 'string' ? (v.trim() ? JSON.parse(v) : {}) : (v || {}));\n\nconst W = $item(0).$node[WEBHOOK_NODE]?.json || {};\nconst J = $json || {};\n\nconst btnId =\n  get(J,'body.buttonsResponseMessage.buttonId') ||\n  get(J,'buttonsResponseMessage.buttonId') ||\n  get(J,'message.content.data.button.id') ||\n  get(W,'body.buttonsResponseMessage.buttonId') ||\n  get(W,'buttonsResponseMessage.buttonId') ||\n  get(W,'message.content.data.button.id') || '';\n\nconst m = String(btnId).trim().match(/^fatpaga_sel_(.+)$/);\nconst token = m ? m[1] : null;\n\nconst rawData = get(J,'session.data') ?? J.data_json ?? get(J,'_session.data') ??\n                get(W,'session.data') ?? W.data_json ?? get(W,'_session.data') ?? {};\nconst data = parseMaybe(rawData);\nconst f = (token && data.faturasMap) ? data.faturasMap[token] : null;\n\nreturn [{\n  json: {\n    token,\n    hasMap: !!data.faturasMap,\n    fatura: f || null\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        4848
      ],
      "id": "17265211-d4bc-46ac-9623-1afed9af8dce",
      "name": "Montar lista de faturas pagas"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// AÇÕES DA FATURA — gera 3 botões com o mesmo TOKEN (stateless)\n// Run once for each item\ntry {\n  const matricula = $('É clique de faturas pagas').item.json.data_json.codigoLigacao;\n  const phone = $('É clique de faturas pagas').item.json.phone;\n  let mensagem = $('É clique de faturas pagas').item.json.message.content.data.text;\n  const referencia = mensagem.match(/(\\d{2}\\/\\d{4})/)?.[1];\n\nreturn { json: { phone, action:'gen_pdf', pdfRequest: { matricula, referencia } }, pairedItem: [{ item: 0 }] };\n}catch (e) {\n  return { json: { phone:null, action:'noop', message:`erro ao selecionar fatura paga` }, pairedItem: [{ item: 0 }] };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        5024
      ],
      "id": "1c693e87-2fd9-44f3-b332-ec63bd5c63e7",
      "name": "Ações das faturas pagas"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// AÇÕES DA FATURA — gera 3 botões com o mesmo TOKEN (stateless)\n// Run once for each item\ntry {\n  const WEBHOOK_NODE = \"Receber mensagem\";\n  const get = (o,p)=>p.split('.').reduce((a,k)=> (a&&a[k]!==undefined?a[k]:null), o||null);\n\n  const W = $item(0).$node[WEBHOOK_NODE]?.json || {};\n  const J = $json || {};\n\n  const phone = J.phone ?? get(J,'message.content.data.phone') ?? get(J,'body.phone') ?? get(W,'body.phone') ?? null;\n\n  let clickId =\n    get(J,'body.buttonsResponseMessage.buttonId') ||\n    get(J,'buttonsResponseMessage.buttonId') ||\n    get(J,'message.content.data.button.id') ||\n    get(W,'body.buttonsResponseMessage.buttonId') ||\n    get(W,'buttonsResponseMessage.buttonId') ||\n    get(W,'message.content.data.button.id') || '';\n\n  clickId = String(clickId).trim();\n  if (!clickId.startsWith('fat_sel_')) {\n    return { json: { phone, message: 'Selecione uma fatura primeiro.', buttonList: null }, pairedItem: [{ item: 0 }] };\n  }\n\n  const token = clickId.slice('fat_sel_'.length);\n\n  const buttonList = {\n    buttons: [\n      { id: `fat_act_pix_${token}`,  label: \"Copiar QRCode PIX ❖\" },\n      { id: `fat_act_bar_${token}`,  label: \"Copiar Código de barras 𝄃𝄃𝄂𝄂𝄀𝄁𝄃𝄂𝄂𝄃\" },\n      { id: `fat_act_pdf_${token}`,  label: \"Baixar fatura ⬇️\" }\n    ]\n  };\n\n  return {\n    json: { phone, message: 'O que deseja realizar ?', buttonList },\n    pairedItem: [{ item: 0 }]\n  };\n\n} catch (e) {\n  return { json: { phone: null, message: `erro ao preparar ações: ${String(e?.message||e)}`, buttonList: null }, pairedItem: [{ item: 0 }] };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        5184
      ],
      "id": "123e3655-435c-4703-9d06-732a12410a52",
      "name": "Ações das faturas em aberto"
    },
    {
      "parameters": {
        "jsCode": "// PROBE: inspeciona faturasMap[token] no momento do clique\nconst WEBHOOK_NODE = \"Receber mensagem\";\nconst get = (o,p) => p.split('.').reduce((a,k)=> (a && a[k]!==undefined ? a[k] : null), o || null);\nconst parseMaybe = v => (typeof v === 'string' ? (v.trim() ? JSON.parse(v) : {}) : (v || {}));\n\nconst W = $item(0).$node[WEBHOOK_NODE]?.json || {};\nconst J = $json || {};\n\nconst btnId =\n  get(J,'body.buttonsResponseMessage.buttonId') ||\n  get(J,'buttonsResponseMessage.buttonId') ||\n  get(J,'message.content.data.button.id') ||\n  get(W,'body.buttonsResponseMessage.buttonId') ||\n  get(W,'buttonsResponseMessage.buttonId') ||\n  get(W,'message.content.data.button.id') || '';\n\nconst m = String(btnId).trim().match(/^fat_(?:sel|act_[a-z]+)_(.+)$/);\nconst token = m ? m[1] : null;\n\nconst rawData = get(J,'session.data') ?? J.data_json ?? get(J,'_session.data') ??\n                get(W,'session.data') ?? W.data_json ?? get(W,'_session.data') ?? {};\nconst data = parseMaybe(rawData);\nconst f = (token && data.faturasMap) ? data.faturasMap[token] : null;\n\nreturn [{\n  json: {\n    token,\n    hasMap: !!data.faturasMap,\n    fatura: f || null,\n    fields: f ? {\n      qrCode: !!(f.qrCode || f.qrcode),\n      linhaDigitavel: !!(f.linhaDigitavel || f.linha_digitavel),\n      codigoBarras: !!(f.codigoBarras || f.codigo_barras)\n    } : null\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        5104
      ],
      "id": "58a0aa47-88fe-45c9-b6ee-f2560866c8bf",
      "name": "Montar lista de faturas em aberto"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendButtonList}}",
        "options": {
          "fullResponse": true,
          "splitIntoItems": false
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "buttonList",
              "value": "={{ $json.buttonList }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Apresentar faturas em aberto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1472,
        5296
      ],
      "id": "eaad8631-8e46-473b-9d6a-264e0ba94dd1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "552c6e23-e71b-4b3e-ba9d-747a56d5978e",
              "leftValue": "={{ $('Normalizador de Clique').item.json.isActionClickAbertas }}",
              "rightValue": "fat_act",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "56d6f3d9-a58d-46b8-ab0c-255bfe8d59d0",
      "name": "É clique de ação de faturas em aberto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1744,
        4512
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// HANDLER AÇÕES (pix/bar/pdf) — stateless, com fallback para matrícula\ntry {\n  const WEBHOOK_NODE = \"Receber mensagem\";\n  const get = (o,p)=>p.split('.').reduce((a,k)=> (a&&a[k]!==undefined?a[k]:null), o||null);\n  const b64uDec = s => {\n    const pad = s.length % 4 === 2 ? '==' : s.length % 4 === 3 ? '=' : '';\n    const b64 = s.replace(/-/g,'+').replace(/_/g,'/') + pad;\n    return JSON.parse(Buffer.from(b64,'base64').toString('utf8'));\n  };\n\n  const W = $item(0).$node[WEBHOOK_NODE]?.json || {};\n  const J = $json || {};\n  const phone = J.phone ?? get(J,'message.content.data.phone') ?? get(J,'body.phone') ?? get(W,'body.phone') ?? null;\n\n  const btnId =\n    get(J,'body.buttonsResponseMessage.buttonId') ||\n    get(J,'buttonsResponseMessage.buttonId') ||\n    get(J,'message.content.data.button.id') ||\n    get(W,'body.buttonsResponseMessage.buttonId') ||\n    get(W,'buttonsResponseMessage.buttonId') ||\n    get(W,'message.content.data.button.id') || '';\n\n  const mId = String(btnId).trim().match(/^fat_act_(pix|bar|pdf)_(.+)$/);\n  if (!mId) return { json: { phone, action:'noop', message:'ação não reconhecida.' }, pairedItem: [{ item: 0 }] };\n\n  const kind = mId[1];\n  const tok  = mId[2];\n\n  let matricula = null, referencia = null;\n\n  // T.{base64url:{m,r}}\n  const mTokA = tok.match(/^T\\.(.+)$/);\n  if (mTokA) {\n    try { const pay = b64uDec(mTokA[1]) || {};\n      matricula  = pay.m ?? null;\n      referencia = (pay.r || '').replace('-', '/');\n    } catch {}\n  }\n\n  // fallback de referência: MM-AAAA(_...)\n  if (!referencia) {\n    const mc = tok.match(/^(\\d{2})-(\\d{4})(?:_.+)?$/);\n    if (mc) referencia = `${mc[1]}/${mc[2]}`;\n  }\n\n  // fallback de matrícula: webhook.session.data.codigoLigacao\n  if (!matricula) {\n    matricula =\n      get(J,'session.data.codigoLigacao') ||\n      get(W,'session.data.codigoLigacao') || null;\n  }\n\n  if (!referencia) {\n    return { json: { phone, action:'send_text', message:'Não consegui identificar a referência da fatura. Liste novamente.' }, pairedItem: [{ item: 0 }] };\n  }\n\n  if (kind === 'pdf') {\n    return { json: { phone, action:'gen_pdf', pdfRequest: { matricula, referencia } }, pairedItem: [{ item: 0 }] };\n  }\n\n  // pix/bar → reconsulta detalhe da fatura (matricula opcional; se sua API exigir, já virá preenchida pelo passo 1)\n  return { json: { phone, action:'fetch_detail', detailRequest: { matricula, referencia, want: kind } }, pairedItem: [{ item: 0 }] };\n\n} catch (e) {\n  return { json: { phone:null, action:'noop', message:`erro no handler: ${String(e?.message||e)}` }, pairedItem: [{ item: 0 }] };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        4544
      ],
      "id": "dc33d951-55d4-49be-882d-589eec245f1c",
      "name": "Montar opções da fatura selecionada (Em Aberto)"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// PREPARAR PDF PARA Z-API — gera 3 payloads possíveis\n// MODO: Run once for each item\n\ntry {\n  const get = (o,p)=>p.split('.').reduce((a,k)=> (a && a[k]!==undefined ? a[k] : null), o || null);\n\n  // 1) phone: busque em locais confiáveis do seu flow\n  const phoneRaw =\n    $json.phone ||\n    get($item(0).$node[\"Ações das faturas pagas\"]?.json || {}, \"phone\") ||\n    get($item(0).$node[\"Receber mensagem\"]?.json || {}, \"body.phone\") ||\n    null;\n\n  const phone = phoneRaw ? String(phoneRaw).replace(/\\D/g,'') : null;\n\n  // 2) referência para nome do arquivo\n  const referencia =\n    $json.referencia ||\n    get($item(0).$node[\"Ações das faturas pagas\"]?.json || {}, \"pdfRequest.referencia\") ||\n    \"fatura\";\n\n  // 3) capturar base64 de forma tolerante\n  let raw = null;\n\n  // Se o HTTP está em \"Response Format = String\", $json costuma ser **string**\n  if (typeof $json === \"string\") raw = $json;\n  if (!raw && typeof $json?.body === \"string\") raw = $json.body;\n\n  // fallback caso sua API às vezes venha em JSON\n  if (!raw) {\n    raw =\n      $json.pdfBase64 || $json.base64 || $json.fileBase64 || $json.documentBase64 ||\n      $json.data || $json.content || $json.pdf || null;\n  }\n\n  if (!phone || !raw) {\n    return {\n      json: {\n        ok: false,\n        reason: !phone ? \"phone_missing\" : \"base64_missing\",\n        phone: phone || null\n      }\n    };\n  }\n\n  // 4) limpar prefixo e espaços/quebras; re-pad opcional\n  let base64 = String(raw).trim()\n    .replace(/^data:.*?;base64,/i, \"\")\n    .replace(/\\s+/g, \"\");\n\n  // checagem: parece PDF?\n  const looksPdf = base64.startsWith(\"JVBER\");\n  // bytes estimados: 3/4 do length\n  const approxBytes = Math.floor(base64.length * 3 / 4);\n  const approxMB = (approxBytes / (1024*1024)).toFixed(2);\n\n  // limite típico do WhatsApp ~16 MB\n  const tooBig = approxBytes > 16 * 1024 * 1024;\n\n  const fileName = `Fatura_${String(referencia).replace(/\\W+/g,'-')}.pdf`;\n  const caption  = `✅ Fatura ${referencia}`;\n  const mimeType = \"application/pdf\";\n\n  // montagem de 3 payloads possíveis (escolha UM nos HTTPs abaixo)\n  const payloadA = { // A) \"flat\" — muitas instâncias usam /send-file-from-base64\n    phone, fileName, base64, caption, mimeType\n  };\n  const payloadB = { // B) objeto document\n    phone, document: { fileName, base64, mimeType }, caption\n  };\n  const payloadC = { // C) algumas exigem campo \"file\" no lugar de \"base64\"\n    phone, fileName, file: base64, caption, mimeType\n  };\n\n  return {\n    json: {\n      ok: !tooBig,\n      warn: tooBig ? `PDF ~${approxMB}MB pode ultrapassar limite do WhatsApp` : null,\n      looksPdf,\n      approxMB,\n      payloadA,\n      payloadB,\n      payloadC\n    }\n  };\n\n} catch (e) {\n  return { json: { ok: false, error: `prep_fail: ${String(e?.message || e)}` } };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        5200
      ],
      "id": "827f5157-586e-4a40-a971-6c871fdb140d",
      "name": "Montar PDF de fatura paga"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// PREPARAR PDF PARA Z-API — gera 3 payloads possíveis\n// MODO: Run once for each item\n\ntry {\n  const get = (o,p)=>p.split('.').reduce((a,k)=> (a && a[k]!==undefined ? a[k] : null), o || null);\n\n  // 1) phone: busque em locais confiáveis do seu flow\n  const phoneRaw =\n    $json.phone ||\n    get($item(0).$node[\"Montar opções da fatura selecionada (Em Aberto)\"]?.json || {}, \"phone\") ||\n    get($item(0).$node[\"Receber mensagem\"]?.json || {}, \"body.phone\") ||\n    null;\n\n  // sanitiza phone para E.164 (somente dígitos)\n  const phone = phoneRaw ? String(phoneRaw).replace(/\\D/g,'') : null;\n\n  // 2) referência para nome do arquivo\n  const referencia =\n    $json.referencia ||\n    get($item(0).$node[\"Montar opções da fatura selecionada (Em Aberto)\"]?.json || {}, \"pdfRequest.referencia\") ||\n    get($item(0).$node[\"Consultar Fatura por referência\"]?.json || {}, \"mesAnoReferencia\") ||\n    \"fatura\";\n\n  // 3) capturar base64 de forma tolerante\n  let raw = null;\n\n  // Se o HTTP está em \"Response Format = String\", $json costuma ser **string**\n  if (typeof $json === \"string\") raw = $json;\n  if (!raw && typeof $json?.body === \"string\") raw = $json.body;\n\n  // fallback caso sua API às vezes venha em JSON\n  if (!raw) {\n    raw =\n      $json.pdfBase64 || $json.base64 || $json.fileBase64 || $json.documentBase64 ||\n      $json.data || $json.content || $json.pdf || null;\n  }\n\n  if (!phone || !raw) {\n    return {\n      json: {\n        ok: false,\n        reason: !phone ? \"phone_missing\" : \"base64_missing\",\n        phone: phone || null\n      }\n    };\n  }\n\n  // 4) limpar prefixo e espaços/quebras; re-pad opcional\n  let base64 = String(raw).trim()\n    .replace(/^data:.*?;base64,/i, \"\")\n    .replace(/\\s+/g, \"\");\n\n  // checagem: parece PDF?\n  const looksPdf = base64.startsWith(\"JVBER\");\n  // bytes estimados: 3/4 do length\n  const approxBytes = Math.floor(base64.length * 3 / 4);\n  const approxMB = (approxBytes / (1024*1024)).toFixed(2);\n\n  // limite típico do WhatsApp ~16 MB\n  const tooBig = approxBytes > 16 * 1024 * 1024;\n\n  const fileName = `Fatura_${String(referencia).replace(/\\W+/g,'-')}.pdf`;\n  const caption  = `📄 Fatura ${referencia}`;\n  const mimeType = \"application/pdf\";\n\n  // montagem de 3 payloads possíveis (escolha UM nos HTTPs abaixo)\n  const payloadA = { // A) \"flat\" — muitas instâncias usam /send-file-from-base64\n    phone, fileName, base64, caption, mimeType\n  };\n  const payloadB = { // B) objeto document\n    phone, document: { fileName, base64, mimeType }, caption\n  };\n  const payloadC = { // C) algumas exigem campo \"file\" no lugar de \"base64\"\n    phone, fileName, file: base64, caption, mimeType\n  };\n\n  return {\n    json: {\n      ok: !tooBig,\n      warn: tooBig ? `PDF ~${approxMB}MB pode ultrapassar limite do WhatsApp` : null,\n      looksPdf,\n      approxMB,\n      payloadA,\n      payloadB,\n      payloadC\n    }\n  };\n\n} catch (e) {\n  return { json: { ok: false, error: `prep_fail: ${String(e?.message || e)}` } };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        4720
      ],
      "id": "50ffabb6-4646-419b-b992-46526f8abdb7",
      "name": "Montar PDF de fatura em aberto"
    },
    {
      "parameters": {
        "url": "={{$('Constantes').item.json.env.api.endpoints.gerarFatura}}",
        "responseFormat": "string",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "=matricula",
              "value": "={{ $('Ações das faturas pagas').item.json.pdfRequest.matricula }}"
            },
            {
              "name": "referencia",
              "value": "={{ $('Ações das faturas pagas').item.json.pdfRequest.referencia }}"
            }
          ]
        }
      },
      "name": "Gerar fatura paga",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -544,
        5184
      ],
      "id": "85f15600-4b2a-489a-9e4f-ea962df1ea41",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{$('Constantes').item.json.env.api.endpoints.gerarFatura}}",
        "responseFormat": "string",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "=matricula",
              "value": "={{ $('Gerar Fatura ?').item.json.pdfRequest.matricula }}"
            },
            {
              "name": "referencia",
              "value": "={{ $('Gerar Fatura ?').item.json.pdfRequest.referencia }}"
            }
          ]
        }
      },
      "name": "Gerar fatura em aberto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -544,
        4640
      ],
      "id": "2adbb759-a4a7-4e01-91fd-126d7f2088b0",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendText }}",
        "options": {
          "splitIntoItems": false
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "=Realizando download da fatura ..."
            },
            {
              "name": "delayTyping",
              "value": "10"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Feedback ao usuário - Baixar Fatura em aberto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -976,
        4544
      ],
      "id": "f436cc19-9db2-4aa6-88d7-2ea8be3c2a5c",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendText }}",
        "options": {
          "splitIntoItems": false
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "=Realizando download da fatura ..."
            },
            {
              "name": "delayTyping",
              "value": "10"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Feedback ao usuário - Baixar Fatura paga",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -944,
        5152
      ],
      "id": "fb6322a4-262e-406f-8b31-4b2103e5d147",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sessions (phone, flow, step, expected_ref, data_json, expires_at,phoneconectado)\nVALUES (\n  '{{$json.session.phone}}',\n  '{{$json.session.flow}}',\n  {{$json.session.step}},\n  {{ $json.session.expectedRef ? \"'\" + $json.session.expectedRef + \"'\" : \"NULL\" }},\n  CAST('{{ JSON.stringify($json.session.data || {}) }}' AS JSON),\n  '{{$json.session.expiresAt}}','{{ $json.session.phoneconectado }}'\n)\nON DUPLICATE KEY UPDATE\n  flow         = '{{$json.session.flow}}',\n  step         = {{$json.session.step}},\n  expected_ref = {{ $json.session.expectedRef ? \"'\" + $json.session.expectedRef + \"'\" : \"NULL\" }},\n  data_json ='{{ JSON.stringify($json.session.data || {}) }}',\n  expires_at   = '{{$json.session.expiresAt}}';\n",
        "options": {
          "queryReplacement": "={{$json.session.phone}}  {{$json.session.flow}}  {{$json.session.step}}  {{$json.session.expectedRef ?? null}}  {{ JSON.stringify($json.session.data ?? {}) }}  {{$json.session.expiresAt}}"
        }
      },
      "id": "70960512-5cf9-4410-8dfc-ccb9ae2e6ccb",
      "name": "Alterar Sessao 2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        4032,
        2816
      ],
      "credentials": {
        "mySql": {
          "id": "DjogxsxdXYGa9DzE",
          "name": "InovaBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sessions (phone, flow, step, expected_ref, data_json, expires_at,phoneconectado)\nVALUES (\n  '{{$json.session.phone}}',\n  '{{$json.session.flow}}',\n  {{$json.session.step}},\n  {{ $json.session.expectedRef ? \"'\" + $json.session.expectedRef + \"'\" : \"NULL\" }},\n  CAST('{{ JSON.stringify($json.session.data || {}) }}' AS JSON),\n  '{{$json.session.expiresAt}}','{{ $json.session.phoneconectado }}'\n)\nON DUPLICATE KEY UPDATE\n  flow         = '{{$json.session.flow}}',\n  step         = {{$json.session.step}},\n  expected_ref = {{ $json.session.expectedRef ? \"'\" + $json.session.expectedRef + \"'\" : \"NULL\" }},\n  data_json ='{{ JSON.stringify($json.session.data || {}) }}',\n  expires_at   = '{{$json.session.expiresAt}}';\n",
        "options": {
          "queryReplacement": "={{$json.session.phone}}  {{$json.session.flow}}  {{$json.session.step}}  {{$json.session.expectedRef ?? null}}  {{ JSON.stringify($json.session.data ?? {}) }}  {{$json.session.expiresAt}}"
        }
      },
      "id": "f77ae700-6c57-40e9-b2c6-275a8db7fda1",
      "name": "Alterar Sessão 3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        -144,
        2896
      ],
      "credentials": {
        "mySql": {
          "id": "DjogxsxdXYGa9DzE",
          "name": "InovaBot"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst j = item.json;\n\n// messageId da Z-API\nconst mid =\n  j.messageId ??\n  j.data?.messageId ??\n  j.response?.messageId ??\n  j.result?.messageId ??\n  j.id ??\n  null;\n\nconst snapSess = j._snapList?.session || {};\nconst currSess = j.session || {};\nconst merged = {\n  phone: currSess.phone ?? j._snapList?.phone ?? snapSess.phone ?? j.phone ?? null,\n  phoneconectado: currSess.phoneconectado ?? j._snapList?.phoneconectado ?? snapSess.phoneconectado ?? j.phoneconectado ?? null,\n  flow: currSess.flow ?? snapSess.flow ?? \"menu\",\n  step: currSess.step ?? snapSess.step ?? 0,\n  data:\n    currSess.data && Object.keys(currSess.data).length\n      ? currSess.data\n      : snapSess.data || {},\n  expiresAt:\n    currSess.expiresAt ??\n    snapSess.expiresAt ??\n    new Date(Date.now() + 15 * 60000).toISOString(),\n  expectedRef: currSess.expectedRef ?? null,\n};\n\nif (mid) merged.expectedRef = mid;\n\n// normaliza chavedigital: se veio na raiz, coloca dentro de data\nif (j.chavedigital != null && String(j.chavedigital).trim() !== \"\") {\n  merged.data = { ...merged.data, chavedigital: j.chavedigital };\n}\n\n// regra: se step=3 e há chavedigital, volta para 2\nconst hasChave =\n  merged.data?.chavedigital != null &&\n  String(merged.data.chavedigital).trim() !== \"\";\n\nif (merged.step === 3 && hasChave && $('Router').item.json.session.needValidateLigacao == true) {\n  merged.step = 2;\n}\n\nj.session = merged;\nj.phone = merged.phone;\n\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        3120
      ],
      "id": "cb7924df-f361-4aed-b3e6-d90530b73440",
      "name": "Repassar sessão"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst j = item.json;\n\n// messageId da Z-API\nconst mid =\n  j.messageId ??\n  j.data?.messageId ??\n  j.response?.messageId ??\n  j.result?.messageId ??\n  j.id ??\n  null;\n\nconst snapSess = j._snapList?.session || {};\nconst currSess = j.session || {};\nconst merged = {\n  phone: currSess.phone ?? j._snapList?.phone ?? snapSess.phone ?? j.phone ?? null,\n  phoneconectado: currSess.phoneconectado ?? j._snapList?.phoneconectado ?? snapSess.phoneconectado ?? j.phoneconectado ?? null,\n  flow: currSess.flow ?? snapSess.flow ?? \"menu\",\n  step: currSess.step ?? snapSess.step ?? 0,\n  data:\n    currSess.data && Object.keys(currSess.data).length\n      ? currSess.data\n      : snapSess.data || {},\n  expiresAt:\n    currSess.expiresAt ??\n    snapSess.expiresAt ??\n    new Date(Date.now() + 15 * 60000).toISOString(),\n  expectedRef: currSess.expectedRef ?? null,\n};\n\nif (mid) merged.expectedRef = mid;\n\n// normaliza chavedigital: se veio na raiz, coloca dentro de data\nif (j.chavedigital != null && String(j.chavedigital).trim() !== \"\") {\n  merged.data = { ...merged.data, chavedigital: j.chavedigital };\n}\n\n// regra: se step=3 e há chavedigital, volta para 2\nconst hasChave =\n  merged.data?.chavedigital != null &&\n  String(merged.data.chavedigital).trim() !== \"\";\n\nif (merged.step === 3 && hasChave && $('Router').item.json.session.needValidateLigacao == true) {\n  merged.step = 2;\n}\n\nj.session = merged;\nj.phone = merged.phone;\n\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3776,
        2800
      ],
      "id": "76b9483e-33f9-4f39-9c27-c99c058551a0",
      "name": "Repassar sessão 2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const DadosGravacao = {\n  ligacao: $(\"Router\").first().json.session.data.codigoLigacao ?? \"\",\n  phone: $(\"Router\").first().json.session.phone ?? \"\",\n  phoneConectado: $(\"Router\").first().json.session.phoneconectado ?? \"\",\n  observacao: \"\",\n  dataHora: new Date().toISOString(),\n  servico : 7\n};\n\nreturn DadosGravacao;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        5184
      ],
      "id": "101df4bd-cbcb-4630-88a1-5d69e57a37ea",
      "name": "Gravar - Segunda via - Paga"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const DadosGravacao = {\n  ligacao: $(\"Router\").first().json.session.data.codigoLigacao ?? \"\",\n  phone: $(\"Router\").first().json.session.phone ?? \"\",\n  phoneConectado: $(\"Router\").first().json.session.phoneconectado ?? \"\",\n  observacao: \"\",\n  dataHora: new Date().toISOString(),\n  servico : 1\n};\n\nreturn DadosGravacao;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        4720
      ],
      "id": "301b28c4-944b-43b8-9229-b76278903d1b",
      "name": "Gravar - Segunda Via - em aberto"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$('Constantes').item.json.env.api.endpoints.auditoria}}",
        "options": {
          "bodyContentCustomMimeType": "",
          "splitIntoItems": false
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "celularChatbot",
              "value": "={{ $json.phoneConectado }}"
            },
            {
              "name": "celularUsuario",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "rotina",
              "value": "={{ $json.servico }}"
            },
            {
              "name": "ligacaoId",
              "value": "={{ $json.ligacao }}"
            },
            {
              "name": "observacao",
              "value": "={{ $json.observacao }}"
            }
          ]
        }
      },
      "name": "Gravar Auditoria",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2464,
        3168
      ],
      "id": "69850471-8fbe-43bc-8d88-b7f002b385db",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst j = item.json;\n\nconst snapSess = j._snapList?.session || {};\nconst currSess = j.session || {};\n\nconst merged = {\n  phone: currSess.phone ?? j._snapList?.phone ?? snapSess.phone ?? j.phone ?? null,\n  phoneconectado: currSess.phoneconectado ?? j._snapList?.phoneconectado ?? snapSess.phoneconectado ?? j.phoneconectado ?? null,\n  flow: \"ident\",\n  step: 2,\n  data:\n    currSess.data && Object.keys(currSess.data).length\n      ? currSess.data\n      : snapSess.data || {},\n  expiresAt:\n    currSess.expiresAt ??\n    snapSess.expiresAt ??\n    new Date(Date.now() + 15 * 60000).toISOString(),\n  expectedRef: currSess.expectedRef ?? null,\n};\n\nj.session = merged;\n\nj.session.data.authOk = false;\nj.session.data.codigoLigacao = null;\nj.session.reply = `Prazer em falar com você,*` + currSess.data.nome + `!* 👋\\nPor favor, me informe o *código da ligação* (apenas os números, sem o dígito).\\n\\nSe quiser encerrar o atendimento, basta digitar *Sair* a qualquer momento.`;\n\n\nj.phone = merged.phone;\n\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        2960
      ],
      "id": "78fef516-d162-4c8b-b7f5-82bbefc5c32d",
      "name": "Montar sessão para trocar ligação"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sessions (phone, flow, step, expected_ref, data_json, expires_at,phoneconectado)\nVALUES (\n  '{{$json.session.phone}}',\n  '{{$json.session.flow}}',\n  {{$json.session.step}},\n  {{ $json.session.expectedRef ? \"'\" + $json.session.expectedRef + \"'\" : \"NULL\" }},\n  CAST('{{ JSON.stringify($json.session.data || {}) }}' AS JSON),\n  '{{$json.session.expiresAt}}','{{ $json.session.phoneconectado }}'\n)\nON DUPLICATE KEY UPDATE\n  flow         = '{{$json.session.flow}}',\n  step         = {{$json.session.step}},\n  expected_ref = {{ $json.session.expectedRef ? \"'\" + $json.session.expectedRef + \"'\" : \"NULL\" }},\n  data_json ='{{ JSON.stringify($json.session.data || {}) }}',\n  expires_at   = '{{$json.session.expiresAt}}';\n",
        "options": {
          "queryReplacement": "={{$json.session.phone}}  {{$json.session.flow}}  {{$json.session.step}}  {{$json.session.expectedRef ?? null}}  {{ JSON.stringify($json.session.data ?? {}) }}  {{$json.session.expiresAt}}"
        }
      },
      "id": "a9d728ff-0008-4986-b3a9-c44773904305",
      "name": "Alterar sessão para trocar ligação",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        800,
        2960
      ],
      "credentials": {
        "mySql": {
          "id": "DjogxsxdXYGa9DzE",
          "name": "InovaBot"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendText }}",
        "options": {
          "splitIntoItems": false
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $('Montar sessão para trocar ligação').item.json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $('Montar sessão para trocar ligação').item.json.session.reply }}"
            },
            {
              "name": "delayTyping",
              "value": "6"
            },
            {
              "name": "delayMessage",
              "value": "5"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Solicitar o novo código de ligação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        992,
        2960
      ],
      "id": "f365b015-3202-4e09-945d-dc1386ef8c3b",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendDocument }}",
        "options": {
          "bodyContentCustomMimeType": "",
          "splitIntoItems": false
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.payloadA.phone }}"
            },
            {
              "name": "document",
              "value": "={{ 'data:application/pdf;base64,' + $json.payloadA.base64 }}"
            },
            {
              "name": "fileName",
              "value": "={{ $json.payloadA.fileName }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.payloadA.caption }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Apresentar PDF fatura aberta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        464,
        4752
      ],
      "id": "32038c4d-0165-408c-84c5-84a661ac3c85",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendDocument }}",
        "options": {
          "bodyContentCustomMimeType": "",
          "splitIntoItems": false
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.payloadA.phone }}"
            },
            {
              "name": "document",
              "value": "={{ 'data:application/pdf;base64,' + $json.payloadA.base64 }}"
            },
            {
              "name": "fileName",
              "value": "={{ $json.payloadA.fileName }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.payloadA.caption }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Apresentar PDF fatura paga",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        464,
        5200
      ],
      "id": "eac2f73c-40ba-4fa8-bfdc-4802ae076efc",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node[\"Receber mensagem\"].json.body.listResponseMessage?.title \n   || $node[\"Receber mensagem\"].json.body.listResponse?.title }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "Faturas em aberto",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "Faturas pagas",
              "output": 2
            },
            {
              "operation": "contains",
              "value2": "Histórico de consumo",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 0
      },
      "name": "Resposta lista",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -64,
        3312
      ],
      "id": "566d8111-100c-45d2-9962-fadf243d5349"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node[\"Receber mensagem\"].json.body.listResponseMessage?.title \n   || $node[\"Receber mensagem\"].json.body.listResponse?.title }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "Denúncia",
              "output": 3
            },
            {
              "operation": "contains",
              "value2": "Localização",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "Trocar ligação",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 0
      },
      "name": "Resposta lista 2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        256,
        2912
      ],
      "id": "b40d3996-1180-414e-9b35-2148fd038e78"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node[\"Receber mensagem\"].json.body.listResponseMessage?.title \n   || $node[\"Receber mensagem\"].json.body.listResponse?.title }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "Falar com Atendente"
            },
            {
              "operation": "contains",
              "value2": "Sair",
              "output": 1
            }
          ]
        }
      },
      "name": "Resposta lista 3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        576,
        2528
      ],
      "id": "a77497cb-46a4-4714-9763-b2802d294725"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendText }}",
        "options": {
          "splitIntoItems": false
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $('Resposta lista 3').item.json.phone }}"
            },
            {
              "name": "message",
              "value": "={{\n\"Perfeito! 👨🏻‍💻\\nEstou transferindo sua conversa para um de nossos atendentes humanos.\\n\\nAntes de prosseguir, confirmo seus dados:\\n👤 Nome: *\" \n+ $('Resposta lista 3').item.json.session.data.nome \n+ \"*\\n📝 Código da ligação: *\" \n+ $('Resposta lista 3').item.json.session.data.codigoLigacao \n+ \"*\\n\\nPor favor, detalhe *qual é o problema ou dúvida* para que possamos agilizar seu atendimento.\\n\\nSe desejar voltar ao atendimento automatizado com o *BILL*, basta digitar *BILL* a qualquer momento.\"\n}}\n"
            },
            {
              "name": "delayTyping",
              "value": "7"
            },
            {
              "name": "delayMessage",
              "value": "6"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Mensagem de repasse ao Atendente Humano",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1424,
        2384
      ],
      "id": "2ce21e58-7b08-4464-a93d-de8447ea089a",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst j = item.json;\n\nconst snapSess = j._snapList?.session || {};\nconst currSess = j.session || {};\n\nconst merged = {\n  phone: $('Resposta lista 3').item.json.phone,\n  phoneconectado: $('Resposta lista 3').item.json.phoneconectado,\n  flow: \"humano\",\n  step: 1,\n  data:\n    currSess.data && Object.keys(currSess.data).length\n      ? currSess.data\n      : snapSess.data || {},\n  expiresAt:\n    currSess.expiresAt ??\n    snapSess.expiresAt ??\n    new Date(Date.now() + 120 * 60000).toISOString(),\n  expectedRef: currSess.expectedRef ?? null,\n};\n\nj.session = merged;\n\nj.session.data.authOk = true;\nj.session.data.codigoLigacao = $('Resposta lista 3').item.json.data_json.codigoLigacao;\nj.session.data.nome = $('Resposta lista 3').item.json.data_json.nome;\nj.session.data.chavedigital = $('Resposta lista 3').item.json.data_json.chavedigital;\nj.session.reply = ``;\n\n\nj.phone = merged.phone;\n\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        2496
      ],
      "id": "d154a2e1-bd2b-4702-8c12-f3df2834b5b0",
      "name": "Montar sessão para Atendimento Humano"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sessions (phone, flow, step, expected_ref, data_json, expires_at,phoneconectado)\nVALUES (\n  '{{$json.session.phone}}',\n  '{{$json.session.flow}}',\n  {{$json.session.step}},\n  {{ $json.session.expectedRef ? \"'\" + $json.session.expectedRef + \"'\" : \"NULL\" }},\n  CAST('{{ JSON.stringify($json.session.data || {}) }}' AS JSON),\n  '{{$json.session.expiresAt}}','{{ $json.session.phoneconectado }}'\n)\nON DUPLICATE KEY UPDATE\n  flow         = '{{$json.session.flow}}',\n  step         = {{$json.session.step}},\n  expected_ref = {{ $json.session.expectedRef ? \"'\" + $json.session.expectedRef + \"'\" : \"NULL\" }},\n  data_json ='{{ JSON.stringify($json.session.data || {}) }}',\n  expires_at   = '{{$json.session.expiresAt}}';\n",
        "options": {
          "queryReplacement": "={{$json.session.phone}}  {{$json.session.flow}}  {{$json.session.step}}  {{$json.session.expectedRef ?? null}}  {{ JSON.stringify($json.session.data ?? {}) }}  {{$json.session.expiresAt}}"
        }
      },
      "id": "556c418d-5d84-4e9e-b005-bd1dae5f920c",
      "name": "Alterar sessão para atendimento Humano",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        2016,
        2496
      ],
      "credentials": {
        "mySql": {
          "id": "DjogxsxdXYGa9DzE",
          "name": "InovaBot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6a291f2-ed97-4d5e-84e5-34c26d3c4732",
              "leftValue": "={{ String($json.flow || '').toLowerCase() }}",
              "rightValue": "humano",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "1e7c390c-8aa0-4323-9201-d13107f5b4fc",
              "leftValue": "={{ $('Receber mensagem').item.json.body.text.message.toLowerCase() }}",
              "rightValue": "=sair",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2368,
        2448
      ],
      "id": "d1e82861-3afd-44a6-b75f-010c36b4920c",
      "name": "Sessão de atendimento humano ?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6a291f2-ed97-4d5e-84e5-34c26d3c4732",
              "leftValue": "={{ $json.body.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -832,
        2448
      ],
      "id": "375b754c-4d7c-44ee-a5fd-fdca21253b70",
      "name": "Mensagem do bot ?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6a291f2-ed97-4d5e-84e5-34c26d3c4732",
              "leftValue": "={{ $json.dentroDoHorario }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        2512
      ],
      "id": "7eeb8924-e321-485e-8c2f-e9cd1475404e",
      "name": "Horário dentro do expediente humano ?"
    },
    {
      "parameters": {
        "jsCode": "// Recupera as configurações vindas do nó \"Constantes\"\nconst cfg = $('Constantes').item.json.env.api.configuracao || {};\n\n// Lê os horários de início e fim em string (\"HH:mm\")\nconst iniStr = String(cfg.HorarioAtendimentoHumanoInicio || '').trim();\nconst fimStr = String(cfg.HorarioAtendimentoHumanoFim || '').trim();\n\n// Retorno padrão (fora do horário)\nlet dentroDoHorario = false;\n\nif (/^\\d{2}:\\d{2}$/.test(iniStr) && /^\\d{2}:\\d{2}$/.test(fimStr)) {\n  const [hI, mI] = iniStr.split(':').map(Number);\n  const [hF, mF] = fimStr.split(':').map(Number);\n\n  // Hora atual de Brasília\n  const agoraBR = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' }));\n  const minutosAgora = agoraBR.getHours() * 60 + agoraBR.getMinutes();\n\n  const ini = hI * 60 + mI;\n  const fim = hF * 60 + mF;\n\n  if (ini <= fim) {\n    // Janela normal (mesmo dia)\n    dentroDoHorario = minutosAgora >= ini && minutosAgora < fim;\n  } else {\n    // Janela que cruza a meia-noite (ex: 22:00–06:00)\n    dentroDoHorario = minutosAgora >= ini || minutosAgora < fim;\n  }\n}\n\nreturn [{\n  json: {\n    dentroDoHorario: Boolean(dentroDoHorario)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        2512
      ],
      "id": "38d9e174-81f1-43f4-8e3e-b9856c7f3a84",
      "name": "Consistir horário de atendimento humano"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $('Constantes').item.json.env.endpoints.sendText }}",
        "options": {
          "splitIntoItems": false
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $('Resposta lista 3').item.json.phone }}"
            },
            {
              "name": "message",
              "value": "={{\n\"Olá! 👋🏻\\nNosso horário de atendimento humano já foi encerrado por hoje.\\n\\n⏰ Horário de atendimento: *segunda a sexta, das \" + $('Constantes').item.json.env.api.configuracao.HorarioAtendimentoHumanoInicio + \"* às *\" +\n$('Constantes').item.json.env.api.configuracao.HorarioAtendimentoHumanoFim + \"*.\\n\\nAgradecemos pela compreensão.\\n\\nSe desejar voltar ao atendimento automatizado com o *BILL*, basta digitar *BILL*.\\n\\nSe desejar encerrar o atendimento digite *sair*.\"\n}}\n"
            },
            {
              "name": "delayTyping",
              "value": "6"
            },
            {
              "name": "delayMessage",
              "value": "6"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Client-Token",
              "value": "={{ $('Constantes').item.json.env.clientTokenHeaderZapi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Mensagem de repasse ao Atendente fora do horário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1424,
        2592
      ],
      "id": "a7c95166-482c-4698-a26d-6708040ddf2e",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c796eaa6-5ecd-4b17-a672-56a59c82d61b",
              "leftValue": "={{ $('Receber mensagem').item.json.body.text.message.toLowerCase() }}",
              "rightValue": "bill",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2016,
        2272
      ],
      "id": "86403f61-ddc7-45a2-acd3-d2e4aebb350d",
      "name": "Verificar se fluxo irá voltar para o BILL"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "_session",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {}
      },
      "id": "4a716f6d-a60f-4a90-b38b-0418b80ae689",
      "name": "Setar sessão",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2640,
        2448
      ]
    }
  ],
  "connections": {
    "Monta lista recursos": {
      "main": [
        [
          {
            "node": "Imprimir Lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta lista": {
      "main": [
        [
          {
            "node": "Envia lista Opções",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Payload": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apresentar Faturas em Aberto": {
      "main": [
        [
          {
            "node": "Não há faturas em aberto ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar LIgação": {
      "main": [
        [
          {
            "node": "Passar Session",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Passar Session",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Histórico de consumo": {
      "main": [
        [
          {
            "node": "Formatar histórico de consumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar histórico de consumo": {
      "main": [
        [
          {
            "node": "Apresentar historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Confirmação": {
      "main": [
        [
          {
            "node": "Gravar - Ouvidoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processa Ouvidoria ?": {
      "main": [
        [
          {
            "node": "Gravar ouvidoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Individual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recriar session": {
      "main": [
        [
          {
            "node": "Repassar sessão 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Recriar session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Snapshot Sessão (Confirm)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Encerramento": {
      "main": [
        [
          {
            "node": "Deletar sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encerrar Atendimento ?": {
      "main": [
        [
          {
            "node": "Mensagem Encerramento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Snapshot Sessão Texto",
            "type": "main",
            "index": 0
          },
          {
            "node": "Precisa Validar Ligação ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abrir Menu ?": {
      "main": [
        [
          {
            "node": "Monta lista recursos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Pergunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encerramento/Voltar": {
      "main": [
        [
          {
            "node": "Snapshot Sessão (Confirm)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mensagem final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta vem de Lista": {
      "main": [
        [
          {
            "node": "Resposta lista",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Monta lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imprimir Lista": {
      "main": [
        [
          {
            "node": "Merge Lista + Sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Snapshot Sessão Lista": {
      "main": [
        [
          {
            "node": "Abrir Menu ?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Lista + Sessão",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Snapshot Sessão Texto": {
      "main": [
        [
          {
            "node": "Merge Texto + Sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Texto + Sessão": {
      "main": [
        [
          {
            "node": "Repassar sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Lista + Sessão": {
      "main": [
        [
          {
            "node": "Repassar sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apresentar historico": {
      "main": [
        [
          {
            "node": "Gravar - Histórico de Consumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passar Session": {
      "main": [
        [
          {
            "node": "Processa Validação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autenticado ?": {
      "main": [
        [
          {
            "node": "É clique de faturas em aberto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Encerrar Atendimento ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Codigo": {
      "main": [
        [
          {
            "node": "Passar Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Precisa Validar Ligação ?": {
      "main": [
        [
          {
            "node": "Setar Codigo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Feedback ao usuário - Baixar Fatura1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tem reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processa Validação": {
      "main": [
        [
          {
            "node": "Snapshot Sessão Lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Pergunta": {
      "main": [
        [
          {
            "node": "Merge Texto + Sessão",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tem reply?": {
      "main": [
        [
          {
            "node": "Enviar Pergunta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Autenticado ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Sessão": {
      "main": [
        [
          {
            "node": "Setar sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem final": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Constantes": {
      "main": [
        [
          {
            "node": "Select Sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia Localização": {
      "main": [
        [
          {
            "node": "Gravar - Localização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receber mensagem": {
      "main": [
        [
          {
            "node": "Normalizador de Clique",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Constantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem enviada pelo Bot": {
      "main": [
        [
          {
            "node": "Resposta vem de Lista",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Individual": {
      "main": [
        [
          {
            "node": "Mensagem enviada pelo Bot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Faturas em Aberto": {
      "main": [
        [
          {
            "node": "Preparar Lista - Faturas em Aberto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Fatura ?": {
      "main": [
        [
          {
            "node": "Feedback ao usuário - Baixar Fatura em aberto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feedback ao usuário - PIX/Barras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizador de Clique": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Fatura por referência": {
      "main": [
        [
          {
            "node": "Montar resposta Pix/Barras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar resposta Pix/Barras": {
      "main": [
        [
          {
            "node": "Apresentar PIX/Barras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apresentar PIX/Barras": {
      "main": [
        [
          {
            "node": "Gravar - PIX ou Barras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback ao usuário - Faturas em aberto": {
      "main": [
        [
          {
            "node": "Faturas em Aberto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback ao usuário - PIX/Barras": {
      "main": [
        [
          {
            "node": "Consultar Fatura por referência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback ao usuário - Historico": {
      "main": [
        [
          {
            "node": "Histórico de consumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback ao usuário - Baixar Fatura1": {
      "main": [
        [
          {
            "node": "Validar LIgação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar - Histórico de Consumo": {
      "main": [
        [
          {
            "node": "Gravar Auditoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar - Localização": {
      "main": [
        [
          {
            "node": "Gravar Auditoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar - Ouvidoria": {
      "main": [
        [
          {
            "node": "Gravar Auditoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar - PIX ou Barras": {
      "main": [
        [
          {
            "node": "Gravar Auditoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar ouvidoria": {
      "main": [
        [
          {
            "node": "Enviar Confirmação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não há faturas em aberto ?": {
      "main": [
        [
          {
            "node": "Encerramento/Voltar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback ao usuário - Faturas pagas": {
      "main": [
        [
          {
            "node": "Faturas Pagas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Faturas Pagas": {
      "main": [
        [
          {
            "node": "Preparar Lista - Faturas Pagas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Lista - Faturas Pagas": {
      "main": [
        [
          {
            "node": "Apresentar Faturas pagas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apresentar Faturas pagas": {
      "main": [
        [
          {
            "node": "Não há faturas pagas ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não há faturas pagas ?": {
      "main": [
        [
          {
            "node": "Encerramento/Voltar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É clique de faturas em aberto": {
      "main": [
        [
          {
            "node": "Montar lista de faturas em aberto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É clique de faturas pagas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Lista - Faturas em Aberto": {
      "main": [
        [
          {
            "node": "Apresentar Faturas em Aberto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É clique de faturas pagas": {
      "main": [
        [
          {
            "node": "Montar lista de faturas pagas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É clique de ação de faturas em aberto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar lista de faturas pagas": {
      "main": [
        [
          {
            "node": "Ações das faturas pagas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ações das faturas pagas": {
      "main": [
        [
          {
            "node": "Feedback ao usuário - Baixar Fatura paga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ações das faturas em aberto": {
      "main": [
        [
          {
            "node": "Apresentar faturas em aberto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar lista de faturas em aberto": {
      "main": [
        [
          {
            "node": "Ações das faturas em aberto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É clique de ação de faturas em aberto": {
      "main": [
        [
          {
            "node": "Montar opções da fatura selecionada (Em Aberto)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Processa Ouvidoria ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar opções da fatura selecionada (Em Aberto)": {
      "main": [
        [
          {
            "node": "Gerar Fatura ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar PDF de fatura paga": {
      "main": [
        [
          {
            "node": "Apresentar PDF fatura paga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar PDF de fatura em aberto": {
      "main": [
        [
          {
            "node": "Apresentar PDF fatura aberta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar fatura paga": {
      "main": [
        [
          {
            "node": "Montar PDF de fatura paga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar fatura em aberto": {
      "main": [
        [
          {
            "node": "Montar PDF de fatura em aberto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback ao usuário - Baixar Fatura em aberto": {
      "main": [
        [
          {
            "node": "Gerar fatura em aberto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback ao usuário - Baixar Fatura paga": {
      "main": [
        [
          {
            "node": "Gerar fatura paga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repassar sessão": {
      "main": [
        [
          {
            "node": "Alterar Sessão 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repassar sessão 2": {
      "main": [
        [
          {
            "node": "Alterar Sessao 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar - Segunda via - Paga": {
      "main": [
        [
          {
            "node": "Gravar Auditoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar - Segunda Via - em aberto": {
      "main": [
        [
          {
            "node": "Gravar Auditoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Auditoria": {
      "main": [
        [
          {
            "node": "Encerramento/Voltar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar sessão para trocar ligação": {
      "main": [
        [
          {
            "node": "Alterar sessão para trocar ligação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alterar sessão para trocar ligação": {
      "main": [
        [
          {
            "node": "Solicitar o novo código de ligação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apresentar PDF fatura aberta": {
      "main": [
        [
          {
            "node": "Gravar - Segunda Via - em aberto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apresentar PDF fatura paga": {
      "main": [
        [
          {
            "node": "Gravar - Segunda via - Paga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta lista": {
      "main": [
        [
          {
            "node": "Resposta lista 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feedback ao usuário - Faturas em aberto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feedback ao usuário - Faturas pagas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feedback ao usuário - Historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta lista 2": {
      "main": [
        [
          {
            "node": "Resposta lista 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia Localização",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Montar sessão para trocar ligação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta lista 3": {
      "main": [
        [
          {
            "node": "Consistir horário de atendimento humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de repasse ao Atendente Humano": {
      "main": [
        [
          {
            "node": "Montar sessão para Atendimento Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar sessão para Atendimento Humano": {
      "main": [
        [
          {
            "node": "Alterar sessão para atendimento Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sessão de atendimento humano ?": {
      "main": [
        [
          {
            "node": "Verificar se fluxo irá voltar para o BILL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem do bot ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem do bot ?": {
      "main": [
        [],
        [
          {
            "node": "Get Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Horário dentro do expediente humano ?": {
      "main": [
        [
          {
            "node": "Mensagem de repasse ao Atendente Humano",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem de repasse ao Atendente fora do horário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consistir horário de atendimento humano": {
      "main": [
        [
          {
            "node": "Horário dentro do expediente humano ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de repasse ao Atendente fora do horário": {
      "main": [
        [
          {
            "node": "Montar sessão para Atendimento Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar se fluxo irá voltar para o BILL": {
      "main": [
        [
          {
            "node": "Mensagem do bot ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar sessão": {
      "main": [
        [
          {
            "node": "Sessão de atendimento humano ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "80a7f697-cc8f-4f47-a577-da505d667b85",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-18T17:40:50.000Z",
      "createdAt": "2025-09-18T17:40:50.000Z",
      "role": "workflow:owner",
      "workflowId": "zovCAFtobSZXYXXY",
      "projectId": "bDUBly1zU3yziLIn"
    }
  ],
  "tags": []
}