backups/workflows/C9TZ6eGp3SIruhT1.json
{
  "createdAt": "2025-09-09T20:51:37.362Z",
  "updatedAt": "2025-09-19T11:57:32.000Z",
  "id": "C9TZ6eGp3SIruhT1",
  "name": "Modulo IA - IManager Historias",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "cddd494e-11c4-46e4-8030-e4a1d92d78b2",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -2992,
        -576
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "6fae917c-fdd0-453a-858f-e75e7ebd0fe7",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -2176,
        -576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "cd31a245-cca2-42a3-acb3-a2657b9a4368",
      "name": "Extract data from file",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -3600,
        -816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Basta digitar o que deseja, como por exemplo: 'Listar todos os meus clientes contratuais'.\"\n\"O sistema interpretará sua solicitação, montará a query e trará os resultados.",
        "options": {
          "subtitle": "Sua interface inteligente para transformar linguagem de negócio em resultados de dados.",
          "title": "Bem-vindo(a) ao QueryBot !!!"
        }
      },
      "id": "2e190745-4d12-48d3-885f-80d9f1f58e23",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -4048,
        -816
      ],
      "webhookId": "887d99fa-acde-4229-9638-d8e3b8de659c",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Here is the database schema: {{ $json.schema }}\nHere is the user request: {{ $('Chat Trigger').item.json.chatInput }}",
        "options": {
          "humanMessage": "TOOLS\n------\nAssistant can ask the user to use tools to look up information that may be helpful in answering the users original question. The tools the human can use are:\n\n{tools}\n\n{format_instructions}\n\nUSER'S INPUT\n--------------------\nHere is the user's input (remember to respond with a markdown code snippet of a json blob with a single action, and NOTHING else):\n\n{{input}}",
          "systemMessage": "=Você é um gerador de SQL para MySQL 8.0+ guiado por um JSON de esquema chamado SCHEMA.\n\nREGRAS\n- Use apenas tabelas de SCHEMA.tabelas[*].nome e colunas de SCHEMA.tabelas[*].colunas[*].nome.\n- JOINS só são permitidos se existirem em SCHEMA.relacionamentos (from=\"A.x\", to=\"B.y\"). Aceite A->B ou B->A. Se não houver caminho direto, use tabela ponte. Se não houver caminho, explique e não gere SQL.\n- Se alguma tabela, coluna ou join não existir, explique e PARE (não invente).\n- Dialeto: MySQL 8.0. Use crases (`tabela`.`coluna`). Evite SELECT *; escolha colunas necessárias. Para contagens, use COUNT(*).\n- NUNCA use funções de janela (ROW_NUMBER, LAG, LEAD, etc.) em WHERE, HAVING, JOIN ON ou GROUP BY. Se precisar delas, calcule em subquery/CTE e filtre fora.\n- Sempre verifique antes de gerar SQL: tabelas existem? colunas existem? joins existem? Se falhar, não gere SQL.\n\nFORMATO DE RESPOSTA\n- Apenas a query Gerada\n\nEXEMPLOS (Few-shots)\n\nUsuário: Quantos negócios em aberto existem no funil do produto InovaPay?\nAssistente:\nDescrição curta: Conta negócios em `pipeline_negocio`, liga a `produto` via `pipeline_negocio_produto`.\n```sql\nSELECT COUNT(*) AS Negocios_Em_Aberto\nFROM `pipeline_negocio` pn\nJOIN `pipeline_negocio_produto` pnp\n  ON pnp.`Negoc_Codigo` = pn.`Negoc_Codigo`\nJOIN `produto` p\n  ON p.`Prod_Codigo` = pnp.`Prod_Codigo`\nWHERE p.`Prod_Descricao` = 'InovaPay'\n  AND pn.`Negoc_Data_Final_Etapa` IS NULL;\n\nUsuário: Junte pipeline_negocio direto em produto e conte os abertos.\nAssistente:\nDescrição curta: Não é possível montar esse SQL. O SCHEMA não define relacionamento direto entre pipeline_negocio e produto.\nO caminho correto é via pipeline_negocio_produto.\nNenhuma SQL gerada."
        }
      },
      "id": "dc04ae34-5bf5-4ab8-9f31-426a80edc247",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -3088,
        -816
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42abd24e-419a-47d6-bc8b-7146dd0b8314",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $('Chat Trigger').first().json.sessionId }}"
            },
            {
              "id": "39244192-a1a6-42fe-bc75-a6fba1f264df",
              "name": "action",
              "type": "string",
              "value": "={{ $('Chat Trigger').first().json.action }}"
            },
            {
              "id": "f78c57d9-df13-43c7-89a7-5387e528107e",
              "name": "chatinput",
              "type": "string",
              "value": "={{ $('Chat Trigger').first().json.chatInput }}"
            },
            {
              "id": "e42b39eb-dfbd-48d9-94ed-d658bdd41454",
              "name": "schema",
              "type": "string",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8eef60ea-0750-4e65-82df-d41a447fc224",
      "name": "Combine schema data and chat input",
      "type": "n8n-nodes-base.set",
      "position": [
        -3360,
        -816
      ],
      "executeOnce": true,
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ebbe194a-4b8b-44c9-ac19-03cf69d353bf",
              "name": "query",
              "type": "string",
              "value": "={{ ($json.output) }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "00cb44f8-694d-4068-a0ca-bbf8aaa15729",
      "name": "Extract SQL query",
      "type": "n8n-nodes-base.set",
      "position": [
        -2704,
        -816
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2963d04d-9d79-49f9-b52a-dc8732aca781",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.query }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e501f079-3b6f-4e40-bf9b-16f6fb11b16c",
      "name": "Check if query exists",
      "type": "n8n-nodes-base.if",
      "position": [
        -2448,
        -816
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f944d21f-6aac-4842-8926-4108d6cad4bf",
              "name": "sqloutput",
              "type": "string",
              "value": "={{ Object.keys($jmespath($input.all(),'[].json')[0]).join(' | ') }} \n{{ ($jmespath($input.all(),'[].json')).map(obj => Object.values(obj).join(' | ')).join('\\n') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6e4d195e-498b-4b5a-93ae-877ca4a1e481",
      "name": "Format query results",
      "type": "n8n-nodes-base.set",
      "position": [
        -1984,
        -1024
      ],
      "executeOnce": true,
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "id": "caeb96d6-1fd5-490e-ab36-20ce58e2c574",
      "name": "Run SQL query",
      "type": "n8n-nodes-base.mySql",
      "position": [
        -2192,
        -1024
      ],
      "typeVersion": 2.4,
      "credentials": {
        "mySql": {
          "id": "ibMc1UUku1ELHHBe",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa55e186-1535-4923-aee4-e088ca69575b",
              "name": "output",
              "type": "string",
              "value": "=SQL result:\n```markdown\n{{ $('Combine query result and chat answer').item.json.sqloutput }}\n```\n\n\n\n\n📊 Resultado disponível também em HTML:\n👉 [Clique aqui para visualizar !!! ]({{$json.url}})"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "bd13e8af-066a-424b-a1b5-b0933f17ae3d",
      "name": "Prepare final output",
      "type": "n8n-nodes-base.set",
      "position": [
        -1088,
        -432
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "49d09c87-5d0d-4315-ab17-6dd8f41841d7",
      "name": "Combine query result and chat answer",
      "type": "n8n-nodes-base.merge",
      "position": [
        -1776,
        -816
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "maxTokens": 1024,
          "temperature": 0.2
        }
      },
      "id": "d2f3dbe2-db15-4b99-85a6-fd6d465fbd86",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -3088,
        -576
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "H4HnbIJCN7JE8cR5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1n46yCelS2rlZWHshhjN0G5ReMGd2SZvu",
          "mode": "list",
          "cachedResultName": "json_atendimento_solicitacao_historias.json",
          "cachedResultUrl": "https://drive.google.com/file/d/1n46yCelS2rlZWHshhjN0G5ReMGd2SZvu/view?usp=drivesdk"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3824,
        -816
      ],
      "id": "a67a3c5a-840a-4995-85ca-551191782604",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "A7dItjE7OWcTVPSQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gera ID e garante que o texto entre com o nome correto\nconst id = (Date.now().toString(36) + Math.random().toString(36).slice(2, 8)).toUpperCase();\n\n// Tenta achar o texto em vários campos, priorizando 'sqloutput'\nconst text =\n  String(\n    $input.first().json.sqloutput??\n    \"\"\n  );\n\nreturn [{\n  json: {\n    id,\n    text,            // <- daqui em diante usamos SEMPRE $json.text\n    sqloutput: text  // (opcional) mantém também em sqloutput pra sua resposta em texto\n  }\n}];\n"
      },
      "id": "47bd099c-f2d2-4e75-a027-b4cd0a291eb1",
      "name": "Code — Gerar ID + passar texto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        -816
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===== ENTRADAS ESPERADAS =====\n// $json.id   -> gerado no nó \"Gerar ID + passar texto\"\n// $json.text -> texto com pipes (1ª linha = cabeçalhos)\n// $json.logoUrl (opcional) -> URL do logo a exibir\n\nconst id = String($input.first().json.id || \"\");\nconst rawText = String($input.first().json.text || \"\");\nconst logoUrl = \"https://inovamobil.com.br/wp-content/uploads/2023/06/Inovamobil-branco.svg\";\n\n// >>> ajuste aqui se sua instância usa base path (ex.: \"/n8n\")\nconst BASE_PATH = \"\"; // ex.: \"/n8n\"   | deixe \"\" se não houver base path\nconst HOST = \"https://n8n.srv954202.hstgr.cloud\"; // seu domínio público do n8n\n\n// funções utilitárias\nfunction escForTemplate(s) {\n  return String(s)\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/`/g, '\\\\`')\n    .replace(/\\$\\{/g, '\\\\${');\n}\nconst RAW = escForTemplate(rawText);\n\nconst fileName = `visualizador_${id}.html`;\nconst urlCsv = `${HOST}${BASE_PATH}/webhook/visualizar-csv?id=${id}`;\nconst urlXls = `${HOST}${BASE_PATH}/webhook/visualizar-xls?id=${id}`;\n\nconst html = `<!doctype html>\n<html lang=\"pt-br\">\n<head>\n  <meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>Tabela — Visualização + Exportar</title>\n  <style>\n    :root{ --bg:#0b0e14; --card:#121826; --muted:#a5b1c2; --text:#e6edf3; --border:#273043; --highlight:#1e293b; }\n    html, body { margin:0; padding:0; background:var(--bg); color:var(--text); font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu; }\n    .wrap { max-width:1200px; margin:24px auto; padding:0 16px; }\n    .card { background:var(--card); border:1px solid var(--border); border-radius:16px; padding:16px; box-shadow:0 10px 30px rgba(0,0,0,.25); }\n    .header { display:flex; align-items:center; gap:12px; margin-bottom:6px; }\n    .logo { width:36px; height:36px; border-radius:8px; object-fit:contain; background:#0f172a; border:1px solid var(--border); display:none; }\n    .title { font-size:20px; margin:0; }\n    .sub { font-size:12px; color:var(--muted); margin:0 0 12px; }\n    .toolbar { display:flex; gap:8px; align-items:center; margin:12px 0 16px; flex-wrap:wrap; }\n    .toolbar input[type=\"text\"]{ flex:1; min-width:220px; padding:10px 12px; border-radius:12px; border:1px solid var(--border); background:#0f172a; color:var(--text); outline:none; }\n    .btn{ padding:10px 14px; border-radius:12px; border:1px solid var(--border); background:var(--highlight); color:var(--text); cursor:pointer; text-decoration:none; display:inline-block; }\n    .btn:hover{ filter:brightness(1.1); }\n    .pill { display:inline-block; background:#0f172a; border:1px solid var(--border); border-radius:999px; padding:4px 10px; font-size:12px; color:var(--muted); }\n    .table-wrap { max-height:65vh; overflow:auto; border:1px solid var(--border); border-radius:12px; }\n    table { width:100%; border-collapse:collapse; }\n    thead th { position:sticky; top:0; background:#0f172a; border-bottom:1px solid var(--border); text-align:left; padding:10px; font-weight:600; }\n    tbody td { border-bottom:1px solid var(--border); padding:10px; vertical-align:top; }\n    tbody tr:hover{ background:rgba(59,130,246,.08); }\n    .warn { margin-top:10px; color:#fbbf24; font-size:13px; }\n    .footer { display:flex; justify-content:space-between; align-items:center; margin-top:10px; color:var(--muted); font-size:12px; }\n  </style>\n</head>\n<body>\n  <div class=\"wrap\">\n    <div class=\"card\">\n      <div class=\"header\">\n        <img id=\"logo\" class=\"logo\" alt=\"Logo\">\n        <h1 class=\"title\">Visualização de Dados</h1>\n      </div>\n      <p class=\"sub\">Busca rápida e exportação via servidor (compatível com chat/iframe)</p>\n\n      <div class=\"toolbar\">\n        <input id=\"search\" type=\"text\" placeholder=\"Buscar em qualquer coluna…\">\n        <span class=\"pill\" id=\"countInfo\">0 linhas</span>\n\n        <!-- botões que apontam para endpoints do n8n -->\n        <a class=\"btn\" id=\"exportXls\" href=\"${urlXls}\" target=\"_blank\" rel=\"noopener\">Exportar Excel (.xls)</a>\n      </div>\n\n      <div class=\"table-wrap\">\n        <table id=\"tbl\">\n          <thead><tr id=\"theadRow\"></tr></thead>\n          <tbody id=\"tbody\"></tbody>\n        </table>\n      </div>\n\n      <div id=\"warn\" class=\"warn\" style=\"display:none\">⚠️ Não encontrei dados — verifique se a primeira linha tem cabeçalhos separados por “|”.</div>\n\n      <div class=\"footer\">\n        <span>O CSV/XLS é gerado no servidor com base nos dados filtrados originais.</span>\n        <span>HTML autônomo (sem libs).</span>\n      </div>\n    </div>\n  </div>\n\n<script>\n// ====== DADOS EMBUTIDOS ======\nconst RAW_TEXT = \\`${RAW}\\`;\nconst LOGO_URL = ${logoUrl ? '`' + escForTemplate(logoUrl) + '`' : '\"\"'};\n\n// ====== PARSER ======\nfunction parsePipeText(raw){\n  const lines = raw.split(/\\\\r?\\\\n/).map(s => s.trim()).filter(Boolean);\n  if (lines.length === 0) return { headers: [], rows: [] };\n  const split = s => s.split('|').map(x => x.trim());\n  const headers = split(lines[0]);\n  const rows = lines.slice(1).map(l => {\n    const cols = split(l);\n    while (cols.length < headers.length) cols.push(\"\");\n    return cols.slice(0, headers.length);\n  });\n  return { headers, rows };\n}\nconst { headers, rows } = parsePipeText(RAW_TEXT);\n\n// ====== DOM ======\nconst theadRow = document.getElementById('theadRow');\nconst tbody = document.getElementById('tbody');\nconst countInfo = document.getElementById('countInfo');\nconst warn = document.getElementById('warn');\n\n// ====== LOGO ======\n(function setupLogo(){\n  if (!LOGO_URL) return;\n  const img = document.getElementById('logo');\n  img.src = LOGO_URL;\n  img.style.display = 'block';\n})();\n\n// ====== RENDER ======\nfunction renderTable(hds, rws){\n  theadRow.innerHTML = \"\";\n  hds.forEach(h => { const th = document.createElement('th'); th.textContent = h; theadRow.appendChild(th); });\n  tbody.innerHTML = \"\";\n  rws.forEach(cols => {\n    const tr = document.createElement('tr');\n    cols.forEach(c => { const td = document.createElement('td'); td.textContent = c; tr.appendChild(td); });\n    tbody.appendChild(tr);\n  });\n  countInfo.textContent = rws.length + ' linhas';\n  warn.style.display = (!hds.length || rws.length === 0) ? '' : 'none';\n}\n\nlet filtered = rows.slice();\nrenderTable(headers, filtered);\n\n// ====== BUSCA ======\ndocument.getElementById('search').addEventListener('input', (e)=>{\n  const q = e.target.value.toLowerCase();\n  filtered = !q ? rows.slice() : rows.filter(cols => cols.some(c => (c||\"\").toLowerCase().includes(q)));\n  renderTable(headers, filtered);\n});\n</script>\n</body>\n</html>`;\n\n// ==== IMPORTANTE: além do HTML, vamos salvar também o .TXT no servidor ====\n// isso é necessário para os endpoints /visualizar-csv e /visualizar-xls gerarem os arquivos.\n// Portanto, este node retorna DOIS binários: \"data\" (HTML) e \"raw\" (TXT).\nconst base64Html = Buffer.from(html, 'utf8').toString('base64');\nconst base64Txt  = Buffer.from(rawText, 'utf8').toString('base64');\n\nreturn [{\n  json: {\n    fileName,\n    txtName: `visualizador_${id}.txt`,\n    html,\n    text: rawText,\n    id\n  },\n  binary: {\n    data: { data: base64Html, fileName, mimeType: 'text/html' },\n    raw:  { data: base64Txt,  fileName: `visualizador_${id}.txt`, mimeType: 'text/plain; charset=utf-8' }\n  }\n}];\n"
      },
      "id": "3a3fbb31-5880-4d93-98e7-3c633ea5a78c",
      "name": "Code — Montar HTML + binário",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        -816
      ]
    },
    {
      "parameters": {
        "fileName": "=/tmp/{{$json.fileName}}",
        "options": {
          "append": false
        }
      },
      "id": "b3c8f17d-e7e5-40c3-a560-2b4dc960ba93",
      "name": "Write Binary File — /tmp",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        -1216,
        -704
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "url",
              "stringValue": "={{`https://n8n.srv954202.hstgr.cloud/webhook/visualizar-html?id=` + $('Code — Gerar ID + passar texto').item.json.id}}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "3b2f23d8-8b32-4a70-806c-cb1c3984a260",
      "name": "Set — Montar URL Ver em HTML",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1360,
        -448
      ]
    },
    {
      "parameters": {
        "fileName": "=/tmp/{{$json.txtName}}",
        "options": {
          "append": false
        }
      },
      "id": "2c7274d5-bfe7-4ae0-9371-703d4e62077a",
      "name": "Write Binary File — /tmp1",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        -1568,
        -432
      ]
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extract SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run SQL query": {
      "main": [
        [
          {
            "node": "Format query results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract SQL query": {
      "main": [
        [
          {
            "node": "Check if query exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format query results": {
      "main": [
        [
          {
            "node": "Combine query result and chat answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Check if query exists": {
      "main": [
        [
          {
            "node": "Run SQL query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combine query result and chat answer",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract data from file": {
      "main": [
        [
          {
            "node": "Combine schema data and chat input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine schema data and chat input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine query result and chat answer": {
      "main": [
        [
          {
            "node": "Code — Gerar ID + passar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract data from file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Gerar ID + passar texto": {
      "main": [
        [
          {
            "node": "Code — Montar HTML + binário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Montar HTML + binário": {
      "main": [
        [
          {
            "node": "Write Binary File — /tmp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File — /tmp": {
      "main": [
        [
          {
            "node": "Write Binary File — /tmp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Montar URL Ver em HTML": {
      "main": [
        [
          {
            "node": "Prepare final output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File — /tmp1": {
      "main": [
        [
          {
            "node": "Set — Montar URL Ver em HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "23092017-7097-42c6-8e3e-bcb12c1a5a1b",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-09T20:51:37.368Z",
      "updatedAt": "2025-09-09T20:51:37.368Z",
      "role": "workflow:owner",
      "workflowId": "C9TZ6eGp3SIruhT1",
      "projectId": "bDUBly1zU3yziLIn"
    }
  ],
  "tags": [],
  "hasBackup": false,
  "backupData": null,
  "backupUpdatedAt": null,
  "parseError": "The first argument must be of type string or an instance of Buffer, ArrayBuffer, or Array or an Array-like Object. Received undefined",
  "workflowId": "C9TZ6eGp3SIruhT1",
  "workflowName": "Modulo IA - IManager Historias",
  "filePath": "backups/workflows/C9TZ6eGp3SIruhT1.json",
  "workflowUpdatedAt": "2025-09-19T11:57:32.000Z",
  "status": "CRIAR"
}