backups/workflows/vPorTWGU8bCWw8CZ.json
{
  "createdAt": "2025-09-19T11:56:09.866Z",
  "updatedAt": "2025-11-12T19:13:41.000Z",
  "id": "vPorTWGU8bCWw8CZ",
  "name": "Datamobil - IManager - Homologação",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "50d08652-15ce-4365-8808-568665d0b64d",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -1744,
        256
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "4173ce8e-d94e-48f4-9c74-fcdaee40c90e",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -864,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "7ae7b2da-a7dc-496c-b26b-a76317bc66bd",
      "name": "Extract data from file",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -2352,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Basta digitar o que deseja, como por exemplo: 'Listar todos os meus clientes contratuais'.\"\n\"O sistema interpretará sua solicitação, montará a query e trará os resultados.",
        "options": {
          "subtitle": "Sua interface inteligente para transformar linguagem de negócio em resultados de dados.",
          "title": "Bem-vindo(a) ao QueryBot !!!"
        }
      },
      "id": "a39b4c2d-4650-4f9c-b35c-1639081ed04e",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -2800,
        16
      ],
      "webhookId": "c308dec7-655c-4b79-832e-991bd8ea891f",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Here is the database schema: {{ $json.schema }}\nHere is the user request: {{ $('Chat Trigger').item.json.chatInput }}",
        "options": {
          "humanMessage": "TOOLS\n------\nAssistant can ask the user to use tools to look up information that may be helpful in answering the users original question. The tools the human can use are:\n\n{tools}\n\n{format_instructions}\n\nUSER'S INPUT\n--------------------\nHere is the user's input (remember to respond with a markdown code snippet of a json blob with a single action, and NOTHING else):\n\n{{input}}",
          "systemMessage": "Você é um gerador de SQL para MySQL 8.0+ guiado por um JSON de esquema chamado SCHEMA.\n\nOBJETIVO\n- Sua saída deve ser APENAS a query SQL pura, nada mais.\n\nESTRUTURA DO SCHEMA (referência)\n- SCHEMA.tabelas[*].nome                      → nome da tabela\n- SCHEMA.tabelas[*].colunas[*].nome           → nome da coluna\n- SCHEMA.tabelas[*].colunas[*].fk             → pode ser:\n   a) null (sem FK),\n   b) objeto único com chaves \"constraint\", \"tabela_referenciada\", \"coluna_referenciada\",\n   c) lista de objetos no mesmo formato (múltiplas FKs possíveis).\n- Use essas FKs como fonte de verdade para descobrir relacionamentos.\n\nREGRAS OBRIGATÓRIAS\n- Use somente tabelas de SCHEMA.tabelas[*].nome e colunas de SCHEMA.tabelas[*].colunas[*].nome.\n- Descoberta de JOINs: construa caminhos apenas a partir das FKs presentes em colunas (direto ou via tabelas-ponte). Aceite ambos os sentidos A→B ou B←A.\n- Proibição: é terminantemente proibido referenciar colunas de uma tabela que não esteja no FROM/JOIN. Se precisar de colunas de outra tabela, encontre um caminho via FK e inclua o JOIN. Se não existir caminho, responda: Não é possível gerar: relacionamento inexistente no SCHEMA.\n- Caminho obrigatório para a tabela `produto`: quando qualquer coluna de `produto` for usada, inclua o JOIN por FK: `produto`.`Prod_Codigo` = `contrato_itens`.`Prod_Codigo`. O caminho completo é: cliente → contrato → contrato_itens → produto. Se não for possível alcançar `produto` por esse caminho, responda: Não é possível gerar: relacionamento inexistente no SCHEMA.\n- Alias obrigatórios: toda tabela no FROM/JOIN deve receber alias curto (ex.: cliente c, contrato ct, contrato_itens ci, produto p, cidade cd, contrato_dados_sigiloso cds, contrato_item_dados_sigiloso cids). Após atribuir alias, use apenas alias no SELECT/WHERE/GROUP/ORDER.\n- Dialeto: MySQL 8.0. Use crases em identificadores: `alias`.`coluna`. Evite SELECT *; escolha colunas necessárias. Para contagens, use COUNT(*).\n- Compatível com ONLY_FULL_GROUP_BY: se houver GROUP BY, inclua todas as colunas não agregadas do SELECT no GROUP BY.\n- Nunca use funções de janela (ROW_NUMBER, LAG, LEAD etc.) em WHERE, HAVING, JOIN ON ou GROUP BY. Se precisar, calcule em subquery/CTE e filtre fora.\n- Apenas SELECT (inclui WITH … SELECT). Se o usuário pedir DDL/DML, responda exatamente: Somente SELECT é permitido.\n- Não infira filtros não solicitados. Só inclua WHERE quando explicitado pelo usuário ou quando for estritamente necessário para o encadeamento de joins conforme o SCHEMA.\n\nVALIDAÇÕES ANTES DE RESPONDER\n1) Tabelas e colunas existem no SCHEMA?\n2) Todos os JOINs derivam de FKs do SCHEMA (diretas ou via ponte)?\n3) Toda coluna referenciada pertence a uma tabela presente no FROM/JOIN com alias?\n4) Se houver referência a `p.*` (produto), existe JOIN produto via FK `ci.Prod_Codigo = p.Prod_Codigo`?\n5) Se houver GROUP BY, todas as colunas não agregadas do SELECT estão nele?\n6) Saída começa por SELECT ou WITH, termina com “;” e não contém explicações, comentários, JSON ou markdown?\n\nFORMATO DA SAÍDA (INVIOLÁVEL)\n- Retorne somente a query SQL pura.\n- A resposta DEVE começar com SELECT ou WITH e terminar com “;”.\n\nRESPOSTAS EM CASO DE ERRO (sem SQL)\n- Relacionamento ausente: Não é possível gerar: relacionamento inexistente no SCHEMA.\n- Elemento ausente (tabela/coluna): Não é possível gerar: elemento ausente no SCHEMA.\n- Pedido não-SELECT: Somente SELECT é permitido.\n\nEXEMPLOS (formato; sem markdown)\n\nUsuário: Quantos negócios em aberto existem no funil do produto InovaPay?\nAssistente:\nSELECT COUNT(*) AS `Negocios_Em_Aberto`\nFROM `pipeline_negocio` AS pn\nJOIN `pipeline_negocio_produto` AS pnp\n  ON pnp.`Negoc_Codigo` = pn.`Negoc_Codigo`\nJOIN `produto` AS p\n  ON p.`Prod_Codigo` = pnp.`Prod_Codigo`\nWHERE p.`Prod_Descricao` = 'InovaPay'\n  AND pn.`Negoc_Data_Final_Etapa` IS NULL;\n\nUsuário: Junte pipeline_negocio direto em produto e conte os abertos.\nAssistente:\nNão é possível gerar: relacionamento inexistente no SCHEMA.\n\nUsuário: Traga código e nome do cliente, descrição do produto, valor mensal sigiloso, UF e data de vencimento do contrato atual, apenas para clientes contratuais.\nAssistente:\nSELECT\n  c.`Cli_Codigo`,\n  c.`Cli_Nome`,\n  p.`Prod_Descricao`,\n  ci.`ContratoItem_codigo`,\n  cids.`ItemDadosSigiloso_Valor_Mensal`,\n  cd.`Cidade_UF`,\n  cds.`CDSig_Data_Vencimento_Contrato_Atual`\nFROM `cliente` AS c\nJOIN `contrato` AS ct\n  ON ct.`Cli_Codigo` = c.`Cli_Codigo`\nJOIN `contrato_itens` AS ci\n  ON ci.`Contrato_Codigo` = ct.`Contrato_Codigo`\nJOIN `produto` AS p\n  ON p.`Prod_Codigo` = ci.`Prod_Codigo`\nJOIN `contrato_item_dados_sigiloso` AS cids\n  ON cids.`ContratoItem_codigo` = ci.`ContratoItem_codigo`\nJOIN `contrato_dados_sigiloso` AS cds\n  ON cds.`Contrato_Codigo` = ct.`Contrato_Codigo`\nJOIN `cidade` AS cd\n  ON cd.`Cidade_Codigo` = c.`Cid_Codigo`\nWHERE c.`Cli_Contratual` = 1\nGROUP BY\n  c.`Cli_Codigo`,\n  c.`Cli_Nome`,\n  p.`Prod_Descricao`,\n  ci.`ContratoItem_codigo`,\n  cids.`ItemDadosSigiloso_Valor_Mensal`,\n  cd.`Cidade_UF`,\n  cds.`CDSig_Data_Vencimento_Contrato_Atual`\nORDER BY c.`Cli_Codigo`;\n\nUsuário: Traga cliente.Cli_Codigo, produto.Prod_Descricao e cidade.Cidade_UF de clientes contratuais.\nAssistente:\nSELECT\n  c.`Cli_Codigo`,\n  p.`Prod_Descricao`,\n  cd.`Cidade_UF`\nFROM `cliente` AS c\nJOIN `contrato` AS ct\n  ON ct.`Cli_Codigo` = c.`Cli_Codigo`\nJOIN `contrato_itens` AS ci\n  ON ci.`Contrato_Codigo` = ct.`Contrato_Codigo`\nJOIN `produto` AS p\n  ON p.`Prod_Codigo` = ci.`Prod_Codigo`\nJOIN `cidade` AS cd\n  ON cd.`Cidade_Codigo` = c.`Cid_Codigo`\nWHERE c.`Cli_Contratual` = 1;\n\nUsuário: Traga produto.Prod_Descricao mas não junte produto.\nAssistente:\nNão é possível gerar: relacionamento inexistente no SCHEMA.\n"
        }
      },
      "id": "fec1c0af-082e-457e-8a4e-cbd7d5611a16",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1840,
        16
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42abd24e-419a-47d6-bc8b-7146dd0b8314",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $('Chat Trigger').first().json.sessionId }}"
            },
            {
              "id": "39244192-a1a6-42fe-bc75-a6fba1f264df",
              "name": "action",
              "type": "string",
              "value": "={{ $('Chat Trigger').first().json.action }}"
            },
            {
              "id": "f78c57d9-df13-43c7-89a7-5387e528107e",
              "name": "chatinput",
              "type": "string",
              "value": "={{ $('Chat Trigger').first().json.chatInput }}"
            },
            {
              "id": "e42b39eb-dfbd-48d9-94ed-d658bdd41454",
              "name": "schema",
              "type": "string",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "313d0cc3-c5ac-402f-945e-91b7f8232811",
      "name": "Combine schema data and chat input",
      "type": "n8n-nodes-base.set",
      "position": [
        -2112,
        16
      ],
      "executeOnce": true,
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ebbe194a-4b8b-44c9-ac19-03cf69d353bf",
              "name": "query",
              "type": "string",
              "value": "={{ ($json.output) }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d1a9e8f0-8cdb-43bd-b146-796ce40121d7",
      "name": "Extract SQL query",
      "type": "n8n-nodes-base.set",
      "position": [
        -1456,
        16
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2963d04d-9d79-49f9-b52a-dc8732aca781",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.query }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6535344e-7801-401a-acb7-30939bac8f91",
      "name": "Check if query exists",
      "type": "n8n-nodes-base.if",
      "position": [
        -1200,
        16
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f944d21f-6aac-4842-8926-4108d6cad4bf",
              "name": "sqloutput",
              "type": "string",
              "value": "={{ Object.keys($jmespath($input.all(),'[].json')[0]).join(' | ') }} \n{{ ($jmespath($input.all(),'[].json')).map(obj => Object.values(obj).join(' | ')).join('\\n') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "548519c1-638f-45db-9dff-5083e41291a0",
      "name": "Format query results",
      "type": "n8n-nodes-base.set",
      "position": [
        -96,
        -160
      ],
      "executeOnce": true,
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $('Extract SQL query').item.json.query }}",
        "options": {}
      },
      "id": "9cc4f9d0-aac8-4330-a070-73c5367ec6a2",
      "name": "Run SQL query",
      "type": "n8n-nodes-base.mySql",
      "position": [
        -288,
        -160
      ],
      "typeVersion": 2.4,
      "credentials": {
        "mySql": {
          "id": "ibMc1UUku1ELHHBe",
          "name": "MySQL account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa55e186-1535-4923-aee4-e088ca69575b",
              "name": "output",
              "type": "string",
              "value": "={{ $('Format query results').item.json.sqloutput }}\n\n\n\n\n\n📊 Resultado disponível também em HTML:\n👉 [Clique aqui para visualizar !!! ]({{$json.url}})"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "5e432497-68af-44c1-b33d-256595a19baf",
      "name": "Prepare final output",
      "type": "n8n-nodes-base.set",
      "position": [
        704,
        400
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "temperature": 0,
          "topP": 1
        }
      },
      "id": "301f6266-6e9c-45ef-87bb-97c49225ae95",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1840,
        256
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "TYSxLrFJQF99nShO",
          "name": "OpenAi Geral"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1v-Mu5ZJFEEbIYtsZyosR_d4QuG-Jdden",
          "mode": "list",
          "cachedResultName": "IManager.Json",
          "cachedResultUrl": "https://drive.google.com/file/d/1v-Mu5ZJFEEbIYtsZyosR_d4QuG-Jdden/view?usp=drivesdk"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2576,
        16
      ],
      "id": "d4d78b9d-9a34-44b1-bae0-f3e74c7ae3e2",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "A7dItjE7OWcTVPSQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gera ID e garante que o texto entre com o nome correto\nconst id = (Date.now().toString(36) + Math.random().toString(36).slice(2, 8)).toUpperCase();\n\n// Tenta achar o texto em vários campos, priorizando 'sqloutput'\nconst text =\n  String(\n    $input.first().json.sqloutput??\n    \"\"\n  );\n\nreturn [{\n  json: {\n    id,\n    text,            // <- daqui em diante usamos SEMPRE $json.text\n    sqloutput: text  // (opcional) mantém também em sqloutput pra sua resposta em texto\n  }\n}];\n"
      },
      "id": "2b754ffd-a2e6-47ea-a793-ea20dc11f186",
      "name": "Code — Gerar ID + passar texto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===== ENTRADAS ESPERADAS =====\n// $json.id   -> gerado no nó \"Gerar ID + passar texto\"\n// $json.text -> texto com pipes (1ª linha = cabeçalhos)\n// $json.logoUrl (opcional) -> URL do logo a exibir\n\nconst id = String($input.first().json.id || \"\");\nconst rawText = String($input.first().json.text || \"\");\nconst logoUrl = \"https://inovamobil.com.br/wp-content/uploads/2023/06/Inovamobil-branco.svg\";\n\n// >>> ajuste aqui se sua instância usa base path (ex.: \"/n8n\")\nconst BASE_PATH = \"\"; // ex.: \"/n8n\"   | deixe \"\" se não houver base path\nconst HOST = \"https://n8n.srv954202.hstgr.cloud\"; // seu domínio público do n8n\n\n// funções utilitárias\nfunction escForTemplate(s) {\n  return String(s)\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/`/g, '\\\\`')\n    .replace(/\\$\\{/g, '\\\\${');\n}\nconst RAW = escForTemplate(rawText);\n\nconst fileName = `visualizador_${id}.html`;\nconst urlCsv = `${HOST}${BASE_PATH}/webhook/visualizar-csv?id=${id}`;\nconst urlXls = `${HOST}${BASE_PATH}/webhook/visualizar-xls?id=${id}`;\n\nconst html = `<!doctype html>\n<html lang=\"pt-br\">\n<head>\n  <meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>Tabela — Visualização + Exportar</title>\n  <style>\n    :root{ --bg:#0b0e14; --card:#121826; --muted:#a5b1c2; --text:#e6edf3; --border:#273043; --highlight:#1e293b; }\n    html, body { margin:0; padding:0; background:var(--bg); color:var(--text); font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu; }\n    .wrap { max-width:1200px; margin:24px auto; padding:0 16px; }\n    .card { background:var(--card); border:1px solid var(--border); border-radius:16px; padding:16px; box-shadow:0 10px 30px rgba(0,0,0,.25); }\n    .header { display:flex; align-items:center; gap:12px; margin-bottom:6px; }\n    .logo { width:36px; height:36px; border-radius:8px; object-fit:contain; background:#0f172a; border:1px solid var(--border); display:none; }\n    .title { font-size:20px; margin:0; }\n    .sub { font-size:12px; color:var(--muted); margin:0 0 12px; }\n    .toolbar { display:flex; gap:8px; align-items:center; margin:12px 0 16px; flex-wrap:wrap; }\n    .toolbar input[type=\"text\"]{ flex:1; min-width:220px; padding:10px 12px; border-radius:12px; border:1px solid var(--border); background:#0f172a; color:var(--text); outline:none; }\n    .btn{ padding:10px 14px; border-radius:12px; border:1px solid var(--border); background:var(--highlight); color:var(--text); cursor:pointer; text-decoration:none; display:inline-block; }\n    .btn:hover{ filter:brightness(1.1); }\n    .pill { display:inline-block; background:#0f172a; border:1px solid var(--border); border-radius:999px; padding:4px 10px; font-size:12px; color:var(--muted); }\n    .table-wrap { max-height:65vh; overflow:auto; border:1px solid var(--border); border-radius:12px; }\n    table { width:100%; border-collapse:collapse; }\n    thead th { position:sticky; top:0; background:#0f172a; border-bottom:1px solid var(--border); text-align:left; padding:10px; font-weight:600; }\n    tbody td { border-bottom:1px solid var(--border); padding:10px; vertical-align:top; }\n    tbody tr:hover{ background:rgba(59,130,246,.08); }\n    .warn { margin-top:10px; color:#fbbf24; font-size:13px; }\n    .footer { display:flex; justify-content:space-between; align-items:center; margin-top:10px; color:var(--muted); font-size:12px; }\n  </style>\n</head>\n<body>\n  <div class=\"wrap\">\n    <div class=\"card\">\n      <div class=\"header\">\n        <img id=\"logo\" class=\"logo\" alt=\"Logo\">\n        <h1 class=\"title\">Visualização de Dados</h1>\n      </div>\n      <p class=\"sub\">Busca rápida e exportação via servidor (compatível com chat/iframe)</p>\n\n      <div class=\"toolbar\">\n        <input id=\"search\" type=\"text\" placeholder=\"Buscar em qualquer coluna…\">\n        <span class=\"pill\" id=\"countInfo\">0 linhas</span>\n\n        <!-- botões que apontam para endpoints do n8n -->\n        <a class=\"btn\" id=\"exportXls\" href=\"${urlXls}\" target=\"_blank\" rel=\"noopener\">Exportar Excel (.xls)</a>\n      </div>\n\n      <div class=\"table-wrap\">\n        <table id=\"tbl\">\n          <thead><tr id=\"theadRow\"></tr></thead>\n          <tbody id=\"tbody\"></tbody>\n        </table>\n      </div>\n\n      <div id=\"warn\" class=\"warn\" style=\"display:none\">⚠️ Não encontrei dados — verifique se a primeira linha tem cabeçalhos separados por “|”.</div>\n\n      <div class=\"footer\">\n        <span>O CSV/XLS é gerado no servidor com base nos dados filtrados originais.</span>\n        <span>HTML autônomo (sem libs).</span>\n      </div>\n    </div>\n  </div>\n\n<script>\n// ====== DADOS EMBUTIDOS ======\nconst RAW_TEXT = \\`${RAW}\\`;\nconst LOGO_URL = ${logoUrl ? '`' + escForTemplate(logoUrl) + '`' : '\"\"'};\n\n// ====== PARSER ======\nfunction parsePipeText(raw){\n  const lines = raw.split(/\\\\r?\\\\n/).map(s => s.trim()).filter(Boolean);\n  if (lines.length === 0) return { headers: [], rows: [] };\n  const split = s => s.split('|').map(x => x.trim());\n  const headers = split(lines[0]);\n  const rows = lines.slice(1).map(l => {\n    const cols = split(l);\n    while (cols.length < headers.length) cols.push(\"\");\n    return cols.slice(0, headers.length);\n  });\n  return { headers, rows };\n}\nconst { headers, rows } = parsePipeText(RAW_TEXT);\n\n// ====== DOM ======\nconst theadRow = document.getElementById('theadRow');\nconst tbody = document.getElementById('tbody');\nconst countInfo = document.getElementById('countInfo');\nconst warn = document.getElementById('warn');\n\n// ====== LOGO ======\n(function setupLogo(){\n  if (!LOGO_URL) return;\n  const img = document.getElementById('logo');\n  img.src = LOGO_URL;\n  img.style.display = 'block';\n})();\n\n// ====== RENDER ======\nfunction renderTable(hds, rws){\n  theadRow.innerHTML = \"\";\n  hds.forEach(h => { const th = document.createElement('th'); th.textContent = h; theadRow.appendChild(th); });\n  tbody.innerHTML = \"\";\n  rws.forEach(cols => {\n    const tr = document.createElement('tr');\n    cols.forEach(c => { const td = document.createElement('td'); td.textContent = c; tr.appendChild(td); });\n    tbody.appendChild(tr);\n  });\n  countInfo.textContent = rws.length + ' linhas';\n  warn.style.display = (!hds.length || rws.length === 0) ? '' : 'none';\n}\n\nlet filtered = rows.slice();\nrenderTable(headers, filtered);\n\n// ====== BUSCA ======\ndocument.getElementById('search').addEventListener('input', (e)=>{\n  const q = e.target.value.toLowerCase();\n  filtered = !q ? rows.slice() : rows.filter(cols => cols.some(c => (c||\"\").toLowerCase().includes(q)));\n  renderTable(headers, filtered);\n});\n</script>\n</body>\n</html>`;\n\n// ==== IMPORTANTE: além do HTML, vamos salvar também o .TXT no servidor ====\n// isso é necessário para os endpoints /visualizar-csv e /visualizar-xls gerarem os arquivos.\n// Portanto, este node retorna DOIS binários: \"data\" (HTML) e \"raw\" (TXT).\nconst base64Html = Buffer.from(html, 'utf8').toString('base64');\nconst base64Txt  = Buffer.from(rawText, 'utf8').toString('base64');\n\nreturn [{\n  json: {\n    fileName,\n    txtName: `visualizador_${id}.txt`,\n    html,\n    text: rawText,\n    id\n  },\n  binary: {\n    data: { data: base64Html, fileName, mimeType: 'text/html' },\n    raw:  { data: base64Txt,  fileName: `visualizador_${id}.txt`, mimeType: 'text/plain; charset=utf-8' }\n  }\n}];\n"
      },
      "id": "fca77679-c7d7-4a16-92d1-3c740b547ec4",
      "name": "Code — Montar HTML + binário",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        16
      ]
    },
    {
      "parameters": {
        "fileName": "=/tmp/{{$json.fileName}}",
        "options": {
          "append": false
        }
      },
      "id": "cd27db2b-8510-4f7c-b1fd-a2e2059a8394",
      "name": "Write Binary File — /tmp",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        576,
        128
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "url",
              "stringValue": "={{`https://n8n.srv954202.hstgr.cloud/webhook/visualizar-html?id=` + $('Code — Gerar ID + passar texto').item.json.id}}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "052c232e-20f6-4a29-a314-5e700dbc03ca",
      "name": "Set — Montar URL Ver em HTML",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        432,
        384
      ]
    },
    {
      "parameters": {
        "fileName": "=/tmp/{{$json.txtName}}",
        "options": {
          "append": false
        }
      },
      "id": "fdef797b-e63d-4276-91b1-ce0f2e1b2a29",
      "name": "Write Binary File — /tmp1",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        224,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Entrada: { sql: \"SELECT ...\", userPrompt: \"...\" }  (ajuste nomes se preciso)\nlet sql = ($('Extract SQL query').first().json.query || \"\").trim();\n\n// 1) Remove comentários (-- e /* */) e normaliza espaços\nconst stripComments = s => {\n  // remove /* ... */ (multilinha)\n  s = s.replace(/\\/\\*[\\s\\S]*?\\*\\//g, ' ');\n  // remove -- até o fim da linha\n  s = s.replace(/--.*$/gm, ' ');\n  return s;\n};\nconst cleaned = stripComments(sql).replace(/\\s+/g, ' ').trim();\n\nconst forbidden = /\\b(SOMENTE|INSERT|PROVIDED|UPDATE|DELETE|MERGE|CREATE|ALTER|DROP|TRUNCATE|GRANT|REVOKE|COMMENT|VACUUM|COPY|REFRESH|CALL|DO|BEGIN|COMMIT|ROLLBACK|SET|LOCK|CLUSTER|REINDEX|DISCARD)\\b/i;\nif (forbidden.test(cleaned)) {\n  return [{ \n    allowed: false, \n    reason: \"Contém comando proibido.\", \n    message: \"Somente SELECT é permitido. Não posso executar DDL/DML.\" \n  }];\n}\n\nreturn [{ allowed: true, sql }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        -144
      ],
      "id": "bca6dd9e-349c-4e92-b769-82464478447c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f8f105fa-8e7c-4309-9cd9-9a5c987ed77f",
              "leftValue": "={{ $json.allowed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -528,
        -144
      ],
      "id": "f327e62b-834f-410b-8b52-46d9c7eddd28",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "let raw = ($('Extract SQL query').first().json.query || \"\").trim();\nif (typeof raw !== \"string\") raw = String(raw);\n\n// tira blocos markdown\nraw = raw.replace(/```sql|```/gi, \"\");\n\n// captura apenas a query (SELECT/WITH até ;)\nconst m = raw.match(/(SELECT|WITH)\\b[\\s\\S]*?;/i);\nif (!m) {\n  return [{ json: { Erro: \"Saída não contém SQL pura\", SaidaOriginal: raw } }];\n}\n\nreturn [{ json: { sql: m[0].trim() } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        -144
      ],
      "id": "ec026dbd-c1bb-4d84-be54-b46f3a435e04",
      "name": "Limpar query"
    }
  ],
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Extract data from file": {
      "main": [
        [
          {
            "node": "Combine schema data and chat input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extract SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine schema data and chat input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract SQL query": {
      "main": [
        [
          {
            "node": "Check if query exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if query exists": {
      "main": [
        [
          {
            "node": "Limpar query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format query results": {
      "main": [
        [
          {
            "node": "Code — Gerar ID + passar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run SQL query": {
      "main": [
        [
          {
            "node": "Format query results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract data from file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Gerar ID + passar texto": {
      "main": [
        [
          {
            "node": "Code — Montar HTML + binário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Montar HTML + binário": {
      "main": [
        [
          {
            "node": "Write Binary File — /tmp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File — /tmp": {
      "main": [
        [
          {
            "node": "Write Binary File — /tmp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Montar URL Ver em HTML": {
      "main": [
        [
          {
            "node": "Prepare final output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File — /tmp1": {
      "main": [
        [
          {
            "node": "Set — Montar URL Ver em HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Run SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "acd04bea-73e5-48dc-85b1-8ebff69fd25d",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-19T11:56:09.870Z",
      "updatedAt": "2025-09-19T11:56:09.870Z",
      "role": "workflow:owner",
      "workflowId": "vPorTWGU8bCWw8CZ",
      "projectId": "bDUBly1zU3yziLIn"
    }
  ],
  "tags": [],
  "hasBackup": false,
  "backupData": null,
  "backupUpdatedAt": null,
  "parseError": "The first argument must be of type string or an instance of Buffer, ArrayBuffer, or Array or an Array-like Object. Received undefined",
  "workflowId": "vPorTWGU8bCWw8CZ",
  "workflowName": "Datamobil - IManager - Homologação",
  "filePath": "backups/workflows/vPorTWGU8bCWw8CZ.json",
  "workflowUpdatedAt": "2025-11-12T19:13:41.000Z",
  "status": "CRIAR"
}