backups/workflows/YXiXOyJg60Ihe5BH.json
{
  "createdAt": "2025-09-11T12:37:42.203Z",
  "updatedAt": "2025-11-12T19:14:43.000Z",
  "id": "YXiXOyJg60Ihe5BH",
  "name": "Processo Seletivo - Administrativo",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Vaga Para Administrativo",
        "formDescription": "Fluxo para análise e validação de Currículos",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome Completo",
              "requiredField": true
            },
            {
              "fieldLabel": "Curriculum",
              "fieldType": "file",
              "acceptFileTypes": ".PDF",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1104,
        0
      ],
      "id": "df946112-e9a9-44c7-8cda-e22d460d0c98",
      "name": "On form submission",
      "webhookId": "dde5fe48-d83b-4a79-a1b8-0232eda334eb"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Curriculum",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -880,
        0
      ],
      "id": "3e8d2b3b-9ce5-4dc0-9a24-1bf2e7802722",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"candidato\": \"string\",\n  \"score_percentual\": 0,\n  \"decisao\": \"APROVAR|TALVEZ|REPROVAR\",\n  \"criterios\": {\n\"experiencia_administrativa_financeira\": {\"nota_0a3\": 0, \"peso\": 3, \"evidencias\": \"string\"},\n    \"competencias_tecnicas\": {\"nota_0a3\": 0, \"peso\": 2, \"evidencias\": \"string\"},\n    \"ferramentas_processos\": {\"nota_0a3\": 0, \"peso\": 2, \"evidencias\": \"string\"},\n  \"comunicacao_relacionamento\": {\"nota_0a3\": 0, \"peso\": 2, \"evidencias\": \"string\"},\n    \"perfil_comportamental\": {\"nota_0a3\": 0, \"peso\": 1, \"evidencias\": \"string\"},\n    \"aprendizado_mercado\": {\"nota_0a3\": 0, \"peso\": 1, \"evidencias\": \"string\"},\n  \"disponibilidade_requisitos\": {\"nota_0a3\": 0, \"peso\": 1, \"evidencias\": \"string\"}\n  },\n  \"red_flags\": \"string\",\n  \"observacoes\": \"string\",\n\"itens_para_validar_na_entrevista\": \"string\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -528,
        224
      ],
      "id": "0d143303-9746-4584-8dc6-bd06fc45d73a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fa077ee-5773-41be-8651-892dc63590c6",
              "name": "Candidato",
              "value": "={{ $json.output.candidato }}",
              "type": "string"
            },
            {
              "id": "f95143cd-e620-4681-9c1c-8ee9bde46476",
              "name": "Score_Percentual",
              "value": "={{ $json.output.score_percentual }}",
              "type": "number"
            },
            {
              "id": "48427f7b-0359-4d98-aea9-a8e027bdebda",
              "name": "Decisão",
              "value": "={{ $json.output.decisao }}",
              "type": "string"
            },
            {
              "id": "4ab2e780-b127-4388-af6b-683ba9e07910",
              "name": "Experiencia_Administrativa_Financeira_Nota",
              "value": "={{ $json.output.criterios.experiencia_administrativa_financeira.nota_0a3 }}",
              "type": "number"
            },
            {
              "id": "772c644e-2f4a-4717-8318-044119763509",
              "name": "Experiencia_Administrativa_Financeira_Evidencias",
              "value": "={{ $json.output.criterios.experiencia_administrativa_financeira.evidencias }}",
              "type": "string"
            },
            {
              "id": "794b03bb-2a5c-4d5a-8f54-6a8801063e9f",
              "name": "Competencias_tecnicas_Nota",
              "value": "={{ $json.output.criterios.competencias_tecnicas.nota_0a3 }}",
              "type": "number"
            },
            {
              "id": "006bd732-fc04-48f0-bbb9-297d2806ca77",
              "name": "Competencias_tecnicas_Evidencias",
              "value": "={{ $json.output.criterios.competencias_tecnicas.evidencias }}",
              "type": "string"
            },
            {
              "id": "e72012bb-5e5d-4264-bb18-93bd0683a2df",
              "name": "Conhecimento_Ferramenta_Processos_Nota",
              "value": "={{ $json.output.criterios.ferramentas_processos.nota_0a3 }}",
              "type": "number"
            },
            {
              "id": "d4044610-bbce-43b8-adac-cddef43d5afd",
              "name": "Conhecimento_Ferramenta_Processos_Evidencias",
              "value": "={{ $json.output.criterios.ferramentas_processos.evidencias }}",
              "type": "string"
            },
            {
              "id": "6d049ab0-e99e-4194-9c9f-8036a08e1cf7",
              "name": "Comunicacao_relacionamento_Nota",
              "value": "={{ $json.output.criterios.comunicacao_relacionamento.nota_0a3 }}",
              "type": "number"
            },
            {
              "id": "5e7df0e7-9aaa-4267-ba93-13091f643dc1",
              "name": "Comunicacao_relacionamento_Evidencia",
              "value": "={{ $json.output.criterios.comunicacao_relacionamento.evidencias }}",
              "type": "string"
            },
            {
              "id": "dd109daa-345b-4e75-8992-8a791f2eedbc",
              "name": "Perfil_comportamental_Nota",
              "value": "={{ $json.output.criterios.perfil_comportamental.nota_0a3 }}",
              "type": "number"
            },
            {
              "id": "176a4c5b-9078-4e48-9be2-7e9527aba052",
              "name": "Perfil_comportamental_Evidencias",
              "value": "={{ $json.output.criterios.perfil_comportamental.evidencias }}",
              "type": "string"
            },
            {
              "id": "dcc985be-804b-4477-a67a-954e838679dc",
              "name": "Aprendizado_Mercado_Nota",
              "value": "={{ $json.output.criterios.aprendizado_mercado.nota_0a3 }}",
              "type": "number"
            },
            {
              "id": "13ed3a72-4bb0-41b4-a52c-fb8e68ae78c4",
              "name": "Aprendizado_Mercado_Evidencias",
              "value": "={{ $json.output.criterios.aprendizado_mercado.evidencias }}",
              "type": "string"
            },
            {
              "id": "7902085c-1a5b-472b-afe2-0da12f64ea2c",
              "name": "Requsiitos_Diversos_Nota",
              "value": "={{ $json.output.criterios.disponibilidade_requisitos.nota_0a3 }}",
              "type": "number"
            },
            {
              "id": "bb78f584-4153-49c7-a358-5108f25b278a",
              "name": "Requisitos_Diversos_Evidencias",
              "value": "={{ $json.output.criterios.disponibilidade_requisitos.evidencias }}",
              "type": "string"
            },
            {
              "id": "325a2972-c3a2-44fe-95f9-3a2d87d2d976",
              "name": "Observações",
              "value": "={{ $json.output.observacoes }}",
              "type": "string"
            },
            {
              "id": "b69d408a-2980-4647-9358-78097a71a981",
              "name": "Alertas_Atenção",
              "value": "={{ $json.output.red_flags}}",
              "type": "string"
            },
            {
              "id": "56e54573-ebb2-4c0a-a5bc-ebd274c2c995",
              "name": "Validar_Na_Entrevista",
              "value": "={{ $json.output.itens_para_validar_na_entrevista }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        0
      ],
      "id": "47faa42b-76e1-4bf4-8a84-6969d34666aa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -640,
        224
      ],
      "id": "e140aeea-942b-4dcd-aed0-33ff17ba2894",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TYSxLrFJQF99nShO",
          "name": "OpenAi Geral"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um Assistente de Recrutamento especializado em triagem de currículos para a vaga de Administrativo (com foco financeiro, fiscal, faturamento e entradas). Sua missão é avaliar perfis de forma objetiva e padronizada, seguindo os critérios e pesos abaixo, sem inferir informações não presentes no currículo/portfólio/linkedin.\n\nRegras gerais\n\nIdioma: responda em PT-BR.\n\nFontes: use apenas o que estiver no currículo/links fornecidos. Se algo não estiver explícito, marque como não evidenciado (0).\n\nSem viés: avalie apenas competências, resultados e aderência; não considere idade, gênero, endereço, foto, etc.\n\nTransparência: mostre como pontuou cada critério.\n\nRigor: não “adivinhe”. Se o termo for ambíguo, explique a interpretação.\n\nContexto do negócio: trate “setor_alvo” informado pelo usuário como prioritário para avaliar aderência setorial.\n\nCritérios e Pesos (0–3 por item; some e aplique pesos)\n\nAtribua 0=ausente, 1=básico, 2=intermediário, 3=avançado. Multiplique pelo peso.\n\nExperiência Administrativa & Financeira (peso 3)\nTempo total em funções administrativas\nAtuação em financeiro (contas a pagar, contas a receber, conciliações)\nExperiência em fiscal (notas fiscais, tributos, obrigações acessórias)\nExperiência em faturamento e processos de entrada/saída de mercadorias\n\nCompetências Técnicas (peso 2)\nConhecimento em legislação fiscal/tributária (ISS, ICMS, PIS/COFINS, retenções)\nExperiência em lançamentos contábeis\nDomínio de Excel/planilhas/pacote office\n\nFerramentas & Processos (peso 2)\nSistemas de ERP/contábil (SAP, Totvs, Omie, Protheus, etc.)\nRotinas de conciliação bancária e fechamento contábil\nGeração de relatórios financeiros e gerenciais\n\nComunicação & Relacionamento (peso 2)\nClareza na comunicação escrita (relatórios, e-mails) e verbal (reuniões)\nRelacionamento interpessoal com áreas correlatas (compras, vendas, RH)\nCapacidade de atendimento a fornecedores e clientes internos/externos\n\nPerfil & Comportamentos (peso 1)\nOrganização e disciplina\nAtenção a detalhes e precisão\nÉtica e responsabilidade com informações sensíveis\n\nAprendizado & Produto/Mercado (peso 1)\nRapidez em aprender novas ferramentas/sistemas\nAtualização em legislação fiscal/financeira\nInglês ou outro idioma aplicado a relatórios/documentação (se aplicável)\n\nDisponibilidade & Requisitos (peso 1)\nModelo de trabalho (presencial/híbrido/remoto) conforme necessidade\nInício imediato (se crítico)\nDisponibilidade para eventuais horas extras/fechamentos\n\nRed Flags (apenas sinalizar; não zera automaticamente)\nGaps longos sem explicação\nAlta rotatividade sem justificativa plausível\nResultados vagos/sem evidência\nInconsistências (datas, cargos, declarações)\n\nCálculo\nPara cada subcritério: 0–3 × peso do bloco.\n\nScore final (%) = (pontos obtidos ÷ pontos possíveis) × 100.\n\nDecisão padrão:\n- Aprovar ≥ 70%\n- Talvez 60–69% (justifique o que confirmar em entrevista técnica)\n- Reprovar < 60%\n- Ajuste fino permitido: ±5 p.p. se houver forte aderência setorial ou provas numéricas robustas (explique o ajuste).\n\nResumo executivo (humano): 5–10 linhas, direto ao ponto.\n\nSaída (obrigatório este formato)\n\nTabela de pontuação por critério (curta).\n\nForças, Lacunas, Red Flags (bullets).\n\nRecomendação final (Aprovar / Talvez / Reprovar + breve justificativa).\n\nJSON (em bloco de código) exatamente com este schema:\n\n{\n  \"candidato\": \"string\",\n  \"score_percentual\": 0,\n  \"decisao\": \"APROVAR|TALVEZ|REPROVAR\",\n  \"criterios\": {\n    \"experiencia_administrativa_financeira\": {\"nota_0a3\": 0, \"peso\": 3, \"evidencias\": \"string\"},\n    \"competencias_tecnicas\": {\"nota_0a3\": 0, \"peso\": 2, \"evidencias\": \"string\"},\n    \"ferramentas_processos\": {\"nota_0a3\": 0, \"peso\": 2, \"evidencias\": \"string\"},\n    \"comunicacao_relacionamento\": {\"nota_0a3\": 0, \"peso\": 2, \"evidencias\": \"string\"},\n    \"perfil_comportamental\": {\"nota_0a3\": 0, \"peso\": 1, \"evidencias\": \"string\"},\n    \"aprendizado_mercado\": {\"nota_0a3\": 0, \"peso\": 1, \"evidencias\": \"string\"},\n    \"disponibilidade_requisitos\": {\"nota_0a3\": 0, \"peso\": 1, \"evidencias\": \"string\"}\n  },\n  \"red_flags\": \"string\",\n  \"observacoes\": \"string\",\n  \"itens_para_validar_na_entrevista\": \"string\"\n}\n\nTarefa: Avalie o(s) currículo(s) abaixo segundo o rubric acima, calcule o score final e emita a recomendação. Siga o formato de saída obrigatório.\n\nO curriculo do candidato é esse :  {{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um avaliador de curriculo para a vaga de Administrativo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -656,
        0
      ],
      "id": "9a93529e-4b90-4c87-9286-b1755f19eaf7",
      "name": "Análise de Curriculum"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1l4IhwDWbUPtyCFqhdqZRw1XGQc-Xs8tEsXfxkhuel2k/edit?gid=581737609#gid=581737609",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 581737609,
          "mode": "list",
          "cachedResultName": "Adm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l4IhwDWbUPtyCFqhdqZRw1XGQc-Xs8tEsXfxkhuel2k/edit#gid=581737609"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Candidato",
              "displayName": "Candidato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score_Percentual",
              "displayName": "Score_Percentual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Decisão",
              "displayName": "Decisão",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Experiencia_Administrativa_Financeira_Nota",
              "displayName": "Experiencia_Administrativa_Financeira_Nota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Experiencia_Administrativa_Financeira_Evidencias",
              "displayName": "Experiencia_Administrativa_Financeira_Evidencias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tecnica_Administrativa_Financeira_Nota",
              "displayName": "Tecnica_Administrativa_Financeira_Nota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tecnica_Administrativa_Financeira_Evidencias",
              "displayName": "Tecnica_Administrativa_Financeira_Evidencias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Conhecimento_Ferramenta_Processos_Nota",
              "displayName": "Conhecimento_Ferramenta_Processos_Nota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conhecimento_Ferramenta_Processos_Evidencias",
              "displayName": "Conhecimento_Ferramenta_Processos_Evidencias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comunicacao_relacionamento_Nota",
              "displayName": "Comunicacao_relacionamento_Nota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comunicacao_relacionamento_Evidencia",
              "displayName": "Comunicacao_relacionamento_Evidencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Perfil_comportamental_Nota",
              "displayName": "Perfil_comportamental_Nota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Perfil_comportamental_Evidencias",
              "displayName": "Perfil_comportamental_Evidencias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Aprendizado_Mercado_Nota",
              "displayName": "Aprendizado_Mercado_Nota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Aprendizado_Mercado_Evidencias",
              "displayName": "Aprendizado_Mercado_Evidencias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requsiitos_Diversos_Nota",
              "displayName": "Requsiitos_Diversos_Nota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requisitos_Diversos_Evidencias",
              "displayName": "Requisitos_Diversos_Evidencias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Observações",
              "displayName": "Observações",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alertas_Atenção",
              "displayName": "Alertas_Atenção",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Validar_Na_Entrevista",
              "displayName": "Validar_Na_Entrevista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tecnica_administrativa_financeira_Nota",
              "displayName": "Tecnica_administrativa_financeira_Nota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tecnica_administrativa_financeira_Evidencias",
              "displayName": "Tecnica_administrativa_financeira_Evidencias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -80,
        0
      ],
      "id": "34368b0a-3fc7-4c90-9c1a-abdb231f65c0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g9Zp5OvaHGq7yKjs",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Análise de Curriculum",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Análise de Curriculum",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Análise de Curriculum",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Análise de Curriculum": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e9bd301a-ce3a-41b8-923c-404eb69651f4",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-11T12:37:42.209Z",
      "updatedAt": "2025-09-11T12:37:42.209Z",
      "role": "workflow:owner",
      "workflowId": "YXiXOyJg60Ihe5BH",
      "projectId": "bDUBly1zU3yziLIn"
    }
  ],
  "tags": [],
  "hasBackup": false,
  "backupData": null,
  "backupUpdatedAt": null,
  "parseError": "The first argument must be of type string or an instance of Buffer, ArrayBuffer, or Array or an Array-like Object. Received undefined",
  "workflowId": "YXiXOyJg60Ihe5BH",
  "workflowName": "Processo Seletivo - Administrativo",
  "filePath": "backups/workflows/YXiXOyJg60Ihe5BH.json",
  "workflowUpdatedAt": "2025-11-12T19:14:43.000Z",
  "status": "CRIAR"
}